<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
       xmlns:r="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j" xmlns:c="http://java.sun.com/jsp/jstl/core" >

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">

        <r:tabPanel id="tabPanel" activeItem="#{richTabPanelBean.attributes['activeItem'].value}"
            cycledSwitching="#{richTabPanelBean.attributes['cycledSwitching'].value}"
            dir="#{richTabPanelBean.attributes['dir'].value}"
            headerAlignment="#{richTabPanelBean.attributes['headerAlignment'].value}"
            headerPosition="#{richTabPanelBean.attributes['headerPosition'].value}"
            immediate="#{richTabPanelBean.attributes['immediate'].value}" itemChangeListener="#{richBean.itemChangeListener}"
            lang="#{richTabPanelBean.attributes['lang'].value}"
            onbeforeitemchange="#{richTabPanelBean.attributes['onbeforeitemchange'].value}"
            onclick="#{richTabPanelBean.attributes['onclick'].value}"
            ondblclick="#{richTabPanelBean.attributes['ondblclick'].value}"
            onitemchange="#{richTabPanelBean.attributes['onitemchange'].value}"
            onmousedown="#{richTabPanelBean.attributes['onmousedown'].value}"
            onmousemove="#{richTabPanelBean.attributes['onmousemove'].value}"
            onmouseout="#{richTabPanelBean.attributes['onmouseout'].value}"
            onmouseover="#{richTabPanelBean.attributes['onmouseover'].value}"
            onmouseup="#{richTabPanelBean.attributes['onmouseup'].value}"
            rendered="#{richTabPanelBean.attributes['rendered'].value}" style="#{richTabPanelBean.attributes['style'].value}"
            styleClass="#{richTabPanelBean.attributes['styleClass'].value}"
            switchType="#{richTabPanelBean.attributes['switchType'].value}"
            tabActiveHeaderClass="#{richTabPanelBean.attributes['tabActiveHeaderClass'].value}"
            tabContentClass="#{richTabPanelBean.attributes['tabContentClass'].value}"
            tabDisabledHeaderClass="#{richTabPanelBean.attributes['tabDisabledHeaderClass'].value}"
            tabHeaderClass="#{richTabPanelBean.attributes['tabHeaderClass'].value}"
            tabInactiveHeaderClass="#{richTabPanelBean.attributes['tabInactiveHeaderClass'].value}"
            title="#{richTabPanelBean.attributes['title'].value}">

            <r:tab id="tab1" name="tab1" header="tab1 header">
                    content of tab 1
                </r:tab>
            <r:tab id="tab2" name="tab2" header="tab2 header">
                    content of tab 2
                </r:tab>
            <r:tab id="tab3" name="tab3" header="tab3 header">
                    content of tab 3
                </r:tab>
            <r:tab id="tab4" name="tab4" header="tab4 header" disabled="true">
                    content of tab 4
                </r:tab>
            <r:tab id="tab5" name="tab5" header="tab5 header">
                    content of tab 5
                </r:tab>

            <a4j:repeat id="dynamic" value="#{richTabPanelBean.tabBeans}" var="newTab">
                <r:tab id="tab" name="#{newTab.tabName}">
                        #{newTab.tabContentText}
                        <f:facet name="header">
                        <h:outputText value="#{newTab.tabHeader} " />
                        <h:commandLink value="[x]" rendered="#{newTab.closable}"
                            onclick="removeTab('#{newTab.tabId}'); return false;" />
                    </f:facet>
                </r:tab>
            </a4j:repeat>

        </r:tabPanel>

        <a4j:jsFunction name="removeTab" action="#{richTabPanelBean.removeTab}" render="tabPanel">
            <a4j:param name="removeTabId" />
        </a4j:jsFunction>

        <br />
        <br />
        <fieldset>
            <legend>JavaScript API</legend>

            <script type="text/javascript">
                    testedComponentId = "#{r:clientId('tabPanel')}";
                </script>

            <h:commandButton id="switchButton1" value="switch to tab1">
                <r:componentControl event="click" operation="switchToItem" target="tabPanel">
                    <f:param value="tab1" />
                </r:componentControl>
            </h:commandButton>
            <h:commandButton id="switchButton2" value="switch to tab2">
                <r:componentControl event="click" operation="switchToItem" target="tabPanel">
                    <f:param value="tab2" />
                </r:componentControl>
            </h:commandButton>
            <h:commandButton id="switchButton3" value="switch to tab3">
                <r:componentControl event="click" operation="switchToItem" target="tabPanel">
                    <f:param value="tab3" />
                </r:componentControl>
            </h:commandButton>
            <h:commandButton id="switchButton4" value="switch to tab4">
                <r:componentControl event="click" operation="switchToItem" target="tabPanel">
                    <f:param value="tab4" />
                </r:componentControl>
            </h:commandButton>
            <h:commandButton id="switchButton5" value="switch to tab5">
                <r:componentControl event="click" operation="switchToItem" target="tabPanel">
                    <f:param value="tab5" />
                </r:componentControl>
            </h:commandButton>
            <input type="button" onclick="alert('Value is: ' + RichFaces.component('form:tabPanel').getItems())"
                value="getItems()" name="getItems"></input> <input type="button"
                onclick="alert('Value is: ' + RichFaces.component('form:tabPanel').getItemsNames())" value="getItemsNames()"
                name="getItemsNames"></input>
                <input type="button"
                onclick="alert('Value is: ' + RichFaces.component('form:tabPanel').lastItem())" value="lastItem()"
                name="lastItem"></input>
                <input type="button"
                onclick="alert('Value is: ' + RichFaces.component('form:tabPanel').firstItem())" value="firstItem()"
                name="firstItem"></input>
                <input type="button"
                onclick="alert('Value is: ' + RichFaces.component('form:tabPanel').nextItem())" value="nextItem()"
                name="nextItem"></input>
                <input type="button"
                onclick="alert('Value is: ' + RichFaces.component('form:tabPanel').prevItem())" value="prevItem()"
                name="prevItem"></input>
            <h:commandButton id="hCreateTabButton" value="[h] Create tab" actionListener="#{richTabPanelBean.generateNewTab}" />
            <a4j:commandButton id="a4jCreateTabButton" value="[a4j] Create tab" render="tabPanel"
                actionListener="#{richTabPanelBean.generateNewTab}" />

        </fieldset>

    </ui:define>

    <ui:define name="outOfTemplateAfter">
        <metamer:attributes value="#{richTabPanelBean.attributes}" id="attributes" render="log" />
    </ui:define>

</ui:composition>
</html>
