<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:h="http://java.sun.com/jsf/html">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/list.xhtml">

    <ui:define name="pageTitle">Rich Tab Panel</ui:define>

    <ui:define name="links">

        <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page containing <b>rich:tabPanel</b> and input boxes for all its attributes.
            </metamer:testPageLink>

        <metamer:testPageLink id="addTab" outcome="addTab" value="Add Tab v1">
                Simple page containing <b>rich:tabPanel</b> and buttons for creating new tabs which are iterated using c:forEach.
            </metamer:testPageLink>

        <metamer:testPageLink id="addTab2" outcome="addTab2" value="Add Tab v2">
                Simple page containing <b>rich:tabPanel</b> and buttons for creating new tabs backed by beans iterated by a4j:repeat.
            </metamer:testPageLink>

        <metamer:testPageLink id="addTab3" outcome="addTab3" value="Add Tab v3">
                Simple page containing <b>rich:tabPanel</b> and buttons for creating new tabs programatically and attached using binding.
            </metamer:testPageLink>

        <metamer:testPageLink id="lazyLoading" outcome="lazyLoading" value="Lazy Loading">
                Simple page containing <b>rich:tabPanel</b> demonstrating that ajax-switching tabs causes all tabs to load
                (<h:outputLink id="jiraRF11782"  value="https://issues.jboss.org/browse/RF-11782">RF-11782</h:outputLink>).
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-11814" outcome="rf-11814" value="Tab switch type">
                Simple page containing <b>r:tabPanel</b> demonstrating problem with tab switching when switchType set to ajax
                (<h:outputLink id="JiraRF11814"  value="https://issues.jboss.org/browse/RF-11814">RF-11814</h:outputLink>).
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-11884" outcome="rf-11884" value="RF-11884">
                Simple page that contains <b>r:tabPanel</b> with simple tabs demonstrating unnecessary bottom border in IE8 under tab controls
                (<a href="https://issues.jboss.org/browse/RF-11884">RF-11884</a>)
        </metamer:testPageLink>

        <metamer:testPageLink id="RF-12108" outcome="rf-12108" value="RF-12108">
                <b>Issue summary:</b>Components second tab changes are not rendered after performing some ajax action if attribute ajaxRendered="true" inside r:message located on first tab
                (<a href="https://issues.jboss.org/browse/RF-12108">RF-12108</a>)
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-12291" outcome="rf-12291" value="RF-12291">
                <b>Issue summary:</b>Tab panel issue when using paginated table in one tab
                (<a href="https://issues.jboss.org/browse/RF-12291">RF-12291</a>)
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-12491" outcome="rf-12491" value="RF-12491">
            Page for simulating issue <a href="https://issues.jboss.org/browse/RF-12491">RF-12491</a>.
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-13278" outcome="rf-13278" value="RF-13278">
                Page for simulating issue <a href="https://issues.jboss.org/browse/RF-13278">RF-13278</a>.
        </metamer:testPageLink>

    </ui:define>

</ui:composition>

</html>