<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>
	<ui:define name="component">
		<rich:panel header="Steps to reproduce:">
			<ol>
				<li>Ensure that after reload of page the default rendered tab
					is the second one.</li>
				<li>Fill in the input string.</li>
				<li>See that the the outputText with id out is <b>not</b>
					updated by Ajax with the filled in text.
				</li>
				<li>Click on the first tab.</li>
				<li>Click on the second tab</li>
				<li>Repeat the filling in and see that the expected area is uptated
					by Ajax correctly.</li>
			</ol>
		</rich:panel>
		<rich:tabPanel id="homeTabs" switchType="ajax" immediate="true"
			activeItem="#{tabPanelAjaxBean.selectedTab}"
			itemChangeListener="#{tabPanelAjaxBean.updateCurrent}">

			<rich:tab header="first" name="first">
				<h:inputText label="Name" id="name" required="true"
					value="#{tabPanelAjaxBean.name}">
					<f:validateLength minimum="3" />
				</h:inputText>
				<rich:message for="name" ajaxRendered="true" />
				<a4j:commandButton value="Ajax Validate" />
			</rich:tab>

			<rich:tab header="second" name="second">
				<h:inputText value="#{tabPanelAjaxBean.name}" id="notHandled">
					<a4j:ajax event="keyup" render="out" />
				</h:inputText>
				<h:outputText value="#{tabPanelAjaxBean.name}" id="out" />
			</rich:tab>
		</rich:tabPanel>

	</ui:define>

</ui:composition>
</html>
