<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"	
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      >

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
    <rich:panel id="graphValidatorPanel" header="Many rich components within rich:graphValidator" style="width:800px">
        <rich:messages id="graphValidatorMessages" for="graphValidator" />
        <rich:messages id="graphValidatorGlobalMessages" globalOnly="true" />
        <h:panelGrid columns="6">
            <h:outputText value="Inplace Select" />
            <rich:inplaceSelect id="inplaceSelect" value="#{richGraphValidatorBean.inplaceSelect}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </rich:inplaceSelect>
            <rich:message id="inplaceSelectMsg" for="inplaceSelect" />

            <h:outputText value="Select" />
            <rich:select id="select" value="#{richGraphValidatorBean.select}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </rich:select>
            <rich:message id="selectMsg" for="select" />

            <h:outputText value="Inplace Input" />
            <rich:inplaceInput id="inplaceInput" value="#{richGraphValidatorBean.inplaceInput}" />
            <rich:message id="inplaceInputMsg" for="inplaceInput" />

            <h:outputText value="Input Number Slider" />
            <rich:inputNumberSlider id="inputNumberSlider" value="#{richGraphValidatorBean.inputNumberSlider}" />
            <rich:message id="inputNumberSliderMsg" for="inputNumberSlider" />

            <h:outputText value="Input Number Spinner" />
            <rich:inputNumberSpinner id="inputNumberSpinner" value="#{richGraphValidatorBean.inputNumberSpinner}" />
            <rich:message id="inputNumberSpinnerMsg" for="inputNumberSpinner" />

            <h:outputText value="Autocomplete" />
            <rich:autocomplete id="autocomplete" value="#{richGraphValidatorBean.autocompleteInput}"
                               autocompleteMethod="#{richGraphValidatorBean.autocomplete}" />
            <rich:message id="autocompleteMsg" for="autocomplete" />

            <h:outputText value="Select Boolean Checkbox" />
            <h:selectBooleanCheckbox id="selectBooleanCheckbox" value="#{richGraphValidatorBean.selectBooleanCheckbox}" />
            <rich:message id="selectBooleanCheckboxMsg" for="selectBooleanCheckbox" />

            <h:outputText value="Input Text" />
            <h:inputText id="inputText" value="#{richGraphValidatorBean.inputText}" />
            <rich:message id="inputTextMsg" for="inputText" />

            <h:outputText value="Input Secret" />
            <h:inputSecret id="inputSecret" value="#{richGraphValidatorBean.inputSecret}" />
            <rich:message id="inputSecretMsg" for="inputSecret" />

            <h:outputText value="Calendar" />
            <rich:calendar id="calendar" value="#{richGraphValidatorBean.calendar}" 
                           enableManualInput="true" />
            <rich:message id="calendarMsg" for="calendar" />

            <h:outputText value="Input Text Area" />
            <h:inputTextarea id="inputTextarea" value="#{richGraphValidatorBean.inputTextarea}" />
            <rich:message id="inputTextareaMsg" for="inputTextarea" />

            <h:outputText value="Select One Listbox" />
            <h:selectOneListbox id="selectOneListbox" value="#{richGraphValidatorBean.selectOneListbox}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </h:selectOneListbox>
            <rich:message id="selectOneListboxMsg" for="selectOneListbox" />

            <h:outputText value="Select Many Checkbox" />
            <h:selectManyCheckbox id="selectManyCheckbox" 
                                  value="#{richGraphValidatorBean.selectManyCheckbox}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </h:selectManyCheckbox>
            <rich:message id="selectManyCheckboxMsg" for="selectManyCheckbox" />

            <h:outputText value="Select Many Listbox" />
            <h:selectManyListbox id="selectManyListbox" value="#{richGraphValidatorBean.selectManyListbox}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </h:selectManyListbox>
            <rich:message id="selectManyListboxMsg" for="selectManyListbox" />

            <h:outputText value="Select One Menu" />
            <h:selectOneMenu id="selectOneMenu" value="#{richGraphValidatorBean.selectOneMenu}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </h:selectOneMenu>
            <rich:message id="selectOneMenuMsg" for="selectOneMenu" />

            <h:outputText value="Select Many Menu" />
            <h:selectManyMenu id="selectManyMenu" value="#{richGraphValidatorBean.selectManyMenu}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </h:selectManyMenu>
            <rich:message id="selectManyMenuMsg" for="selectManyMenu" />

            <h:outputText value="Select One Radio" />
            <h:selectOneRadio id="selectOneRadio" value="#{richGraphValidatorBean.selectOneRadio}" >
                <f:selectItems value="#{richGraphValidatorBean.selectItems}" />
            </h:selectOneRadio>
            <rich:message id="selectOneRadioMsg" for="selectOneRadio" />							

        </h:panelGrid>
        <a4j:commandButton id="applyChanges"
                           value="Apply changes" 
                           action="#{richGraphValidatorBean.anotherActionOnAllComponents}" />
    </rich:panel>
</html>