<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:r="http://richfaces.org/rich"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/abstractions/inputValidation/stringInputComponentValidationTemplate.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="js">
            <ui:include src="script.xhtml"/>
        </ui:define>

        <ui:define name="notEmpty">
            <r:select id="notEmpty"
                      defaultLabel="#{richSelectBean.attributes['defaultLabel'].value}"
                      value="#{richSelectBean.notEmptyValue}"
                      >
                <f:selectItems value="#{richSelectBean.validationOptionsNotEmpty}" />
                <a:ajax event="change" render="notEmptyMsg"/>
                <r:validator event="listclick"/>
            </r:select>
        </ui:define>
        <ui:define name="notEmptyOutput">
            <h:outputText id="notEmptyOutput" value="#{richSelectBean.notEmptyValue}"/>
        </ui:define>

        <ui:define name="pattern">
            <r:select id="pattern"
                      defaultLabel="#{richSelectBean.attributes['defaultLabel'].value}"
                      value="#{richSelectBean.patternValue}"
                      >
                <f:selectItems value="#{richSelectBean.validationOptionsPattern}" />
                <a:ajax event="change" render="patternMsg"/>
                <r:validator event="change"/>
            </r:select>
        </ui:define>
        <ui:define name="patternOutput">
            <h:outputText id="patternOutput" value="#{richSelectBean.patternValue}"/>
        </ui:define>

        <ui:define name="size">
            <r:select id="size"
                      defaultLabel="#{richSelectBean.attributes['defaultLabel'].value}"
                      value="#{richSelectBean.sizeValue}"
                      >
                <f:selectItems value="#{richSelectBean.validationOptionsSize}" />
                <a:ajax event="change" render="sizeMsg"/>
                <r:validator event="change"/>
            </r:select>
        </ui:define>
        <ui:define name="sizeOutput">
            <h:outputText id="sizeOutput" value="#{richSelectBean.sizeValue}"/>
        </ui:define>

        <ui:define name="custom">
            <r:select id="custom"
                      defaultLabel="#{richSelectBean.attributes['defaultLabel'].value}"
                      value="#{richSelectBean.customValue}"
                      >
                <f:selectItems value="#{richSelectBean.validationOptionsCustom}" />
                <f:validator validatorId="org.richfaces.StringRichFacesValidator"/>
                <a:ajax event="change" render="customMsg"/>
                <r:validator event="change"/>
            </r:select>
        </ui:define>
        <ui:define name="customOutput">
            <h:outputText id="customOutput" value="#{richSelectBean.customValue}"/>
        </ui:define>

        <ui:define name="required" >
            <r:select id="required" required="true"
                      requiredMessage="#{richSelectBean.attributes['requiredMessage'].value}"
                      value="#{richSelectBean.requiredValue}">
                <f:selectItems value="#{richSelectBean.validationOptionsRequired}" />
                <a:ajax event="change" render="requiredMsg"/>
                <r:validator event="change"/>
            </r:select>
        </ui:define>
        <ui:define name="requiredOutput">
            <h:outputText id="requiredOutput" value="#{richSelectBean.requiredValue}"/>
        </ui:define>
    </ui:composition>
</html>
