<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <r:select id="select"
                      clientFilterFunction="#{richSelectBean.attributes['clientFilterFunction'].value}"
                      converterMessage="#{richSelectBean.attributes['converterMessage'].value}"
                      defaultLabel="#{richSelectBean.attributes['defaultLabel'].value}"
                      disabled="#{richSelectBean.attributes['disabled'].value}"
                      enableManualInput="#{richSelectBean.attributes['enableManualInput'].value}"
                      immediate="#{richSelectBean.attributes['immediate'].value}"
                      itemClass="#{richSelectBean.attributes['itemClass'].value}"
                      listClass="#{richSelectBean.attributes['listClass'].value}"
                      listHeight="#{richSelectBean.attributes['listHeight'].value}"
                      listWidth="#{richSelectBean.attributes['listWidth'].value}"
                      maxListHeight="#{richSelectBean.attributes['maxListHeight'].value}"
                      minListHeight="#{richSelectBean.attributes['minListHeight'].value}"
                      onblur="#{richSelectBean.attributes['onblur'].value}"
                      onchange="#{richSelectBean.attributes['onchange'].value}"
                      onclick="#{richSelectBean.attributes['onclick'].value}"
                      ondblclick="#{richSelectBean.attributes['ondblclick'].value}"
                      onfocus="#{richSelectBean.attributes['onfocus'].value}"
                      onkeydown="#{richSelectBean.attributes['onkeydown'].value}"
                      onkeypress="#{richSelectBean.attributes['onkeypress'].value}"
                      onkeyup="#{richSelectBean.attributes['onkeyup'].value}"
                      onlistclick="#{richSelectBean.attributes['onlistclick'].value}"
                      onlistdblclick="#{richSelectBean.attributes['onlistdblclick'].value}"
                      onlisthide="#{richSelectBean.attributes['onlisthide'].value}"
                      onlistkeydown="#{richSelectBean.attributes['onlistkeydown'].value}"
                      onlistkeypress="#{richSelectBean.attributes['onlistkeypress'].value}"
                      onlistkeyup="#{richSelectBean.attributes['onlistkeyup'].value}"
                      onlistmousedown="#{richSelectBean.attributes['onlistmousedown'].value}"
                      onlistmousemove="#{richSelectBean.attributes['onlistmousemove'].value}"
                      onlistmouseout="#{richSelectBean.attributes['onlistmouseout'].value}"
                      onlistmouseover="#{richSelectBean.attributes['onlistmouseover'].value}"
                      onlistmouseup="#{richSelectBean.attributes['onlistmouseup'].value}"
                      onlistshow="#{richSelectBean.attributes['onlistshow'].value}"
                      onmousedown="#{richSelectBean.attributes['onmousedown'].value}"
                      onmousemove="#{richSelectBean.attributes['onmousemove'].value}"
                      onmouseout="#{richSelectBean.attributes['onmouseout'].value}"
                      onmouseover="#{richSelectBean.attributes['onmouseover'].value}"
                      onmouseup="#{richSelectBean.attributes['onmouseup'].value}"
                      onselectitem="#{richSelectBean.attributes['onselectitem'].value}"
                      rendered="#{richSelectBean.attributes['rendered'].value}"
                      required="#{richSelectBean.attributes['required'].value}"
                      requiredMessage="#{richSelectBean.attributes['requiredMessage'].value}"
                      selectFirst="#{richSelectBean.attributes['selectFirst'].value}"
                      selectItemClass="#{richSelectBean.attributes['selectItemClass'].value}"
                      showButton="#{richSelectBean.attributes['showButton'].value}"
                      style="#{richSelectBean.attributes['style'].value}"
                      styleClass="#{richSelectBean.attributes['styleClass'].value}"
                      title="#{richSelectBean.attributes['title'].value}"
                      value="#{richSelectBean.attributes['value'].value}"
                      valueChangeListener="#{richSelectBean.listener}">

            <f:selectItems value="#{richSelectBean.capitalsOptions}" />
            <f:ajax event="change" render="output :phasesPanel"/>

            </r:select>

            <br/><br/>

            output: <h:outputText id="output" value="#{richSelectBean.attributes['value'].value}"/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richSelectBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>
