<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Select</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page that contains <b>r:select</b> with r:ajax and input boxes for all its attributes. Contains all JS API functions.
            </metamer:testPageLink>

            <metamer:testPageLink id="autocompleteMethod" outcome="autocompleteMethod" value="Autocomplete Functionality">
                Simple page that contains <b>r:select</b> with autocomplete functionality using 'autocompleteMethod' and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="autocompleteList" outcome="autocompleteList" value="Autocomplete Functionality With Custom Filter Function">
                Simple page that contains <b>r:select</b> with autocomplete functionality using 'autocompleteList' and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="validator" outcome="validator" value="Validator">
                Simple page that contains <b>r:select</b> with r:ajax for testing of validator.
            </metamer:testPageLink>

            <metamer:testPageLink id="fAjax" outcome="fAjax" value="f:ajax">
                Simple page that contains <b>r:select</b> with f:ajax and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="csv" outcome="csv" value="Client Side Validation">
                Simple page that contains some <b>r:select</b>s testing client-side validation.
            </metamer:testPageLink>

            <metamer:testPageLink id="jsr303" outcome="jsr303" value="JSR-303 Bean Validation">
                Page containing some <b>r:select</b>s with various JSR-303 validators.
            </metamer:testPageLink>

            <metamer:testPageLink id="validationMessages" outcome="validationMessages" value="Validation messages">
                Page for testing of validation messages.
            </metamer:testPageLink>

            <metamer:testPageLink id="converter" outcome="converter" value="Converter">
                Page for testing of @converter and @converterMessage.
            </metamer:testPageLink>

            <metamer:testPageLink id="RF-12312" outcome="RF-12312" value="RF-12312">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-12312">RF-12312</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-12695" outcome="RF-12695" value="RF-12695">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-12695">RF-12695</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="RF-13383" outcome="RF-13383" value="RF-13383">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13383">RF-13383</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-13852" outcome="RF-13852" value="RF-13852">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13852">RF-13852</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-13864" outcome="RF-13864" value="RF-13864">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13864">RF-13864</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-13899" outcome="RF-13899" value="RF-13899">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13899">RF-13899</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-13912" outcome="RF-13912" value="RF-13912">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13912">RF-13912</a>
            </metamer:testPageLink>
            
        </ui:define>

    </ui:composition>

</html>
