<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:r="http://richfaces.org/rich" xmlns:validationMessages="http://java.sun.com/jsf/composite/validationMessages"
      xmlns:h="http://java.sun.com/jsf/html">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but inAtt ANY WARRANTY; inAtt even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along inBean this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
<ui:composition template="/templates/template.xhtml">
    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">

        <h:panelGrid columns="3">
            <r:validator>
                <h:outputLabel for="csv-inBean" value="Validation messages set in bean:" />
                <r:select id="csv-inBean" value="#{validationMessagesBean.valueWithMessagesCSV}"
                    converter="#{validationMessagesBean.converter}">
                    <f:selectItems value="#{validationMessagesBean.validationOptions}" />
                </r:select>
                <r:message id="csv-inBean-msg" for="csv-inBean" />

            </r:validator>
        </h:panelGrid>

    </ui:define>
</ui:composition>
</html>
