<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <ui:include src="filterFunctions.xhtml"/>
        </ui:define>

        <ui:define name="component">
        	<p>
        		This is reproducer for <a href="https://issues.jboss.org/browse/RF-13899" >https://issues.jboss.org/browse/RF-13899</a> <br />
        		Step to reproduce with unique labels and values:
        		<ul>
        			<li>Select "Colorado" in r:select</li>
        			<li>Click outside of r:select component to send value to server</li>
        			<li>Verify that the output below r:select was changed</li>
        			<li>Click on button in r:select and verify that "Colorado" is highlighted</li>
        		</ul>
    		</p>
            <r:select id="select"
                      value="#{richSelectBean.attributes['value'].value}"
                      valueChangeListener="#{richSelectBean.listener}">

                <f:selectItems value="#{richSelectBean.capitalsOptions}" />
                <a4j:ajax event="change" render="output select"/>

            </r:select>


            <br/>
            <br/>
            output: <h:outputText id="output" value="#{richSelectBean.attributes['value'].value}"/>
            <br/>
            <br/>
            
            <p>
        		Step to reproduce with duplicate labels:
        		<ul>
        			<li>Select first "label1" in r:select</li>
        			<li>Click outside of r:select component to send value to server</li>
        			<li>Verify that the output below r:select was changed to "value1"</li>
        			<li>Click on button in r:select and verify that first "label1" is highlighted</li>
        			<li>Select second "label1" in r:select</li>
        			<li>Click outside of r:select component to send value to server</li>
        			<li>Verify that the output below r:select was changed to "value3"</li>
        			<li>Click on button in r:select and verify that second "label1" is highlighted</li>
        		</ul>
    		</p>
            <r:select id="select2"
                      value="#{richSelectBean.attributes['value'].value}"
                      valueChangeListener="#{richSelectBean.listener}">
				
				<f:selectItem itemLabel="label1" itemValue="value1"/>
				<f:selectItem itemLabel="label2" itemValue="value2"/>
				<f:selectItem itemLabel="label1" itemValue="value3"/>
                <a4j:ajax event="change" render="output2 select2"/>

            </r:select>


            <br/>
            <br/>
            output: <h:outputText id="output2" value="#{richSelectBean.attributes['value'].value}"/>
            <br/>
            <br/>
            
            <p>
        		Step to reproduce with duplicate values:
        		<ul>
        			<li>Select "label1" in r:select</li>
        			<li>Click outside of r:select component to send value to server</li>
        			<li>Verify that the output below r:select was changed to "value1"</li>
        			<li>Click on button in r:select and verify that "label1" is highlighted and label1 is in r:select's input</li>
        			<li>Select "label3" in r:select</li>
        			<li>Click outside of r:select component to send value to server</li>
        			<li>Verify that the output below r:select is still "value1"</li>
        			<li>Click on button in r:select and verify that "label1" is highlighted and label1 is in r:select's input</li>
                    <li>This is really expected behavior, because this use case doesn't follow JSF specification.</li>
        		</ul>
    		</p>
            <r:select id="select3"
                      value="#{richSelectBean.attributes['value'].value}"
                      valueChangeListener="#{richSelectBean.listener}">
				
				<f:selectItem itemLabel="label1" itemValue="value1"/>
				<f:selectItem itemLabel="label2" itemValue="value2"/>
				<f:selectItem itemLabel="label3" itemValue="value1"/>
                <a4j:ajax event="change" render="output3 select3"/>

            </r:select>


            <br/>
            <br/>
            output: <h:outputText id="output3" value="#{richSelectBean.attributes['value'].value}"/>
            <br/>
            <br/>
            
        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>
