<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich" xmlns:validationMessages="http://java.sun.com/jsf/composite/validationMessages"
    xmlns:h="http://java.sun.com/jsf/html">

<!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but inAtt ANY WARRANTY; inAtt even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along inBean this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
<ui:composition template="/templates/template.xhtml">
    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">
        <p>
            Page simulating issue <a href="https://issues.jboss.org/browse/RF-13912">RF-13912</a>. The text should be displayed
            next to select component. Not overlaying it.
        </p>
        <h:panelGrid columns="2">
            <rich:select>
                <f:selectItem itemValue="0" itemLabel="Option 1" />
                <f:selectItem itemValue="1" itemLabel="Option 2" />
                <f:selectItem itemValue="2" itemLabel="Option 3" />
                <f:selectItem itemValue="3" itemLabel="Option 4" />
                <f:selectItem itemValue="4" itemLabel="Option 5" />
                <f:selectItem itemValue="5" itemLabel="Option 6" />
            </rich:select>
            <h:outputText value="text"></h:outputText>
        </h:panelGrid>

    </ui:define>
</ui:composition>
</html>
