<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            California should be the first state.
            <br/>
            <c:choose >
                <c:when test="#{not empty richSelectBean.validatorMessage}">
                    <r:select id="select"
                              validator="org.richfaces.CaliforniaFirstValidator"
                              validatorMessage="#{richSelectBean.validatorMessage}"
                              value="#{richSelectBean.attributes['value'].value}"
                              valueChangeListener="#{richSelectBean.listener}">
                        <f:selectItems value="#{richSelectBean.capitalsOptions}" />
                        <a4j:ajax event="change"/>
                    </r:select>
                </c:when>
                <c:otherwise>
                    <r:select id="select"
                              validator="org.richfaces.CaliforniaFirstValidator"
                              value="#{richSelectBean.attributes['value'].value}"
                              valueChangeListener="#{richSelectBean.listener}">
                        <f:selectItems value="#{richSelectBean.capitalsOptions}" />
                        <a4j:ajax event="change"/>
                    </r:select>
                </c:otherwise>
            </c:choose>
            <r:message id="message" for="select"/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            Validator message:
            <h:inputText id="validatorMessageInput"
                         value="#{richSelectBean.validatorMessage}"
                         onchange="submit();"/>
        </ui:define>

    </ui:composition>
</html>
