<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <h:panelGrid id="panel1Controls" columns="6">
                panel1:
                <h:commandButton id="tc11" value="Item 1">
                    <rich:toggleControl targetPanel="panel1" targetItem="item1" />
                </h:commandButton>
                <h:outputText value=" | " />
                <h:commandButton id="tc12" value="Item 2">
                    <rich:toggleControl targetPanel="panel1" targetItem="item2" />
                </h:commandButton>
                <h:outputText value=" | " />
                <h:commandButton id="tc13" value="Item 3">
                    <rich:toggleControl targetPanel="panel1" targetItem="item3" />
                </h:commandButton>
            </h:panelGrid>

            <h:panelGrid id="panel2Controls" columns="6">
                panel2:
                <h:commandButton id="tc21" value="Item 1">
                    <rich:toggleControl targetPanel="panel2" targetItem="item1" />
                </h:commandButton>
                <h:outputText value=" | " />
                <h:commandButton id="tc22" value="Item 2">
                    <rich:toggleControl targetPanel="panel2" targetItem="item2" />
                </h:commandButton>
                <h:outputText value=" | " />
                <h:commandButton id="tc23" value="Item 3">
                    <rich:toggleControl targetPanel="panel2" targetItem="item3" />
                </h:commandButton>
            </h:panelGrid>

            universal toggle control (settings below)
            <h:commandButton id="tcCustom" value="#{richToggleControlBean.attributes['targetPanel'].value} #{richToggleControlBean.attributes['targetItem'].value}">
                <rich:toggleControl targetPanel="#{richToggleControlBean.attributes['targetPanel'].value}"
                                    targetItem="#{richToggleControlBean.attributes['targetItem'].value}"
                                    />
            </h:commandButton>

            <br/><br/>

            <fieldset>
                <legend>panel1</legend>
                <rich:togglePanel id="panel1" activeItem="item1">
                    <rich:togglePanelItem id="item11" name="item1">
                        <p>content of item 1</p>
                    </rich:togglePanelItem>
                    <rich:togglePanelItem id="item12" name="item2">
                        <p>content of item 2</p>
                    </rich:togglePanelItem>
                    <rich:togglePanelItem id="item13" name="item3">
                        <p>content of item 3</p>
                    </rich:togglePanelItem>
                </rich:togglePanel>
            </fieldset>

            <br/>

            <fieldset>
                <legend>panel2</legend>
                <rich:togglePanel id="panel2" activeItem="item1">
                    <rich:togglePanelItem id="item21" name="item1">
                        <p>content of item 1</p>
                    </rich:togglePanelItem>
                    <rich:togglePanelItem id="item22" name="item2">
                        <p>content of item 2</p>
                    </rich:togglePanelItem>
                    <rich:togglePanelItem id="item23" name="item3">
                        <p>content of item 3</p>
                    </rich:togglePanelItem>
                </rich:togglePanel>
            </fieldset>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <br/>
            Attributes for the first toggle control:
            <br/><br/>
            <metamer:attributes value="#{richToggleControlBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>