<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <rich:inplaceSelect id="inplaceSelect"
                                activeClass="#{richInplaceSelectBean.attributes['activeClass'].value}"
                                changedClass="#{richInplaceSelectBean.attributes['changedClass'].value}"
                                converterMessage="#{richInplaceSelectBean.attributes['converterMessage'].value}"
                                defaultLabel="#{richInplaceSelectBean.attributes['defaultLabel'].value}"
                                disabled="#{richInplaceSelectBean.attributes['disabled'].value}"
                                disabledClass="#{richInplaceSelectBean.attributes['disabledClass'].value}"
                                editEvent="#{richInplaceSelectBean.attributes['editEvent'].value}"
                                immediate="#{richInplaceSelectBean.attributes['immediate'].value}"
                                inputWidth="#{richInplaceSelectBean.attributes['inputWidth'].value}"
                                itemClass="#{richInplaceSelectBean.attributes['itemClass'].value}"
                                listClass="#{richInplaceSelectBean.attributes['listClass'].value}"
                                listHeight="#{richInplaceSelectBean.attributes['listHeight'].value}"
                                listWidth="#{richInplaceSelectBean.attributes['listWidth'].value}"
                                onblur="#{richInplaceSelectBean.attributes['onblur'].value}"
                                onchange="#{richInplaceSelectBean.attributes['onchange'].value}"
                                onclick="#{richInplaceSelectBean.attributes['onclick'].value}"
                                ondblclick="#{richInplaceSelectBean.attributes['ondblclick'].value}"
                                onfocus="#{richInplaceSelectBean.attributes['onfocus'].value}"
                                oninputclick="#{richInplaceSelectBean.attributes['oninputclick'].value}"
                                oninputdblclick="#{richInplaceSelectBean.attributes['oninputdblclick'].value}"
                                oninputkeydown="#{richInplaceSelectBean.attributes['oninputkeydown'].value}"
                                oninputkeypress="#{richInplaceSelectBean.attributes['oninputkeypress'].value}"
                                oninputkeyup="#{richInplaceSelectBean.attributes['oninputkeyup'].value}"
                                oninputmousedown="#{richInplaceSelectBean.attributes['oninputmousedown'].value}"
                                oninputmousemove="#{richInplaceSelectBean.attributes['oninputmousemove'].value}"
                                oninputmouseout="#{richInplaceSelectBean.attributes['oninputmouseout'].value}"
                                oninputmouseover="#{richInplaceSelectBean.attributes['oninputmouseover'].value}"
                                oninputmouseup="#{richInplaceSelectBean.attributes['oninputmouseup'].value}"
                                oninputselect="#{richInplaceSelectBean.attributes['oninputselect'].value}"
                                onkeydown="#{richInplaceSelectBean.attributes['onkeydown'].value}"
                                onkeypress="#{richInplaceSelectBean.attributes['onkeypress'].value}"
                                onkeyup="#{richInplaceSelectBean.attributes['onkeyup'].value}"
                                onlistclick="#{richInplaceSelectBean.attributes['onlistclick'].value}"
                                onlistdblclick="#{richInplaceSelectBean.attributes['onlistdblclick'].value}"
                                onlisthide="#{richInplaceSelectBean.attributes['onlisthide'].value}"
                                onlistkeydown="#{richInplaceSelectBean.attributes['onlistkeydown'].value}"
                                onlistkeypress="#{richInplaceSelectBean.attributes['onlistkeypress'].value}"
                                onlistkeyup="#{richInplaceSelectBean.attributes['onlistkeyup'].value}"
                                onlistmousedown="#{richInplaceSelectBean.attributes['onlistmousedown'].value}"
                                onlistmousemove="#{richInplaceSelectBean.attributes['onlistmousemove'].value}"
                                onlistmouseout="#{richInplaceSelectBean.attributes['onlistmouseout'].value}"
                                onlistmouseover="#{richInplaceSelectBean.attributes['onlistmouseover'].value}"
                                onlistmouseup="#{richInplaceSelectBean.attributes['onlistmouseup'].value}"
                                onlistshow="#{richInplaceSelectBean.attributes['onlistshow'].value}"
                                onmousedown="#{richInplaceSelectBean.attributes['onmousedown'].value}"
                                onmousemove="#{richInplaceSelectBean.attributes['onmousemove'].value}"
                                onmouseout="#{richInplaceSelectBean.attributes['onmouseout'].value}"
                                onmouseover="#{richInplaceSelectBean.attributes['onmouseover'].value}"
                                onmouseup="#{richInplaceSelectBean.attributes['onmouseup'].value}"
                                onselectitem="#{richInplaceSelectBean.attributes['onselectitem'].value}"
                                openOnEdit="#{richInplaceSelectBean.attributes['openOnEdit'].value}"
                                rendered="#{richInplaceSelectBean.attributes['rendered'].value}"
                                saveOnBlur="#{richInplaceSelectBean.attributes['saveOnBlur'].value}"
                                saveOnSelect="#{richInplaceSelectBean.attributes['saveOnSelect'].value}"
                                selectItemClass="#{richInplaceSelectBean.attributes['selectItemClass'].value}"
                                showControls="#{richInplaceSelectBean.attributes['showControls'].value}"
                                style="#{richInplaceSelectBean.attributes['style'].value}"
                                styleClass="#{richInplaceSelectBean.attributes['styleClass'].value}"
                                tabindex="#{richInplaceSelectBean.attributes['tabindex'].value}"
                                title="#{richInplaceSelectBean.attributes['title'].value}"
                                validatorMessage="#{richInplaceSelectBean.attributes['validatorMessage'].value}"
                                value="#{richInplaceSelectBean.attributes['value'].value}"
                                valueChangeListener="#{richInplaceSelectBean.listener}"
                                >

                <f:selectItems value="#{richInplaceSelectBean.capitalsOptions}" />

                <f:ajax event="change" render="output :phasesPanel"/>

            </rich:inplaceSelect>
            <rich:message id="msg" for="inplaceSelect"/>

            <br/><br/>
            <h:commandButton id="hButton" value="h:commandButton" style="margin-right: 10px;"/>
            <a4j:commandButton id="a4jButton" value="a4j:commandButton"/>
            <br/><br/>

            output: <h:outputText id="output" value="#{richInplaceSelectBean.attributes['value'].value}"/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richInplaceSelectBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>