<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <h:panelGrid id="panel" columns="2">
                <h:inputText id="input" value="#{a4jButtonBean.input}" />

                <a4j:commandButton id="a4jCommandButton"
                                   action="#{a4jButtonBean.attributes.action}"
                                   actionListener="#{a4jButtonBean.attributes.actionListener}"
                                   bypassUpdates="#{a4jButtonBean.attributes['bypassUpdates'].value}"
                                   data="#{a4jButtonBean.attributes['data'].value}"
                                   disabled="#{a4jButtonBean.attributes['disabled'].value}"
                                   execute="#{a4jButtonBean.attributes['execute'].value}"
                                   image="/resources/images/star.png"
                                   immediate="#{a4jButtonBean.attributes['immediate'].value}"
                                   limitRender="#{a4jButtonBean.attributes['limitRender'].value}"
                                   onbeforedomupdate="#{a4jButtonBean.attributes['onbeforedomupdate'].value}"
                                   onbegin="#{a4jButtonBean.attributes['onbegin'].value}"
                                   onclick="#{a4jButtonBean.attributes['onclick'].value}"
                                   oncomplete="#{a4jButtonBean.attributes['oncomplete'].value}"
                                   ondblclick="#{a4jButtonBean.attributes['ondblclick'].value}"
                                   onkeydown="#{a4jButtonBean.attributes['onkeydown'].value}"
                                   onkeypress="#{a4jButtonBean.attributes['onkeypress'].value}"
                                   onkeyup="#{a4jButtonBean.attributes['onkeyup'].value}"
                                   onmousedown="#{a4jButtonBean.attributes['onmousedown'].value}"
                                   onmousemove="#{a4jButtonBean.attributes['onmousemove'].value}"
                                   onmouseout="#{a4jButtonBean.attributes['onmouseout'].value}"
                                   onmouseover="#{a4jButtonBean.attributes['onmouseover'].value}"
                                   onmouseup="#{a4jButtonBean.attributes['onmouseup'].value}"
                                   render="#{a4jButtonBean.attributes['render'].value}"
                                   rendered="#{a4jButtonBean.attributes['rendered'].value}"
                                   status="#{a4jButtonBean.attributes['status'].value}"
                                   style="#{a4jButtonBean.attributes['style'].value}"
                                   styleClass="#{a4jButtonBean.attributes['styleClass'].value}"
                                   tabindex="#{a4jButtonBean.attributes['tabindex'].value}"
                                   title="#{a4jButtonBean.attributes['title'].value}"
                                   type="#{a4jButtonBean.attributes['type'].value}"
                                   value="#{a4jButtonBean.attributes['value'].value}"
                                   />
            </h:panelGrid>

            <h:panelGrid id="outputs" columns="2">
                output: <h:outputText value="#{a4jButtonBean.input}" id="output1" />
                action: <h:outputText value="#{a4jButtonBean.input2}" id="output2" />
                action listener:<h:outputText value="#{a4jButtonBean.input3}" id="output3" />
            </h:panelGrid>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jButtonBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>