<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
            <br/>
            <h:outputText value="Show data in table: " />
            <h:selectBooleanCheckbox id="noDataCheckbox" value="#{richSubTableTogglerBean.state}">
                <a4j:ajax render="richDataTable"/>
            </h:selectBooleanCheckbox>
            <br/><br/>
        </ui:define>

        <ui:define name="component">

            <rich:dataTable id="richDataTable" value="#{richSubTableTogglerBean.lists}" var="list">
                <f:facet name="header">
                    <rich:columnGroup>
                        <rich:column id="columnHeaderEmployees" colspan="3">
                            <h:outputText id="columnHeaderEmployeesText" value="Employees" />
                        </rich:column>
                        <rich:column id="columnHeaderName" breakRowBefore="true">
                            <h:outputText id="columnHeaderNameText" value="Name" />
                        </rich:column>
                        <rich:column id="columnHeaderTitle">
                            <h:outputText id="columnHeaderTitleText" value="Title" />
                        </rich:column>
                        <rich:column id="columnHeaderBirthdate">
                            <h:outputText id="columnHeaderBirthdateText" value="Birthdate" />
                        </rich:column>
                    </rich:columnGroup>
                </f:facet>

                <rich:column id="columnTC" colspan="3">
                    <rich:collapsibleSubTableToggler id="subTableTC"
                                                     collapsedIcon="#{richSubTableTogglerBean.attributes['collapsedIcon'].value}"
                                                     collapsedLabel="#{richSubTableTogglerBean.attributes['collapsedLabel'].value}"
                                                     event="#{richSubTableTogglerBean.attributes['event'].value}"
                                                     expandedIcon="#{richSubTableTogglerBean.attributes['expandedIcon'].value}"
                                                     expandedLabel="#{richSubTableTogglerBean.attributes['expandedLabel'].value}"
                                                     rendered="#{richSubTableTogglerBean.attributes['rendered'].value}"
                                                     for="richSubTable"/>
                    <h:outputText value="#{list[0].sex == 'MALE' ? 'Men' : 'Women'}" />
                </rich:column>

                <rich:collapsibleSubTable id="richSubTable"
                                          expandMode="client"
                                          expanded="true"
                                          rows="5"
                                          value="#{richSubTableTogglerBean.state ? list : null}"
                                          var="item">

                    <f:facet name="header">
                        header facet
                    </f:facet>

                    <f:facet name="noData">
                        no data facet
                    </f:facet>

                    <rich:column id="columnName">
                        <h:outputText value="#{item.name}" />
                    </rich:column>
                    <rich:column id="columnTitle">
                        <h:outputText value="#{item.title}" />
                    </rich:column>
                    <rich:column id="columnBirthdate">
                        <h:outputText value="#{item.birthdate}">
                            <f:convertDateTime pattern="d MMM yyyy"/>
                        </h:outputText>
                    </rich:column>

                    <f:facet name="footer">
                        footer facet
                    </f:facet>

                </rich:collapsibleSubTable>
            </rich:dataTable>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richSubTableTogglerBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>