<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <rich:panelMenu id="panelMenu" style="width: 300px;"
                            itemChangeListener="#{richPanelMenuBean.itemChangeListener}">

                <rich:panelMenuGroup id="group1" name="group1" label="Group 1">
                    <rich:panelMenuItem id="item11" name="item11" label="Item 1.1"/>
                    <rich:panelMenuItem id="item12" name="item12" label="Item 1.2" />
                    <rich:panelMenuItem id="item13" name="item13" label="Item 1.3"/>
                </rich:panelMenuGroup>

                <rich:panelMenuGroup id="group2"
                                     name="group2"
                                     label="Group 2 (influenced by attributes)"
                                     action="#{richBean.dummyAction}"
                                     actionListener="#{richBean.dummyActionListener}"
                                     bypassUpdates="#{richPanelMenuGroupBean.attributes['bypassUpdates'].value}"
                                     collapseEvent="#{richPanelMenuGroupBean.attributes['collapseEvent'].value}"
                                     data="#{richPanelMenuGroupBean.attributes['data'].value}"
                                     disabled="#{richPanelMenuGroupBean.attributes['disabled'].value}"
                                     disabledClass="#{richPanelMenuGroupBean.attributes['disabledClass'].value}"
                                     execute="#{richPanelMenuGroupBean.attributes['execute'].value}"
                                     expanded="#{richPanelMenuGroupBean.expanded['group23']}"
                                     expandEvent="#{richPanelMenuGroupBean.attributes['expandEvent'].value}"
                                     hoverClass="#{richPanelMenuGroupBean.attributes['hoverClass'].value}"
                                     immediate="#{richPanelMenuGroupBean.attributes['immediate'].value}"
                                     leftDisabledIcon="#{richPanelMenuGroupBean.attributes['leftDisabledIcon'].value}"
                                     leftExpandedIcon="#{richPanelMenuGroupBean.attributes['leftExpandedIcon'].value}"
                                     leftIconClass="#{richPanelMenuGroupBean.attributes['leftIconClass'].value}"
                                     limitRender="#{richPanelMenuGroupBean.attributes['limitRender'].value}" leftCollapsedIcon="#{richPanelMenuGroupBean.attributes['leftCollapsedIcon'].value}"
                                     mode="#{richPanelMenuGroupBean.attributes['mode'].value}"
                                     onbeforecollapse="#{richPanelMenuGroupBean.attributes['onbeforecollapse'].value}"
                                     onbeforedomupdate="#{richPanelMenuGroupBean.attributes['onbeforedomupdate'].value}"
                                     onbeforeexpand="#{richPanelMenuGroupBean.attributes['onbeforeexpand'].value}"
                                     onbeforeselect="#{richPanelMenuGroupBean.attributes['onbeforeselect'].value}"
                                     onbeforeswitch="#{richPanelMenuGroupBean.attributes['onbeforeswitch'].value}"
                                     onbegin="#{richPanelMenuGroupBean.attributes['onbegin'].value}"
                                     onclick="#{richPanelMenuGroupBean.attributes['onclick'].value}"
                                     oncollapse="#{richPanelMenuGroupBean.attributes['oncollapse'].value}"
                                     oncomplete="#{richPanelMenuGroupBean.attributes['oncomplete'].value}"
                                     ondblclick="#{richPanelMenuGroupBean.attributes['ondblclick'].value}"
                                     onexpand="#{richPanelMenuGroupBean.attributes['onexpand'].value}"
                                     onmousedown="#{richPanelMenuGroupBean.attributes['onmousedown'].value}"
                                     onmousemove="#{richPanelMenuGroupBean.attributes['onmousemove'].value}"
                                     onmouseout="#{richPanelMenuGroupBean.attributes['onmouseout'].value}"
                                     onmouseover="#{richPanelMenuGroupBean.attributes['onmouseover'].value}"
                                     onmouseup="#{richPanelMenuGroupBean.attributes['onmouseup'].value}"
                                     onselect="#{richPanelMenuGroupBean.attributes['onselect'].value}"
                                     onswitch="#{richPanelMenuGroupBean.attributes['onswitch'].value}"
                                     onunselect="#{richPanelMenuGroupBean.attributes['onunselect'].value}"
                                     render="#{richPanelMenuGroupBean.attributes['render'].value}"
                                     rendered="#{richPanelMenuGroupBean.attributes['rendered'].value}"
                                     rightCollapsedIcon="#{richPanelMenuGroupBean.attributes['rightCollapsedIcon'].value}"
                                     rightDisabledIcon="#{richPanelMenuGroupBean.attributes['rightDisabledIcon'].value}"
                                     rightExpandedIcon="#{richPanelMenuGroupBean.attributes['rightExpandedIcon'].value}"
                                     rightIconClass="#{richPanelMenuGroupBean.attributes['rightIconClass'].value}"
                                     selectable="#{richPanelMenuGroupBean.attributes['selectable'].value}"
                                     status="#{richPanelMenuGroupBean.attributes['status'].value}"
                                     style="#{richPanelMenuGroupBean.attributes['style'].value}"
                                     styleClass="#{richPanelMenuGroupBean.attributes['styleClass'].value}"
                                     >
                    <rich:panelMenuItem id="item21" name="item21" label="Item 2.1"/>
                    <rich:panelMenuItem id="item22" name="item22" label="Item 2.2" />

                    <rich:panelMenuGroup id="group23"
                                         name="group23"
                                         label="Group 2.3 (influenced by attributes)"
                                         action="#{richBean.dummyAction}"
                                         actionListener="#{richBean.dummyActionListener}"
                                         bypassUpdates="#{richPanelMenuGroupBean.attributes['bypassUpdates'].value}"
                                         collapseEvent="#{richPanelMenuGroupBean.attributes['collapseEvent'].value}"
                                         data="#{richPanelMenuGroupBean.attributes['data'].value}"
                                         disabled="#{richPanelMenuGroupBean.attributes['disabled'].value}"
                                         disabledClass="#{richPanelMenuGroupBean.attributes['disabledClass'].value}"
                                         execute="#{richPanelMenuGroupBean.attributes['execute'].value}"
                                         expanded="#{richPanelMenuGroupBean.expanded['group23']}"
                                         expandEvent="#{richPanelMenuGroupBean.attributes['expandEvent'].value}"
                                         hoverClass="#{richPanelMenuGroupBean.attributes['hoverClass'].value}"
                                         immediate="#{richPanelMenuGroupBean.attributes['immediate'].value}"
                                         leftDisabledIcon="#{richPanelMenuGroupBean.attributes['leftDisabledIcon'].value}"
                                         leftExpandedIcon="#{richPanelMenuGroupBean.attributes['leftExpandedIcon'].value}"
                                         leftIconClass="#{richPanelMenuGroupBean.attributes['leftIconClass'].value}"
                                         limitRender="#{richPanelMenuGroupBean.attributes['limitRender'].value}" leftCollapsedIcon="#{richPanelMenuGroupBean.attributes['leftCollapsedIcon'].value}"
                                         mode="#{richPanelMenuGroupBean.attributes['mode'].value}"
                                         onbeforecollapse="#{richPanelMenuGroupBean.attributes['onbeforecollapse'].value}"
                                         onbeforedomupdate="#{richPanelMenuGroupBean.attributes['onbeforedomupdate'].value}"
                                         onbeforeexpand="#{richPanelMenuGroupBean.attributes['onbeforeexpand'].value}"
                                         onbeforeselect="#{richPanelMenuGroupBean.attributes['onbeforeselect'].value}"
                                         onbeforeswitch="#{richPanelMenuGroupBean.attributes['onbeforeswitch'].value}"
                                         onbegin="#{richPanelMenuGroupBean.attributes['onbegin'].value}"
                                         onclick="#{richPanelMenuGroupBean.attributes['onclick'].value}"
                                         oncollapse="#{richPanelMenuGroupBean.attributes['oncollapse'].value}"
                                         oncomplete="#{richPanelMenuGroupBean.attributes['oncomplete'].value}"
                                         ondblclick="#{richPanelMenuGroupBean.attributes['ondblclick'].value}"
                                         onexpand="#{richPanelMenuGroupBean.attributes['onexpand'].value}"
                                         onmousedown="#{richPanelMenuGroupBean.attributes['onmousedown'].value}"
                                         onmousemove="#{richPanelMenuGroupBean.attributes['onmousemove'].value}"
                                         onmouseout="#{richPanelMenuGroupBean.attributes['onmouseout'].value}"
                                         onmouseover="#{richPanelMenuGroupBean.attributes['onmouseover'].value}"
                                         onmouseup="#{richPanelMenuGroupBean.attributes['onmouseup'].value}"
                                         onselect="#{richPanelMenuGroupBean.attributes['onselect'].value}"
                                         onswitch="#{richPanelMenuGroupBean.attributes['onswitch'].value}"
                                         onunselect="#{richPanelMenuGroupBean.attributes['onunselect'].value}"
                                         render="#{richPanelMenuGroupBean.attributes['render'].value}"
                                         rendered="#{richPanelMenuGroupBean.attributes['rendered'].value}"
                                         rightCollapsedIcon="#{richPanelMenuGroupBean.attributes['rightCollapsedIcon'].value}"
                                         rightDisabledIcon="#{richPanelMenuGroupBean.attributes['rightDisabledIcon'].value}"
                                         rightExpandedIcon="#{richPanelMenuGroupBean.attributes['rightExpandedIcon'].value}"
                                         rightIconClass="#{richPanelMenuGroupBean.attributes['rightIconClass'].value}"
                                         selectable="#{richPanelMenuGroupBean.attributes['selectable'].value}"
                                         status="#{richPanelMenuGroupBean.attributes['status'].value}"
                                         style="#{richPanelMenuGroupBean.attributes['style'].value}"
                                         styleClass="#{richPanelMenuGroupBean.attributes['styleClass'].value}"
                                         >
                        <rich:panelMenuItem id="item231" name="item231" label="Item 2.3.1"/>
                        <rich:panelMenuItem id="item232" name="item232" label="Item 2.3.2"/>
                        <rich:panelMenuItem id="item233" name="item233" label="Item 2.3.3"/>
                    </rich:panelMenuGroup>

                    <rich:panelMenuItem id="item24" name="item24" label="Item 2.4"/>
                </rich:panelMenuGroup>

                <rich:panelMenuGroup id="group3" name="group3" label="Group 3">
                    <rich:panelMenuItem id="item31" name="item31" label="Item 3.1"/>
                    <rich:panelMenuItem id="item32" name="item32" label="Item 3.2" />
                    <rich:panelMenuItem id="item33" name="item33" label="Item 3.3"/>
                </rich:panelMenuGroup>
            </rich:panelMenu>

            <br/><br/>

            <fieldset>
                <legend>selected item</legend>

                <a4j:outputPanel id="selectedPanel" ajaxRendered="true">
                    <h:outputText id="current" value="#{richPanelMenuBean.activeItem}" />
                </a4j:outputPanel>
            </fieldset>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richPanelMenuGroupBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>