<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:r="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="outOfTemplateBefore" />

        <ui:define name="component">
            <p>
                When @keepSaved=false the component will RESET saved children's state before rendering
                if there are some FacesMessages with Error or higher severity present.
            </p>
            <a4j:outputPanel id="panel" ajaxRendered="true" rendered="true">
                <ui:insert name="testedComponent"/>
            </a4j:outputPanel>
            <r:messages rendered="true" id="messages"/>
            <br/>
            <a4j:commandButton id="submitButton" value="Submit" render="panel"/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <h:panelGrid columns="2">
                keepSaved
                <h:selectOneRadio id="keepSavedInput" value="#{keepSavedBean.keepSaved}" onchange="submit()">
                    <f:selectItem itemValue="" itemLabel="null"/>
                    <f:selectItem itemValue="true" itemLabel="true"/>
                    <f:selectItem itemValue="false" itemLabel="false"/>
                </h:selectOneRadio>
            </h:panelGrid>
        </ui:define>

    </ui:composition>
</html>
