<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
    xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">
    This reproducer shows that (according to documentation) to make inputs inside popup panel work, one hast to set domElementAttachment to 'form'.
    <br /><br />
            domElementAttachment:
            <h:selectOneRadio id="attachmentInput" value="#{richPopupPanelBean.attributes['domElementAttachment'].value}">
            <f:selectItem itemValue="" itemLabel="null" />
            <f:selectItem itemValue="body" itemLabel="body" />
            <f:selectItem itemValue="form" itemLabel="form" />
            <f:selectItem itemValue="parent" itemLabel="parent" />
            <a4j:ajax event="change" render="popupPanel" />
        </h:selectOneRadio>

        <br />
        <br />

            input1 <h:inputText id="input1" value="#{richPopupPanelBean.value1}" tabindex="1" />

        <br />
        <br />

        <h:commandButton id="openPanelButton" value="Call the popup">
            <rich:componentControl target="popupPanel" operation="show" />
        </h:commandButton>

        <rich:popupPanel id="popupPanel" header="header"
            domElementAttachment="#{richPopupPanelBean.attributes['domElementAttachment'].value}">
            <f:facet name="controls">
                <h:outputLink value="#" onclick="#{rich:component('popupPanel')}.hide(); return false;">X</h:outputLink>
            </f:facet>

            <h:panelGrid id="inputs" columns="2">
                    input2 <h:inputText id="input2" value="#{richPopupPanelBean.value2}" tabindex="2" />
                    input3 <h:inputText id="input3" value="#{richPopupPanelBean.value3}" tabindex="3" />
                    input4 <rich:calendar id="input4" tabindex="4" />
                    input5 <rich:inputNumberSlider id="input5" tabindex="5" />
                    input6 <rich:inputNumberSpinner id="input6" tabindex="6" />
            </h:panelGrid>

            <a4j:commandButton action="#{richPopupPanelBean.save}" value="Save" render="output1 output2 output3"
                execute="input1 input2 input3" oncomplete="#{rich:component('popupPanel')}.hide(); return false;"/>
        </rich:popupPanel>

        <h:panelGrid id="outputs" columns="2">
                output1 <h:outputText id="output1" value="#{richPopupPanelBean.value1}" />
                output2 <h:outputText id="output2" value="#{richPopupPanelBean.value2}" />
                output3 <h:outputText id="output3" value="#{richPopupPanelBean.value3}" />
        </h:panelGrid>

    </ui:define>

    <ui:define name="outOfTemplateAfter">
    </ui:define>

</ui:composition>
</html>