<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Popup Panel</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page that contains a <b>r:popupPanel</b>, input boxes for all its attributes and JS API buttons.
            </metamer:testPageLink>

            <metamer:testPageLink id="outsideForm" outcome="outsideForm" value="Outside Form">
                Simple page that contains a <b>r:popupPanel</b> outside form and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="formInsidePanel" outcome="formInsidePanel" value="Inputs Inside">
                Simple page that contains a <b>r:popupPanel</b> with several inputs inside.
            </metamer:testPageLink>

            <metamer:testPageLink id="embedObject" outcome="embedObject" value="Embed object">
                Simple page that contains a <b>r:popupPanel</b>, input boxes for all its attributes and an embed object. For testing of @overlapEmbedObjects.
                Chrome only.
            </metamer:testPageLink>

            <metamer:testPageLink id="zindex" outcome="zindex" value="Without z-index Attribute">
                The sample of <b>r:popupPanel</b> without @zindex.
                <a href="https://issues.jboss.org/browse/RF-14027">RF-14027</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-9653" outcome="rf-9653" value="RF-9653">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-9653">RF-9653</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-11884" outcome="rf-11884" value="RF-11884">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-11884">RF-11884</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13052" outcome="rf-13052" value="RF-13052">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13052">RF-13052</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13139" outcome="rf-13139" value="RF-13139">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13139">RF-13139</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="rf-13655" outcome="rf-13655" value="RF-13655">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13655">RF-13655</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13890" outcome="rf-13890" value="RF-13890">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13890">RF-13890</a>
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>
