<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich" xmlns:a="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="component">
            <b>The popup panel autosize is not working when there are dynamically added rows into the table.</b>
            <h:commandButton id="openPanelButton" value="Call the popup">
                <r:componentControl target="editWindow" operation="show" />
            </h:commandButton>

            <r:popupPanel id="editWindow" autosized="true"
                          domElementAttachment="form">

                <a:outputPanel ajaxRendered="true" id="panelWithTable">
                    <r:extendedDataTable value="#{rf13655.items}" var="beanVar" id="table1">  
                        <r:column id="col1">                        
                            <h:outputText value="#{beanVar}"/>
                        </r:column>  
                    </r:extendedDataTable>  
                </a:outputPanel>
                <a:commandButton actionListener="#{rf13655.addItem}" render="panelWithTable" value="Add row"/>
            </r:popupPanel>
        </ui:define>
    </ui:composition>
</html>
