<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich" xmlns:a="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <p>Reproducer for <a href="https://issues.jboss.org/browse/RF-13139">RF-13139</a> popupPanel duplicated if double clicking links for opening popup</p>
            <p>Not automatized.</p>

            <ol>
                <li>If you click the link below once, it will open a popup panel and followingly you can close the panel and reopen it once again.</li>
                <li>If you double-click the link, it will open the popup panel twice, the one on top can be closed but not the second one.</li>
            </ol>

            <a:commandLink value="openPanelButton" render="popupWrapper" oncomplete="#{r:component('popupPanel')}.show();"
                           action="#{richPopupPanelBean.waitingAction}" />

            <h:panelGroup id="popupWrapper">
                <r:popupPanel id="popupPanel" autosized="#{richPopupPanelBean.attributes['autosized'].value}"
                              controlsClass="#{richPopupPanelBean.attributes['controlsClass'].value}"
                              domElementAttachment="#{richPopupPanelBean.attributes['domElementAttachment'].value}"
                              followByScroll="#{richPopupPanelBean.attributes['followByScroll'].value}"
                              header="#{richPopupPanelBean.attributes['header'].value}"
                              headerClass="#{richPopupPanelBean.attributes['headerClass'].value}"
                              height="#{richPopupPanelBean.attributes['height'].value}"
                              left="#{richPopupPanelBean.attributes['left'].value}"
                              maxHeight="#{richPopupPanelBean.attributes['maxHeight'].value}"
                              maxWidth="#{richPopupPanelBean.attributes['maxWidth'].value}"
                              minHeight="#{richPopupPanelBean.attributes['minHeight'].value}"
                              minWidth="#{richPopupPanelBean.attributes['minWidth'].value}"
                              modal="#{richPopupPanelBean.attributes['modal'].value}"
                              moveable="#{richPopupPanelBean.attributes['moveable'].value}"
                              onbeforehide="#{richPopupPanelBean.attributes['onbeforehide'].value}"
                              onbeforeshow="#{richPopupPanelBean.attributes['onbeforeshow'].value}"
                              onhide="#{richPopupPanelBean.attributes['onhide'].value}"
                              onmaskclick="#{richPopupPanelBean.attributes['onmaskclick'].value}"
                              onmaskcontextmenu="#{richPopupPanelBean.attributes['onmaskcontextmenu'].value}"
                              onmaskdblclick="#{richPopupPanelBean.attributes['onmaskdblclick'].value}"
                              onmaskmousedown="#{richPopupPanelBean.attributes['onmaskmousedown'].value}"
                              onmaskmousemove="#{richPopupPanelBean.attributes['onmaskmousemove'].value}"
                              onmaskmouseout="#{richPopupPanelBean.attributes['onmaskmouseout'].value}"
                              onmaskmouseover="#{richPopupPanelBean.attributes['onmaskmouseover'].value}"
                              onmaskmouseup="#{richPopupPanelBean.attributes['onmaskmouseup'].value}"
                              onmove="#{richPopupPanelBean.attributes['onmove'].value}"
                              onresize="#{richPopupPanelBean.attributes['onresize'].value}"
                              onshow="#{richPopupPanelBean.attributes['onshow'].value}"
                              overlapEmbedObjects="#{richPopupPanelBean.attributes['overlapEmbedObjects'].value}"
                              rendered="#{richPopupPanelBean.attributes['rendered'].value}"
                              resizeable="#{richPopupPanelBean.attributes['resizeable'].value}"
                              shadowDepth="#{richPopupPanelBean.attributes['shadowDepth'].value}"
                              shadowOpacity="#{richPopupPanelBean.attributes['shadowOpacity'].value}"
                              show="#{richPopupPanelBean.attributes['show'].value}" style="#{richPopupPanelBean.attributes['style'].value}"
                              styleClass="#{richPopupPanelBean.attributes['styleClass'].value}"
                              top="#{richPopupPanelBean.attributes['top'].value}"
                              trimOverlayedElements="#{richPopupPanelBean.attributes['trimOverlayedElements'].value}"
                              width="#{richPopupPanelBean.attributes['width'].value}"
                              zindex="#{richPopupPanelBean.attributes['zindex'].value}">
                    <f:facet name="controls">
                        <h:outputLink id="controlsHideLink" value="#"
                                      onclick="#{r:component('popupPanel')}.hide();
                                              return false;">X</h:outputLink>
                    </f:facet>

                    <p
                        style="width: #{not empty richPopupPanelBean.value1
                                        ? (richPopupPanelBean.value1.endsWith('px')? richPopupPanelBean.value1: richPopupPanelBean.value1.concat('px'))
                                        : 'inherited' }">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum magna non justo eleifend
                        ullamcorper. Nulla id libero consectetur mauris rutrum tincidunt. Vestibulum nibh elit, aliquam eget aliquet
                        non, consequat cursus odio. Aenean et libero et lorem sollicitudin ultrices ullamcorper nec odio. Etiam enim
                        sapien, pellentesque at cursus ut, commodo ut tortor. Proin ut urna et risus varius lobortis eget in urna.
                        Integer vitae tortor quis purus volutpat aliquet. Maecenas ultrices magna placerat elit pretium varius.
                        Etiam vitae metus orci, non laoreet metus. Fusce velit lectus, feugiat ullamcorper dictum ut, egestas quis
                        ante. Nulla a ante in ligula euismod ullamcorper nec pulvinar diam. Mauris vitae diam nec diam imperdiet
                        suscipit in ac sem. In hac habitasse platea dictumst. Suspendisse potenti. Ut consectetur, elit in blandit
                        consequat, neque orci aliquet ligula, sit amet sagittis sapien velit a ante. Phasellus mollis, urna sit amet
                        congue ultrices, tortor quam viverra metus, nec ornare nunc mi vitae lacus. Proin quis lectus nunc, id
                        accumsan elit. Donec vitae lorem ac diam molestie condimentum. Suspendisse tempor orci a ligula condimentum
                        non congue urna facilisis. <br />
                        <h:commandButton id="submitButton" value="Submit" />
                        <br /> <a id="contentHideLink" href="#" onclick="#{r:component('popupPanel')}.hide()">hide this panel</a>
                    </p>
                </r:popupPanel>
            </h:panelGroup>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            Popup's paragraph width: <h:inputText id="textWidthInput" value="#{richPopupPanelBean.value1}" onchange="submit()" />
            <br />
            <br />
            <metamer:attributes value="#{richPopupPanelBean.attributes}" id="attributes" render="log" />
        </ui:define>

    </ui:composition>
</html>
