<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <p>
                Open popup, mouseover the panel in popup, tooltip should/shouldn't be cut by the popup panel borders (depends on @trimOverlayedElements).
                <a href="https://issues.jboss.org/browse/RF-9653">RF-9653</a>. Not automatized.
            </p>


            <h:commandButton id="openPanelButton" value="Call the popup">
                <r:componentControl target="popupPanel" operation="show" />
            </h:commandButton>

            <r:popupPanel id="popupPanel"
                          autosized="#{richPopupPanelBean.attributes['autosized'].value}"
                          controlsClass="#{richPopupPanelBean.attributes['controlsClass'].value}"
                          domElementAttachment="#{richPopupPanelBean.attributes['domElementAttachment'].value}"
                          followByScroll="#{richPopupPanelBean.attributes['followByScroll'].value}"
                          header="#{richPopupPanelBean.attributes['header'].value}"
                          headerClass="#{richPopupPanelBean.attributes['headerClass'].value}"
                          height="#{richPopupPanelBean.attributes['height'].value}"
                          left="#{richPopupPanelBean.attributes['left'].value}"
                          maxHeight="#{richPopupPanelBean.attributes['maxHeight'].value}"
                          maxWidth="#{richPopupPanelBean.attributes['maxWidth'].value}"
                          minHeight="#{richPopupPanelBean.attributes['minHeight'].value}"
                          minWidth="#{richPopupPanelBean.attributes['minWidth'].value}"
                          modal="#{richPopupPanelBean.attributes['modal'].value}"
                          moveable="#{richPopupPanelBean.attributes['moveable'].value}"
                          onbeforehide="#{richPopupPanelBean.attributes['onbeforehide'].value}"
                          onbeforeshow="#{richPopupPanelBean.attributes['onbeforeshow'].value}"
                          onhide="#{richPopupPanelBean.attributes['onhide'].value}"
                          onmaskclick="#{richPopupPanelBean.attributes['onmaskclick'].value}"
                          onmaskcontextmenu="#{richPopupPanelBean.attributes['onmaskcontextmenu'].value}"
                          onmaskdblclick="#{richPopupPanelBean.attributes['onmaskdblclick'].value}"
                          onmaskmousedown="#{richPopupPanelBean.attributes['onmaskmousedown'].value}"
                          onmaskmousemove="#{richPopupPanelBean.attributes['onmaskmousemove'].value}"
                          onmaskmouseout="#{richPopupPanelBean.attributes['onmaskmouseout'].value}"
                          onmaskmouseover="#{richPopupPanelBean.attributes['onmaskmouseover'].value}"
                          onmaskmouseup="#{richPopupPanelBean.attributes['onmaskmouseup'].value}"
                          onmove="#{richPopupPanelBean.attributes['onmove'].value}"
                          onresize="#{richPopupPanelBean.attributes['onresize'].value}"
                          onshow="#{richPopupPanelBean.attributes['onshow'].value}"
                          overlapEmbedObjects="#{richPopupPanelBean.attributes['overlapEmbedObjects'].value}"
                          rendered="#{richPopupPanelBean.attributes['rendered'].value}"
                          resizeable="#{richPopupPanelBean.attributes['resizeable'].value}"
                          shadowDepth="#{richPopupPanelBean.attributes['shadowDepth'].value}"
                          shadowOpacity="#{richPopupPanelBean.attributes['shadowOpacity'].value}"
                          show="#{richPopupPanelBean.attributes['show'].value}"
                          style="#{richPopupPanelBean.attributes['style'].value}"
                          styleClass="#{richPopupPanelBean.attributes['styleClass'].value}"
                          top="#{richPopupPanelBean.attributes['top'].value}"
                          trimOverlayedElements="#{richPopupPanelBean.attributes['trimOverlayedElements'].value}"
                          width="#{richPopupPanelBean.attributes['width'].value}"
                          zindex="#{richPopupPanelBean.attributes['zindex'].value}"
                          >
                <f:facet name="controls">
                    <h:outputLink id="controlsHideLink" value="#" onclick="#{r:component('popupPanel')}.hide();
                            return false;">X</h:outputLink>
                </f:facet>
                <r:panel id="panel">
                    <p>Mouseover to show tooltip.</p>
                    <r:tooltip>
                        Tooltip content.
                    </r:tooltip>
                </r:panel>
            </r:popupPanel>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richPopupPanelBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>
