<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:composite="http://java.sun.com/jsf/composite">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <h:body>
        <composite:interface>
            <composite:attribute name="outcome" type="java.lang.String" required="true"/>
            <composite:attribute name="value" type="java.lang.String" required="true"/>
        </composite:interface>

        <composite:implementation>

            <h:outputStylesheet library="metamer" name="css/testPageLink.ecss" />

            <h:link id="link" outcome="#{cc.attrs.outcome}" value="#{cc.attrs.value}" styleClass="link" />
            <h:panelGroup id="desc" layout="block" styleClass="description">
                <composite:insertChildren/>
            </h:panelGroup>

        </composite:implementation>
    </h:body>
</html>
