<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich" xmlns:h="http://java.sun.com/jsf/html" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">
        <a4j:jsFunction name="callAction" render="counter" action="#{richMenuItemBean.incrementCounter()}" />

        <p>
            <a href="https://issues.jboss.org/browse/RF-11971">RF-11971</a>
        </p>

        <rich:menuItem label="Click on Me (With Workaround)" mode="ajax"
            onclick="if (confirm('are you sure?')) { callAction();} else { return; }" />
        <rich:menuItem action="#{richMenuItemBean.incrementCounter()}"
            label="Click on Me (onclick returns false without confirmation)" mode="ajax" render="counter"
            onclick="return confirm('are you sure?')" />
        <rich:menuItem action="#{richMenuItemBean.incrementCounter()}"
            label="Click on Me (onclick returns null without confirmation)" mode="ajax" render="counter"
            onclick="if (confirm('are you sure?')) {return true;} else {return;}" />
        <p>
            <strong>Counter: </strong>
            <h:outputText id="counter" value="#{richMenuItemBean.counter}" />
        </p>
    </ui:define>


</ui:composition>
</html>