<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
    xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">
    <ui:param name="componentId" value="richDataTable" />

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="head" />

    <ui:define name="outOfTemplateBefore">
        <br />

        <h:outputText value="Show data in table: " />
        <h:selectBooleanCheckbox id="noDataCheckbox" value="#{richDataScrollerBean.state}">
            <a4j:ajax render="scroller1 #{nestedComponentId}" />
        </h:selectBooleanCheckbox>
        <br />
        <br />
        <rich:dataScroller id="scroller1" for="#{richDataScrollerBean.attributes['for'].value}"
            boundaryControls="#{richDataScrollerBean.attributes['boundaryControls'].value}"
            data="#{richDataScrollerBean.attributes['data'].value}"
            execute="#{richDataScrollerBean.attributes['execute'].value}"
            fastControls="#{richDataScrollerBean.attributes['fastControls'].value}"
            fastStep="#{richDataScrollerBean.attributes['fastStep'].value}"
            lastPageMode="#{richDataScrollerBean.attributes['lastPageMode'].value}"
            limitRender="#{richDataScrollerBean.attributes['limitRender'].value}"
            maxPages="#{richDataScrollerBean.attributes['maxPages'].value}"
            onbegin="#{richDataScrollerBean.attributes['onbegin'].value}"
            onbeforedomupdate="#{richDataScrollerBean.attributes['onbeforedomupdate'].value}"
            oncomplete="#{richDataScrollerBean.attributes['oncomplete'].value}"
            page="#{richDataScrollerBean.attributes['page'].value}"
            render="#{richDataScrollerBean.attributes['render'].value} #{nestedComponentId}"
            renderIfSinglePage="#{richDataScrollerBean.attributes['renderIfSinglePage'].value}"
            rendered="#{richDataScrollerBean.attributes['rendered'].value}"
            status="#{richDataScrollerBean.attributes['status'].value}"
            stepControls="#{richDataScrollerBean.attributes['stepControls'].value}"
            style="#{richDataScrollerBean.attributes['style'].value}"
            styleClass="#{richDataScrollerBean.attributes['styleClass'].value}"
            title="#{richDataScrollerBean.attributes['title'].value}" />
    </ui:define>

    <ui:define name="component">

        <rich:dataTable id="richDataTable" rows="#{richDataScrollerBean.tableAttributes['rows'].value}"
            value="#{richDataScrollerBean.state ? model.capitals : null}" var="record">

            <f:facet name="noData">
                <h:outputText value="There is no data." style="color: red;" />
            </f:facet>

            <rich:column id="columnState" sortBy="#{record.state}">
                <f:facet name="header">
                    <h:outputText id="columnHeaderState" value="State" />
                </f:facet>

                <h:outputText value="#{record.state}" />
                <f:facet name="footer">
                    <h:outputText id="columnFooterState" value="State" />
                </f:facet>
            </rich:column>

            <rich:column id="columnCapital" sortBy="#{record.name}">
                <f:facet name="header">
                    <h:outputText id="columnHeaderCapital" value="Capital" />
                </f:facet>

                <h:outputText value="#{record.name}" />
                <f:facet name="footer">
                    <h:outputText id="columnFooterCapital" value="Capital" />
                </f:facet>
            </rich:column>

            <f:facet name="footer">
                <rich:dataScroller id="scroller2"
                    boundaryControls="#{richDataScrollerBean.attributes['boundaryControls'].value}"
                    data="#{richDataScrollerBean.attributes['data'].value}"
                    execute="#{richDataScrollerBean.attributes['execute'].value}"
                    fastControls="#{richDataScrollerBean.attributes['fastControls'].value}"
                    fastStep="#{richDataScrollerBean.attributes['fastStep'].value}"
                    first="#{richDataScrollerBean.attributes['first'].value}"
                    lastPageMode="#{richDataScrollerBean.attributes['lastPageMode'].value}"
                    limitRender="#{richDataScrollerBean.attributes['limitRender'].value}"
                    maxPages="#{richDataScrollerBean.attributes['maxPages'].value}"
                    onbegin="#{richDataScrollerBean.attributes['onbegin'].value}"
                    onbeforedomupdate="#{richDataScrollerBean.attributes['onbeforedomupdate'].value}"
                    oncomplete="#{richDataScrollerBean.attributes['oncomplete'].value}"
                    page="#{richDataScrollerBean.attributes['page'].value}"
                    render="#{richDataScrollerBean.attributes['render'].value} scroller1"
                    renderIfSinglePage="#{richDataScrollerBean.attributes['renderIfSinglePage'].value}"
                    rendered="#{richDataScrollerBean.attributes['rendered'].value}"
                    status="#{richDataScrollerBean.attributes['status'].value}"
                    stepControls="#{richDataScrollerBean.attributes['stepControls'].value}"
                    style="#{richDataScrollerBean.attributes['style'].value}"
                    styleClass="#{richDataScrollerBean.attributes['styleClass'].value}"
                    title="#{richDataScrollerBean.attributes['title'].value}" />
            </f:facet>

        </rich:dataTable>
    </ui:define>

    <ui:define name="outOfTemplateAfter">
        <fieldset>
            <legend>JavaScript API - scroller1</legend>
            <h:commandButton id="buttonStpFirst1" value="«« first">
                <rich:componentControl event="click" target="scroller1" operation="switchToPage">
                    <f:param value="first" />
                </rich:componentControl>
            </h:commandButton>

            <h:commandButton id="buttonStpPrev1" value="« previous">
                <rich:componentControl event="click" target="scroller1" operation="switchToPage">
                    <f:param value="fastRewind" />
                </rich:componentControl>
            </h:commandButton>

            <h:commandButton id="buttonStpNext1" value="next »">
                <rich:componentControl event="click" target="scroller1" operation="switchToPage">
                    <f:param value="fastForward" />
                </rich:componentControl>
            </h:commandButton>

            <h:commandButton id="buttonStpLast1" value="last »»">
                <rich:componentControl event="click" target="scroller1" operation="switchToPage">
                    <f:param value="last" />
                </rich:componentControl>
            </h:commandButton>

            <br />

            <h:commandButton id="buttonFirst1" value="«« first">
                <rich:componentControl event="click" target="scroller1" operation="first" />
            </h:commandButton>

            <h:commandButton id="buttonPrev1" value="« previous">
                <rich:componentControl event="click" target="scroller1" operation="previous" />
            </h:commandButton>

            <h:commandButton id="buttonNext1" value="next »">
                <rich:componentControl event="click" target="scroller1" operation="next" />
            </h:commandButton>

            <h:commandButton id="buttonLast1" value="last »»">
                <rich:componentControl event="click" target="scroller1" operation="last" />
            </h:commandButton>
        </fieldset>

        <br />

        <fieldset>
            <legend>JavaScript API - scroller2</legend>
            <h:commandButton id="buttonStpFirst2" value="«« first">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="switchToPage">
                    <f:param value="first" />
                </rich:componentControl>
            </h:commandButton>

            <h:commandButton id="buttonStpPrev2" value="« previous">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="switchToPage">
                    <f:param value="fastRewind" />
                </rich:componentControl>
            </h:commandButton>

            <h:commandButton id="buttonStpNext2" value="next »">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="switchToPage">
                    <f:param value="fastForward" />
                </rich:componentControl>
            </h:commandButton>

            <h:commandButton id="buttonStpLast2" value="last »»">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="switchToPage">
                    <f:param value="last" />
                </rich:componentControl>
            </h:commandButton>

            <br />

            <h:commandButton id="buttonFirst2" value="«« first">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="first" />
            </h:commandButton>

            <h:commandButton id="buttonPrev2" value="« previous">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="previous" />
            </h:commandButton>

            <h:commandButton id="buttonNext2" value="next »">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="next" />
            </h:commandButton>

            <h:commandButton id="buttonLast2" value="last »»">
                <rich:componentControl event="click" target="#{templateBean.componentPrefix}richDataTable:scroller2"
                    operation="last" />
            </h:commandButton>
        </fieldset>

        <br />
        <br />
        <h2>Attributes</h2>
        <metamer:attributes value="#{richDataScrollerBean.attributes}" id="attributes" />
        <h2>Table Attributes</h2>
        <metamer:attributes value="#{richDataScrollerBean.tableAttributes}" id="tableAttributes" />
    </ui:define>

</ui:composition>
</html>