<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>
        <ui:define name="component">
            <!-- manually added richfaces-csv.js, because it is not present on page load and cannot be added from ajax update without re-rendering the whole page -->
            <script src="/metamer/org.richfaces.resources/javax.faces.resource/org.richfaces/richfaces-csv.js" type="text/javascript"/>

            <rich:panel
                header="Blur on input input(need to toggle to render it) does not fire client side validation">
                <h:form id="dummyForm" prependId="false">
                    <h:commandButton id="toggleButton"
                                     value="Toggle"
                                     actionListener="#{rf12031.toggleRender}">
                        <f:ajax execute="@form" render="@form" />
                    </h:commandButton>

                    <!--This will toggle on/off as you click the button above-->
                    <h:panelGroup rendered="#{rf12031.mustRenderThePanel}">
                        <br />
                        <h:inputText id="inputRF12031" value="#{rf12031.firstName}">
                            <rich:validator />
                            <!--this fails to work when you move focus away -->
                        </h:inputText>
                        <rich:message id="msgRF12031" for="inputRF12031" />
                    </h:panelGroup>
                </h:form>
            </rich:panel>
        </ui:define>


    </ui:composition>
</html>
