<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .rf-msg-err {
                    display: block !important;
                    margin-bottom: 6px;
                }
            </style>
        </ui:define>

        <ui:define name="component">
            <script type="text/javascript">
            function setCorrectValues() {
                $('input[id$=min]').val('4'); 
            }

            function setWrongValues() {
                $('input[id$=min]').val('1');
            }
            </script>

            <input id="setCorrectValuesButton" name="setCorrectValuesButton" type="button" value="set correct values" onclick="setCorrectValues()"/>
            <input id="setWrongValuesButton" name="setWrongValuesButton" type="button" value="set wrong values" onclick="setWrongValues()"/>

            <h:panelGrid columns="3">
     
	                <h:outputLabel for="min" value="#{minBean.description}" />
	                <h:inputText id="min" value="#{minBean.value}" label="#{minBean.label}" converter="#{minBean.converter}">
                        <rich:validator data="#{richValidatorBean.attributes['data'].value}"
                                disabled="#{richValidatorBean.attributes['disabled'].value}"
                                immediate="#{richValidatorBean.attributes['immediate'].value}"
                                onbeforedomupdate="#{richValidatorBean.attributes['onbeforedomupdate'].value}"
                                onbeforesubmit="#{richValidatorBean.attributes['onbeforesubmit'].value}"
                                onbegin="#{richValidatorBean.attributes['onbegin'].value}"
                                oncomplete="#{richValidatorBean.attributes['oncomplete'].value}"
                                onerror="#{richValidatorBean.attributes['onerror'].value}"
                                queueId="#{richValidatorBean.attributes['queueId'].value}"
                                status="#{richValidatorBean.attributes['status'].value}"
                                event="blur" />
                    </h:inputText>
	                <rich:message id="minMsg" for="min" />
 
            </h:panelGrid>

            <br/>

            <h:commandButton id="hButton" value="h:commandButton" style="margin-right: 10px;"/>
            <a4j:commandButton id="a4jButton" value="a4j:commandButton"/>

            <br/>
            <rich:messages id="msgs"/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richValidatorBean.attributes}" id="attributes"/>
        </ui:define>

    </ui:composition>
</html>