<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
    xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">

        <rich:pickList id="pickList" listHeight="250px" value="#{richPickListBean.value}" var="tmp">

            <f:selectItems value="#{richPickListBean.capitals}" />

            <h:column id="columnFlag">
                <h:graphicImage name="#{tmp.stateFlag}" />
            </h:column>

            <h:column id="columnCapital">
                <f:facet name="header">
                    <h:outputText id="columnHeaderCapital" value="Capital Header" />
                </f:facet>
                <h:outputText value="#{tmp.name}" />
            </h:column>

            <h:column id="columnState">
                <f:facet name="header">
                    <h:outputText id="columnHeaderState" value="State Header" />
                </f:facet>
                <h:outputText value="#{tmp.state}" />
            </h:column>

        </rich:pickList>

        <rich:hotKey id="richHotKey1"
            enabledInInput="#{richHotKeyBean.attributes['enabledInInput'].value}"
            key="#{richHotKeyBean.attributes['key'].value}"
            onkeydown="#{rich:component('pickList')}.add()"
            preventDefault="#{richHotKeyBean.attributes['preventDefault'].value}"
            rendered="#{richHotKeyBean.attributes['rendered'].value}"
            selector="#{richHotKeyBean.attributes['selector'].value}" />

        <rich:hotKey id="richHotKey2"
            enabledInInput="#{richHotKeyBean.attributes2['enabledInInput'].value}"
            key="#{richHotKeyBean.attributes2['key'].value}"
            onkeydown="#{rich:component('pickList')}.remove()"
            preventDefault="#{richHotKeyBean.attributes['preventDefault'].value}"
            rendered="#{richHotKeyBean.attributes2['rendered'].value}"
            selector="#{richHotKeyBean.attributes2['selector'].value}"/>

    </ui:define>

    <ui:define name="outOfTemplateAfter">
        <fieldset>
            <legend>Hot key that calls pick list's add() function</legend>
            <metamer:attributes value="#{richHotKeyBean.attributes}" id="attributes" />
        </fieldset>

        <br />

        <fieldset>
            <legend>Hot key that calls pick list's remove() function</legend>
            <metamer:attributes value="#{richHotKeyBean.attributes2}" id="attributes2" />
        </fieldset>
        <hr />
        <p>
            Following attributes are hidden: 
        </p>
        <rich:list id="hiddenAttributes" value="#{richHotKeyBean.hiddenAttributes}" var="attribute">
            <h:outputText value="#{attribute}" />
        </rich:list>         
    </ui:define>

</ui:composition>
</html>


