<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
    xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">

        <a4j:log id="log" style="height: 200px;" />

        <a4j:outputPanel id="panel" layout="block">

            <h:inputText id="firstInput" styleClass="first-input" value="first input" />
            <h:inputText id="secondInput" styleClass="second-input" value="second input" />

            <rich:hotKey id="richHotKey1"
                enabledInInput="#{richHotKeyBean.attributes['enabledInInput'].value}"
                key="#{richHotKeyBean.attributes['key'].value}"
                onkeydown="RichFaces.log.info('hotkey 1 : onkeydown')"
                onkeyup="RichFaces.log.info('hotkey 1 : onkeyup')"
                preventDefault="#{richHotKeyBean.attributes['preventDefault'].value}"
                rendered="#{richHotKeyBean.attributes['rendered'].value}"
                selector="#{richHotKeyBean.attributes['selector'].value}"/>

            <rich:hotKey id="richHotKey2"
                enabledInInput="#{richHotKeyBean.attributes2['enabledInInput'].value}"
                key="#{richHotKeyBean.attributes2['key'].value}"
                onkeydown="RichFaces.log.info('hotkey 2 : onkeydown')"
                onkeyup="RichFaces.log.info('hotkey 2 : onkeyup')"
                preventDefault="#{richHotKeyBean.attributes['preventDefault'].value}"
                rendered="#{richHotKeyBean.attributes2['rendered'].value}"
                selector="#{richHotKeyBean.attributes2['selector'].value}"/>

        </a4j:outputPanel>

    </ui:define>

    <ui:define name="outOfTemplateAfter">
        <fieldset>
            <legend>hot key 1</legend>
            <metamer:attributes value="#{richHotKeyBean.attributes}" id="attributes1" />
        </fieldset>

        <br />

        <fieldset>
            <legend>hot key 2</legend>
            <metamer:attributes value="#{richHotKeyBean.attributes2}" id="attributes2" />
        </fieldset>
        <hr />
        <p>
            Following attributes are hidden:
        </p>
        <rich:list id="hiddenAttributes" value="#{richHotKeyBean.hiddenAttributes}" var="attribute">
            <h:outputText value="#{attribute}" />
        </rich:list>
    </ui:define>

    <!-- we don't want two logs on the page -->
    <ui:define name="beforeFooter"></ui:define>

</ui:composition>
</html>
