<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"  xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richPanel.css"/>
        </ui:define>

        <ui:define name="component">

            <rich:panel id="outerPanel" header="outer panel">
                <h:outputText id="contentOuter" value="content of outer panel" style="font-size: x-large"/>

                <h:panelGrid columns="2" columnClasses="grid-content">
                    <rich:panel id="leftPanel" header="left inner panel" styleClass="inner-panel">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales risus non sapien pulvinar
                        volutpat. Suspendisse ac neque neque. Aliquam erat volutpat. Donec luctus nulla eget lectus vehicula
                        facilisis. Aenean non nisl nibh. Vestibulum odio metus, fermentum nec placerat in, varius eu ligula.
                        Maecenas bibendum elit ut metus molestie sagittis. Aliquam erat volutpat. Praesent eu nibh eu sapien
                        suscipit vulputate suscipit varius augue. Sed non lorem erat. Vivamus ut magna sapien. In lacinia
                        pharetra mi viverra volutpat. Praesent rutrum cursus dui non lobortis. Morbi nec sem eros. Proin
                        a libero diam, id laoreet risus. Ut sit amet risus elit. Nulla facilisi.
                    </rich:panel>

                    <rich:panel id="rightPanel" header="right inner panel" styleClass="inner-panel">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Mauris non velit sapien, nec varius elit.</li>
                            <li>Phasellus in massa erat, vitae sagittis massa.</li>
                            <li>Quisque consectetur tortor et ipsum pulvinar tempus ac et diam.</li>
                            <li>Nulla posuere eros lectus, vitae rhoncus elit.</li>
                            <li>In consequat turpis vel arcu adipiscing euismod.</li>
                            <li>Integer et augue nec tellus vulputate porta quis suscipit enim.</li>
                            <li>Fusce sit amet orci quis sapien dignissim consectetur in eget leo.</li>
                            <li>Vestibulum auctor quam ultrices ligula congue semper.</li>
                        </ul>
                    </rich:panel>
                </h:panelGrid>
            </rich:panel>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>