<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richPanel.css"/>
        </ui:define>

        <ui:define name="component">

            <fieldset id="fieldsetHeader">
                <legend>Panel with header</legend>

                <rich:panel id="panelWithHeader"
                            bodyClass="#{richPanelBean.attributes['bodyClass'].value}"
                            header="#{richPanelBean.attributes['header'].value}"
                            headerClass="#{richPanelBean.attributes['headerClass'].value}"
                            onclick="#{richPanelBean.attributes['onclick'].value}"
                            ondblclick="#{richPanelBean.attributes['ondblclick'].value}"
                            onkeydown="#{richPanelBean.attributes['onkeydown'].value}"
                            onkeypress="#{richPanelBean.attributes['onkeypress'].value}"
                            onkeyup="#{richPanelBean.attributes['onkeyup'].value}"
                            onmousedown="#{richPanelBean.attributes['onmousedown'].value}"
                            onmousemove="#{richPanelBean.attributes['onmousemove'].value}"
                            onmouseout="#{richPanelBean.attributes['onmouseout'].value}"
                            onmouseover="#{richPanelBean.attributes['onmouseover'].value}"
                            onmouseup="#{richPanelBean.attributes['onmouseup'].value}"
                            rendered="#{richPanelBean.attributes['rendered'].value}"
                            style="#{richPanelBean.attributes['style'].value}"
                            styleClass="#{richPanelBean.attributes['styleClass'].value}"
                            title="#{richPanelBean.attributes['title'].value}">
                    <f:facet name="header">header of panel</f:facet>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a neque turpis, at cursus nunc.
                    Vestibulum et tincidunt metus. Suspendisse viverra aliquet nunc, non placerat justo commodo a. Pellentesque
                    non lacus ut mi consectetur blandit nec sed orci. Praesent tempus aliquet sapien vitae condimentum. Aenean
                    nec ligula egestas erat convallis pharetra. Donec venenatis nunc vitae justo posuere laoreet. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse quis convallis nulla.
                    Aenean lorem lorem, viverra eget elementum in, hendrerit sit amet felis. Curabitur venenatis lacus id diam
                    porttitor cursus. Suspendisse vulputate arcu at ante porttitor ullamcorper. Cras eleifend lacus eget justo
                    malesuada fermentum. Praesent pretium eleifend lacus, id dignissim lacus aliquam eu. Nulla imperdiet tempus
                    facilisis. Etiam nec aliquet quam. Duis fringilla ullamcorper libero, vel dictum quam feugiat a. Donec placerat
                    varius diam ullamcorper egestas. Donec molestie tellus a felis facilisis ac vestibulum risus rhoncus.
                </rich:panel>
            </fieldset>

            <br/>

            <fieldset id="fieldsetWithoutHeader">
                <legend>Panel without header</legend>

                <rich:panel id="panelWithoutHeader"
                            bodyClass="#{richPanelBean.attributes['bodyClass'].value}"
                            header="#{richPanelBean.attributes['header'].value}"
                            headerClass="#{richPanelBean.attributes['headerClass'].value}"
                            onclick="#{richPanelBean.attributes['onclick'].value}"
                            ondblclick="#{richPanelBean.attributes['ondblclick'].value}"
                            onkeydown="#{richPanelBean.attributes['onkeydown'].value}"
                            onkeypress="#{richPanelBean.attributes['onkeypress'].value}"
                            onkeyup="#{richPanelBean.attributes['onkeyup'].value}"
                            onmousedown="#{richPanelBean.attributes['onmousedown'].value}"
                            onmousemove="#{richPanelBean.attributes['onmousemove'].value}"
                            onmouseout="#{richPanelBean.attributes['onmouseout'].value}"
                            onmouseover="#{richPanelBean.attributes['onmouseover'].value}"
                            onmouseup="#{richPanelBean.attributes['onmouseup'].value}"
                            rendered="#{richPanelBean.attributes['rendered'].value}"
                            style="#{richPanelBean.attributes['style'].value}"
                            styleClass="#{richPanelBean.attributes['styleClass'].value}"
                            title="#{richPanelBean.attributes['title'].value}">

                    Nulla ornare suscipit urna, eu adipiscing sapien interdum ut. Aenean quis lectus sed eros congue imperdiet.
                    Duis feugiat eros leo. Aenean orci orci, facilisis vel gravida condimentum, scelerisque et libero. Nullam
                    ullamcorper elementum odio, ac hendrerit orci faucibus at. Suspendisse potenti. Suspendisse potenti. Nunc
                    eleifend fringilla egestas. Nam volutpat ullamcorper dolor, quis molestie elit aliquet in. Mauris mattis
                    auctor tellus sagittis venenatis. Morbi condimentum, mi eget cursus rutrum, justo orci sodales lectus, vitae
                    tincidunt eros ante at mauris. Aenean vel neque elit, sed facilisis lectus. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Sed posuere metus eu magna dignissim tristique. Fusce sit amet sollicitudin elit.
                    Curabitur lobortis faucibus enim sit amet dapibus. Donec vitae volutpat leo. Nullam a odio vel ligula vulputate
                    ullamcorper tristique eu tortor. Quisque egestas rhoncus commodo.
                </rich:panel>

            </fieldset>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richPanelBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>