<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:r="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
<h:head>
</h:head>
<h:body>
	<ol>
		<li><b>Try to invoke the calendar popup from the accordion
				example.</b></li>
		<li><b>See that it is clipped!</b></li>
		<li><b>Also notice that the calendar invoked from in other
				similar situations is not clipped!</b></li>
	</ol>
	<r:panel header="Acordion example">
		<r:accordion id="acrdion" switchType="client" style="z-index: 10">
			<r:accordionItem id="acdItm" header="Overview:" style="z-index: 10;">
				<r:calendar datePattern="dd/M/yy" id="calendar" zindex="100" />
			</r:accordionItem>
		</r:accordion>
	</r:panel>
	<r:panel header="Popup panel example">
		<h:commandButton value="show popup">
			<r:componentControl target="popup" operation="show" />
		</h:commandButton>
		<r:popupPanel id="popup" width="250" height="150" modal="false">
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="#{r:component('popup')}.hide(); return false;">
                X
            </h:outputLink>
			</f:facet>
			<r:calendar datePattern="dd/M/yy" id="calendar2" zindex="100" />
		</r:popupPanel>
	</r:panel>
	<r:panel header="Datatable example">
		<r:dataTable id="table" value="#{model.capitals}" var="capital"
			rows="10">
			<r:column>
				<f:facet name="header">Calendar</f:facet>
				<r:calendar id="calendar3" />
			</r:column>
			<r:column>
				<f:facet name="header">FooBar</f:facet>
				<h:outputText value="#{capital}" />
			</r:column>
		</r:dataTable>
	</r:panel>
	<r:panel header="Collapsible panel example">
		<r:collapsiblePanel switchType="client" expanded="false">
			<r:calendar id="calendar4" />
		</r:collapsiblePanel>
	</r:panel>
	<r:panel header="Tab panel example">
		<r:tabPanel switchType="client">
			<r:tab header="Calendar">
				<r:calendar />
			</r:tab>
		</r:tabPanel>
	</r:panel>
	<r:panel header="Extended Data table">
		<r:extendedDataTable id="extTable" value="#{model.capitals}"
			var="capital" rows="10">
			<r:column>
				<f:facet name="header">Calendar</f:facet>
				<r:calendar id="calendar3" />
			</r:column>
			<r:column>
				<f:facet name="header">FooBar</f:facet>
				<h:outputText value="#{capital}" />
			</r:column>
		</r:extendedDataTable>
	</r:panel>
</h:body>
</html>
