<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <rich:accordion id="accordion"
                            activeItem="#{richAccordionBean.attributes['activeItem'].value}"
                            cycledSwitching="#{richAccordionBean.attributes['cycledSwitching'].value}"
                            dir="#{richAccordionBean.attributes['dir'].value}"
                            height="#{richAccordionBean.attributes['height'].value}"
                            immediate="#{richAccordionBean.attributes['immediate'].value}"
                            itemChangeListener="#{richBean.itemChangeListener}"
                            itemActiveHeaderClass="#{richAccordionBean.attributes['itemActiveHeaderClass'].value}"
                            itemActiveLeftIcon="#{richAccordionBean.attributes['itemActiveLeftIcon'].value}"
                            itemActiveRightIcon="#{richAccordionBean.attributes['itemActiveRightIcon'].value}"
                            itemContentClass="#{richAccordionBean.attributes['itemContentClass'].value}"
                            itemDisabledHeaderClass="#{richAccordionBean.attributes['itemDisabledHeaderClass'].value}"
                            itemDisabledLeftIcon="#{richAccordionBean.attributes['itemDisabledLeftIcon'].value}"
                            itemDisabledRightIcon="#{richAccordionBean.attributes['itemDisabledRightIcon'].value}"
                            itemHeaderClass="#{richAccordionBean.attributes['itemHeaderClass'].value}"
                            itemInactiveHeaderClass="#{richAccordionBean.attributes['itemInactiveHeaderClass'].value}"
                            itemInactiveLeftIcon="#{richAccordionBean.attributes['itemInactiveLeftIcon'].value}"
                            itemInactiveRightIcon="#{richAccordionBean.attributes['itemInactiveRightIcon'].value}"
                            lang="#{richAccordionBean.attributes['lang'].value}"
                            onbeforeitemchange="#{richAccordionBean.attributes['onbeforeitemchange'].value}"
                            onclick="#{richAccordionBean.attributes['onclick'].value}"
                            ondblclick="#{richAccordionBean.attributes['ondblclick'].value}"
                            onitemchange="#{richAccordionBean.attributes['onitemchange'].value}"
                            onmousedown="#{richAccordionBean.attributes['onmousedown'].value}"
                            onmousemove="#{richAccordionBean.attributes['onmousemove'].value}"
                            onmouseout="#{richAccordionBean.attributes['onmouseout'].value}"
                            onmouseover="#{richAccordionBean.attributes['onmouseover'].value}"
                            onmouseup="#{richAccordionBean.attributes['onmouseup'].value}"
                            rendered="#{richAccordionBean.attributes['rendered'].value}"
                            style="#{richAccordionBean.attributes['style'].value}"
                            styleClass="#{richAccordionBean.attributes['styleClass'].value}"
                            switchType="#{richAccordionBean.attributes['switchType'].value}"
                            title="#{richAccordionBean.attributes['title'].value}"
                            width="#{richAccordionBean.attributes['width'].value}"
                            >

                <rich:accordionItem id="item1" name="item1"  header="Item 1">
                    content of item 1
                </rich:accordionItem>
                <rich:accordionItem id="item2" name="item2"  header="Item 2">
                    content of item 2
                </rich:accordionItem>
                <rich:accordionItem id="item3" name="item3"  header="Item 3">
                    content of item 3
                </rich:accordionItem>
                <rich:accordionItem id="item4" name="item4"  header="Item 4 (disabled)" disabled="true">
                    content of item 4
                </rich:accordionItem>
                <rich:accordionItem id="item5" name="item5"  header="Item 5">
                    content of item 5
                </rich:accordionItem>
            </rich:accordion>

            <br/><br/>
            <fieldset>
                <legend>JavaScript API</legend>
                Output value for all get methods: <h:inputText id="value" size="30"/>
                <br/>
                <br/>
                On click:
                <br/>
                <input id="switchTo1" type="button" name="siwtchTo1" value="switchToItem('item1')" onclick="#{rich:component('accordion')}.switchToItem('item1')" />
                <input id="switchTo2" type="button" name="switchTo2" value="switchToItem('item2')" onclick="#{rich:component('accordion')}.switchToItem('item2')" />
                <input id="switchTo3" type="button" name="switchTo3" value="switchToItem('item3')" onclick="#{rich:component('accordion')}.switchToItem('item3')" />
                <input id="switchTo4" type="button" name="switchTo4" value="switchToItem('item4')" onclick="#{rich:component('accordion')}.switchToItem('item4')" />
                <input id="switchTo5" type="button" name="switchTo5" value="switchToItem('item5')" onclick="#{rich:component('accordion')}.switchToItem('item5')" />
                <br/>
                <input id="getItems" name="getItems" type="button" value="getItems().length" onclick="$('[id$=value]').val(String(#{rich:component('accordion')}.getItems().length))" />
                <input id="getItemsNames" name="getItemsNames" type="button" value="getItemsNames()" onclick="$('[id$=value]').val(String(#{rich:component('accordion')}.getItemsNames()))" />
                <br/>
                <input id="firstItem" type="button" name="firstItem" value="firstItem()" onclick="$('[id$=value]').val(String(#{rich:component('accordion')}.firstItem()))" />
                <input id="prevItem" type="button" name="prevItem" value="prevItem()" onclick="$('[id$=value]').val(String(#{rich:component('accordion')}.prevItem()))" />
                <input id="nextItem" type="button" name="nextItem" value="nextItem()" onclick="$('[id$=value]').val(String(#{rich:component('accordion')}.nextItem()))" />
                <input id="lastItem" type="button" name="lastItem" value="lastItem()" onclick="$('[id$=value]').val(String(#{rich:component('accordion')}.lastItem()))" />
                <br/>
                <br/>
                Chaining of functions:
                <br/>
                <input id="switchToFirst" type="button" name="switchToFirst" value="switchToFirst" onclick="#{rich:component('accordion')}.switchToItem(#{rich:component('accordion')}.firstItem())" />
                <input id="switchToPrevious" type="button" name="switchToPrevious" value="switchToPrevious" onclick="#{rich:component('accordion')}.switchToItem(#{rich:component('accordion')}.prevItem())" />
                <input id="switchToNext" type="button" name="switchToNext" value="switchToNext" onclick="#{rich:component('accordion')}.switchToItem(#{rich:component('accordion')}.nextItem())" />
                <input id="switchToLast" type="button" name="switchToLast" value="switchToLast" onclick="#{rich:component('accordion')}.switchToItem(#{rich:component('accordion')}.lastItem())" />
            </fieldset>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richAccordionBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>