<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but inAtt ANY WARRANTY; inAtt even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along inBean this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        
        <ui:define name="component">
            <ui:insert name="js">
                <!-- reimplement if needed, this works with autocomplete, inplaceInput-->
                <script type="text/javascript">
                    function setCorrectValues(id) {
                        switch(id){
                            case 'notEmpty':
                                $('[id$=notEmptyInput]').focus().val('not empty').change().blur();
                                break;
                            case 'custom':
                                $('[id$=customInput]').focus().val('richfaces').change().blur();
                                break;
                            case 'size':
                                $('[id$=sizeInput]').focus().val('123').change().blur();
                                break;
                            case 'pattern':
                                $('[id$=patternInput]').focus().val('abcd').change().blur();
                                break;
                            case 'required':
                                $('[id$=requiredInput]').focus().val('required 2').change().blur();
                                break;
                            default:
                                setCorrectValues('notEmpty');
                                setCorrectValues('custom');
                                setCorrectValues('size');
                                setCorrectValues('pattern');
                                setCorrectValues('required');
                                break;
                        }
                    }
                    function setWrongValues(id) {
                        switch(id){
                            case 'notEmpty':
                                $('[id$=notEmptyInput]').focus().val('').change().blur();
                                break;
                            case 'custom':
                                $('[id$=customInput]').focus().val('rich faces').change().blur();
                                break;
                            case 'size':
                                $('[id$=sizeInput]').focus().val('12').change().blur();
                                break;
                            case 'pattern':
                                $('[id$=patternInput]').focus().val('^(%1').change().blur();
                                break;
                            case 'required':
                                $('[id$=requiredInput]').focus().val('').change().blur();
                                break;
                            default:
                                setWrongValues('notEmpty');
                                setWrongValues('custom');
                                setWrongValues('size');
                                setWrongValues('pattern');
                                setWrongValues('required');
                                break;
                        }
                    }
                </script>
            </ui:insert>
            Values setting:
            <br/>
            <input id="setAllCorrectButton" type="button" name="setAllCorrectButton" value="set correct values" onclick="setCorrectValues('');"/>
            <input id="setAllWrongButton" type="button" name="setAllWrongButton" value="set wrong values" onclick="setWrongValues('')"/>
            <br/><br/>
            <br/><br/>
            Submit buttons:<br/>
            <h:commandButton id="hButton" value="h:commandButton" style="margin-right: 10px;"/>
            <a4j:commandButton id="a4jButton" value="a4j:commandButton"/>
            <br/><br/>
            <h:panelGrid columns="4">
                not empty:
                <ui:insert name="notEmpty"/>
                <input id="notEmptyCorrect" name="notEmptyCorrect" type="button" value="set correct value" onclick="setCorrectValues('notEmpty')"/>
                <input id="notEmptyWrong" name="notEmptyWrong" type="button" value="set wrong value" onclick="setWrongValues('notEmpty')"/>
                <rich:message id="notEmptyMsg" ajaxRendered="false" for="notEmpty"/>


                pattern [a-z].*:
                <ui:insert name="pattern"/>
                <input id="patternCorrect" name="patternCorrect" type="button" value="set correct value" onclick="setCorrectValues('pattern')"/>
                <input id="patternWrong" name="patternWrong" type="button" value="set wrong value" onclick="setWrongValues('pattern')"/>
                <rich:message id="patternMsg" ajaxRendered="false" for="pattern"/>


                size 3-6:
                <ui:insert name="size"/>
                <input id="sizeCorrect" name="sizeCorrect" type="button" value="set correct value" onclick="setCorrectValues('size')"/>
                <input id="sizeWrong" name="sizeWrong" type="button" value="set wrong value" onclick="setWrongValues('size')"/>
                <rich:message id="sizeMsg" ajaxRendered="false" for="size"/>

                custom (RichFaces || richfaces):
                <ui:insert name="custom"/>
                <input id="customCorrect" name="customCorrect" type="button" value="set correct value" onclick="setCorrectValues('custom')"/>
                <input id="customWrong" name="customWrong" type="button" value="set wrong value" onclick="setWrongValues('custom')"/>
                <rich:message id="customMsg" ajaxRendered="false" for="custom"/>

                required:
                <ui:insert name="required"/>
                <input id="requiredCorrect" name="requiredCorrect" type="button" value="set correct value" onclick="setCorrectValues('required')"/>
                <input id="requiredWrong" name="requiredWrong" type="button" value="set wrong value" onclick="setWrongValues('required')"/>
                <rich:message id="requiredMsg" ajaxRendered="false" for="required"/>
            </h:panelGrid>
            <br/><br/>
            <a4j:outputPanel ajaxRendered="true" id="outputPanel">

                <h:panelGrid columns="2">
                    Output for not empty string input:
                    <ui:insert name="notEmptyOutput"/>
                    Output for regular expression pattern (pattern [a-z].*) string input:
                    <ui:insert name="patternOutput"/>
                    Output for size (3-6) string input:
                    <ui:insert name="sizeOutput"/>
                    Output for custom (RichFaces || richfaces) string input:
                    <ui:insert name="customOutput"/>
                    Output for required string input:
                    <ui:insert name="requiredOutput"/>
                </h:panelGrid>
            </a4j:outputPanel>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>
