<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
        
        	<p>
        		<h3>menuGroup in dropDownMenu does not work when rich:messages present</h3>
        		Page contains example from showcase (dropDownMenu) + rich:message component.<br/>
        		With rich:message component menuGroup should not work
        	</p>
        
        	<rich:messages id="testMessages" />
        	<a4j:commandButton action="#{richDropDownMenuBean.addMessage}" value="Add message!" />
        	<br/><br/>
        
        	<rich:toolbar height="26px">
	            <rich:dropDownMenu mode="ajax">
	                <f:facet name="label">
	                    <h:panelGroup>
	                        <h:graphicImage value="/resources/images/icons/copy.gif" styleClass="pic" alt="copy" />
	                        <h:outputText value="File" />
	                    </h:panelGroup>
	                </f:facet>
	                <rich:menuItem label="New" action="#{richDropDownMenuBean.doNew}" icon="/resources/images/icons/create_doc.gif">
	                </rich:menuItem>
	                <rich:menuItem label="Open" action="#{richDropDownMenuBean.doOpen}" icon="/resources/images/icons/open.gif" />
	                <rich:menuGroup label="Save As...">
	                    <rich:menuItem label="Save" action="#{richDropDownMenuBean.doSave}" icon="/resources/images/icons/save.gif" />
	                    <rich:menuItem label="Save All" action="#{richDropDownMenuBean.doSaveAll}">
	                        <f:facet name="icon">
	                            <h:graphicImage value="/resources/images/icons/save_all.gif" alt="save_all" />
	                        </f:facet>
	                    </rich:menuItem>
	                </rich:menuGroup>
	                <rich:menuItem label="Close" action="#{richDropDownMenuBean.doClose}" />
	                <rich:menuSeparator id="menuSeparator11" />
	                <rich:menuItem label="Exit" action="#{richDropDownMenuBean.doExit}" />
	
	            </rich:dropDownMenu>
	
	            <rich:dropDownMenu mode="ajax">
	                <f:facet name="label">
	                    <h:panelGrid cellpadding="0" cellspacing="0" columns="2" style="vertical-align:middle">
	                        <h:outputText value="Links" />
	                    </h:panelGrid>
	                </f:facet>
	                <rich:menuItem submitMode="client" onclick="document.location.href='http://labs.jboss.com/jbossrichfaces/'">
	                    <h:outputText value="RichFaces Home Page" />
	                </rich:menuItem>
	                <rich:menuItem submitMode="client"
	                    onclick="document.location.href='http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261'">
	                    <h:outputText value="RichFaces Forum" />
	                </rich:menuItem>
	            </rich:dropDownMenu>
	        </rich:toolbar>
	        
	        <br /><br />

            <a4j:outputPanel ajaxRendered="true">
                Current Selection: 
                <h:outputText id="output" style="font-weight:bold" value="#{richDropDownMenuBean.current}"></h:outputText>
            </a4j:outputPanel>

            <br /><br />
            
        </ui:define>

    </ui:composition>
</html>