<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
    xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">
        <h:form id="componentForm">
            <p>
                Issue summary: FocusManager to support complex components like rich:autocomplete. <a
                    href="https://issues.jboss.org/browse/RF-13251">RF-13251</a>
            </p>
            <ol>
                <li>Click on button Send and focus to autocomplete.</li>
                <li>See Action result field. There is information about successful calling method. But focus is not set to
                    autocomplate.</li>
                <li>Click on button Send and focus to input text.</li>
                <li>See Action result field. There is information about successful calling method. Input text has focus
                    now.</li>
            </ol>


            <h:outputLabel value="Autofocus" />
            <br />
            <rich:autocomplete id="autocomplete" showButton="true" autocompleteMethod="#{richAutocompleteBean.autocomplete}">
            </rich:autocomplete>
            <br />
            <br />
            <h:outputLabel value="Input text" />
            <br />
            <h:inputText id="inputTextSimple" required="false" />
            <br />
            <a4j:commandButton id="buttonAutocomplete" value="Send and focus to autocomplete" actionListener="#{rf13251.focusToAutoComplete}"
                render="output"></a4j:commandButton>
            <a4j:commandButton id="buttonInputText" value="Send and focus to input text" actionListener="#{rf13251.focusToInputText}" render="output"></a4j:commandButton>
            <br />
            <br />
             Action result: <h:outputText id="output" value="#{rf13251.actionResult}" />
        </h:form>
    </ui:define>

</ui:composition>
</html>