<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:r="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

	<ui:define name="view">
		<f:metadata>
			<f:viewParam name="templates" value="#{templateBean.templates}">
				<f:converter converterId="templatesListConverter" />
			</f:viewParam>
		</f:metadata>
	</ui:define>

	<ui:define name="head" />

	<ui:define name="component">

		<r:focus
			ajaxRendered="#{richFocusBean.attributes['ajaxRendered'].value}"
			delayed="#{richFocusBean.attributes['delayed'].value}"
			preserve="#{richFocusBean.preserve}"
			rendered="#{richFocusBean.attributes['rendered'].value}"
			validationAware="#{richFocusBean.attributes['validationAware'].value}" />

		<h:panelGrid columns="3">
			<h:outputText value="Name:" />
			<h:inputText value="${richFocusBean.name}" id="name" label="name" tabindex="1">
				<f:validateRequired />
				<f:validateLength minimum="3" />
			</h:inputText>
			<r:message for="name" ajaxRendered="true" />

			<h:outputText value="Age:" />
			<h:inputText value="${richFocusBean.age}" id="age" label="age"  tabindex="2">
				<f:validateLongRange minimum="6" />
			</h:inputText>
			<r:message for="age" ajaxRendered="true" />

			<h:outputText value="Address" />
			<h:inputText value="${richFocusBean.address}" id="address"
				label="address"  tabindex="3">
				<f:validateLength minimum="7" maximum="20" />
			</h:inputText>
			<r:message for="address" ajaxRendered="true" />
		</h:panelGrid>

		<a4j:commandButton id="validateButton" value="Ajax Validate" tabindex="4"/>

		<br />

	</ui:define>

	<ui:define name="outOfTemplateAfter">
		<metamer:attributes value="#{richFocusBean.attributes}"
			id="attributes" exclude="preserve" />
	</ui:define>

</ui:composition>
</html>
