<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <h:inputText id="nameInput" styleClass="nameInput" value="#{a4jLogBean.name}" />
            <a4j:commandButton id="submitButton" value="Submit" render="out" execute="@form" />
            <input type="button" id="debugButton" name="debugButton" value="Debug Message"
                   onclick="eval('RichFaces.log.debug(\'' + jQuery('input[type=text][id$=nameInput]').val() + '\')')"/>
            <input type="button" id="infoButton" name="infoButton" value="Info Message"
                   onclick="eval('RichFaces.log.info(\'' + jQuery('input[type=text][id$=nameInput]').val() + '\')')"/>
            <input type="button" id="warnButton" name="warnButton" value="Warning Message"
                   onclick="eval('RichFaces.log.warn(\'' + jQuery('input[type=text][id$=nameInput]').val() + '\')')"/>
            <input type="button" id="errorButton" name="errorButton" value="Error Message" 
                   onclick="eval('RichFaces.log.error(\'' + jQuery('input[type=text][id$=nameInput]').val() + '\')')"/>
            <br/>

            <a4j:outputPanel id="out">
                <h:outputText value="Hello #{a4jLogBean.name}!" rendered="#{not empty a4jLogBean.name}"/>
            </a4j:outputPanel>

            <br/><br/>

            <a4j:log id="log"
                     level="#{a4jLogBean.attributes['level'].value}"
                     mode="#{a4jLogBean.attributes['mode'].value}"
                     rendered="#{a4jLogBean.attributes['rendered'].value}"
                     style="#{a4jLogBean.attributes['style'].value}"
                     styleClass="#{a4jLogBean.attributes['styleClass'].value}"
                     hotkey="#{a4jLogBean.attributes['hotkey'].value}"/>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jLogBean.attributes}" id="attributes" render="log"/>
        </ui:define>

        <!-- we don't want two logs on the page -->
        <ui:define name="beforeFooter"></ui:define>

    </ui:composition>
</html>