<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <r:collapsiblePanel id="collapsiblePanel"
                                   bodyClass="#{richCollapsiblePanelBean.attributes['bodyClass'].value}"
                                   dir="#{richCollapsiblePanelBean.attributes['dir'].value}"
                                   expanded="#{richCollapsiblePanelBean.attributes['expanded'].value}"
                                   header="#{richCollapsiblePanelBean.attributes['header'].value}"
                                   headerClass="#{richCollapsiblePanelBean.attributes['headerClass'].value}"
                                   immediate="#{richCollapsiblePanelBean.attributes['immediate'].value}"
                                   lang="#{richCollapsiblePanelBean.attributes['lang'].value}"
                                   leftCollapsedIcon="#{richCollapsiblePanelBean.attributes['leftCollapsedIcon'].value}"
                                   leftExpandedIcon="#{richCollapsiblePanelBean.attributes['leftExpandedIcon'].value}"
                                   onbeforeswitch="#{richCollapsiblePanelBean.attributes['onbeforeswitch'].value}"
                                   onclick="#{richCollapsiblePanelBean.attributes['onclick'].value}"
                                   ondblclick="#{richCollapsiblePanelBean.attributes['ondblclick'].value}"
                                   onmousedown="#{richCollapsiblePanelBean.attributes['onmousedown'].value}"
                                   onmousemove="#{richCollapsiblePanelBean.attributes['onmousemove'].value}"
                                   onmouseout="#{richCollapsiblePanelBean.attributes['onmouseout'].value}"
                                   onmouseover="#{richCollapsiblePanelBean.attributes['onmouseover'].value}"
                                   onmouseup="#{richCollapsiblePanelBean.attributes['onmouseup'].value}"
                                   onswitch="#{richCollapsiblePanelBean.attributes['onswitch'].value}"
                                   rendered="#{richCollapsiblePanelBean.attributes['rendered'].value}"
                                   rightCollapsedIcon="#{richCollapsiblePanelBean.attributes['rightCollapsedIcon'].value}"
                                   rightExpandedIcon="#{richCollapsiblePanelBean.attributes['rightExpandedIcon'].value}"
                                   style="#{richCollapsiblePanelBean.attributes['style'].value}"
                                   styleClass="#{richCollapsiblePanelBean.attributes['styleClass'].value}"
                                   switchType="#{richCollapsiblePanelBean.attributes['switchType'].value}"
                                   title="#{richCollapsiblePanelBean.attributes['title'].value}"
                                   toggleListener="#{richCollapsiblePanelBean.toggleListener}"
                                   >

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a neque turpis, at cursus nunc.
                Vestibulum et tincidunt metus. Suspendisse viverra aliquet nunc, non placerat justo commodo a. Pellentesque
                non lacus ut mi consectetur blandit nec sed orci. Praesent tempus aliquet sapien vitae condimentum. Aenean
                nec ligula egestas erat convallis pharetra. Donec venenatis nunc vitae justo posuere laoreet. Vestibulum
                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse quis convallis nulla.
                Aenean lorem lorem, viverra eget elementum in, hendrerit sit amet felis. Curabitur venenatis lacus id diam
                porttitor cursus. Suspendisse vulputate arcu at ante porttitor ullamcorper. Cras eleifend lacus eget justo
                malesuada fermentum. Praesent pretium eleifend lacus, id dignissim lacus aliquam eu. Nulla imperdiet tempus
                facilisis. Etiam nec aliquet quam. Duis fringilla ullamcorper libero, vel dictum quam feugiat a. Donec placerat
                varius diam ullamcorper egestas. Donec molestie tellus a felis facilisis ac vestibulum risus rhoncus.

            </r:collapsiblePanel>
            <fieldset>
                <legend>JavaScript API</legend>
                <br/>
                <input id="switch" type="button" name="switchPanel" value="switchPanel()" onclick="#{r:component('collapsiblePanel')}.switchPanel()" />
                <input id="expand" type="button" name="expandPanel" value="expand()" onclick="#{r:component('collapsiblePanel')}.expand()" />
                <input id="collapse" type="button" name="collapsePanel" value="collapse()" onclick="#{r:component('collapsiblePanel')}.collapse()" />
                <input id="isExpanded" type="button" name="panelIsExpanded" value="isExpanded()" onclick="alert(#{r:component('collapsiblePanel')}.isExpanded())" />
                <br/>
            </fieldset>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richCollapsiblePanelBean.attributes}" id="attributes"/>
        </ui:define>

    </ui:composition>
</html>
