<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Placeholder</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="autocomplete" outcome="autocomplete" value="Autocomplete">
                Simple page containing rich:placeholder inside of rich:autocomplete component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="calendar" outcome="calendar" value="Calendar">
                Simple page containing rich:placeholder inside of rich:calendar component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="converter" outcome="converter" value="Converter">
                Simple page containing rich:placeholder inside of h:inputText component with preset attributes value and converter.
            </metamer:testPageLink>

            <metamer:testPageLink id="csv" outcome="csv" value="Client side validated InputText">
                Simple page containing rich:placeholder inside of h:inputText component validated with rich:validator and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="editor" outcome="editor" value="Editor">
                Simple page containing rich:placeholder inside of rich:editor component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="inplaceInput" outcome="inplaceInput" value="InplaceInput">
                Simple page containing rich:placeholder inside of rich:inplaceInput component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="inplaceSelect" outcome="inplaceSelect" value="InplaceSelect">
                Simple page containing rich:placeholder inside of rich:inplaceSelect component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="input" outcome="input" value="Input">
                Simple page containing rich:placeholder and 3 non-JSF text inputs and input boxes for all placeholder's attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="inputText" outcome="inputText" value="InputText">
                Simple page containing rich:placeholder inside of h:inputText component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="inputTextarea" outcome="inputTextarea" value="InputTextarea">
                Simple page containing rich:placeholder inside of h:inputTextarea component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="select" outcome="select" value="Select">
                Simple page containing rich:placeholder inside of rich:select component and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="textarea" outcome="textarea" value="Textarea">
                Simple page containing rich:placeholder and 3 non-JSF textareas and input boxes for all placeholder's attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="RF-13896" outcome="rf-13896" value="RF-13896">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13896">RF-13896</a>.
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
