<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            Page simulating issue <a href="https://issues.jboss.org/browse/RF-13896">RF-13896</a>. Not automatized.
            <br/>
            Steps to reproduce:
            <ol>
                <li>Click the Add button.
                    <ul>
                        <li>A required message shows up.</li>
                        <li>The placeholder text doesn't appear anymore (it is not the expected result).</li>
                    </ul>
                </li>
                <li>Fill the input and click the Add button.
                    <ul>
                        <li>It adds a new line to the table with an empty value (expected result: insert the value entered to input).</li>
                        <li>The input is emptied.</li>
                    </ul>
                </li>
                <li>Click the Add button.
                    <ul>
                        <li>It adds a new line to the table with an empty value (expected result: required message shows up).</li>
                    </ul>
                </li>
                <li>Fill the input and click the Add button.
                    <ul>
                        <li>It adds a new line to the table with an empty value (expected result: insert the value entered to input).</li>
                    </ul>
                </li>
            </ol>
            <br/>
            <h:inputText id="input" required="true" value="#{rf13896.name}" >
                <r:placeholder id="placeholder" value="Type a name" />
            </h:inputText>
            <r:message id="message" for="input" />
            <br/>
            <a4j:commandButton id="addButton"
                               value="Add"
                               execute="input"
                               actionListener="#{rf13896.addName}"
                               render="input,table"/>
            <br/>
            <r:dataTable id="table" value="#{rf13896.names}" var="n" >
                <r:column>
                    <f:facet name="header">
                        Names
                    </f:facet>
                    <h:outputText value="#{n}" />
                </r:column>
            </r:dataTable>
        </ui:define>

        <ui:define name="outOfTemplateAfter" />

    </ui:composition>
</html>
