<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/abstractions/inputValidation/stringInputComponentValidationTemplate.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>
        
        <ui:define name="notEmpty">
            <rich:inplaceInput id="notEmpty"
                               defaultLabel="#{richInplaceInputBean.attributes['defaultLabel'].value}"
                               value="#{richInplaceInputBean.notEmptyValue}"
                               >
                <rich:validator event="blur"/>
                <a4j:ajax event="change" render="notEmptyMsg"/>
            </rich:inplaceInput>
        </ui:define>
        <ui:define name="notEmptyOutput">
            <h:outputText id="notEmptyOutput" value="#{richInplaceInputBean.notEmptyValue}"/>
        </ui:define>

        <ui:define name="pattern">
            <rich:inplaceInput id="pattern"
                               defaultLabel="#{richInplaceInputBean.attributes['defaultLabel'].value}"
                               value="#{richInplaceInputBean.patternValue}"
                               >
                <rich:validator event="blur"/>
                <a4j:ajax event="change" render="patternMsg"/>
            </rich:inplaceInput>
        </ui:define>
        <ui:define name="patternOutput">
            <h:outputText id="patternOutput" value="#{richInplaceInputBean.patternValue}"/>
        </ui:define>

        <ui:define name="size">
            <rich:inplaceInput id="size"
                               defaultLabel="#{richInplaceInputBean.attributes['defaultLabel'].value}"
                               value="#{richInplaceInputBean.sizeValue}"
                               >
                <!--Not working in different order-->
                <a4j:ajax event="change" render="sizeMsg"/>
                <rich:validator event="change"/>
            </rich:inplaceInput>
        </ui:define>
        <ui:define name="sizeOutput">
            <h:outputText id="sizeOutput" value="#{richInplaceInputBean.sizeValue}"/>
        </ui:define>

        <ui:define name="custom">
            <rich:inplaceInput id="custom"
                               defaultLabel="#{richInplaceInputBean.attributes['defaultLabel'].value}"
                               value="#{richInplaceInputBean.customValue}"
                               >
                <f:validator validatorId="org.richfaces.StringRichFacesValidator"/>
                <a4j:ajax event="change" render="customMsg"/>
                <rich:validator event="change"/>
            </rich:inplaceInput>
        </ui:define>
        <ui:define name="customOutput">
            <h:outputText id="customOutput" value="#{richInplaceInputBean.customValue}"/>
        </ui:define>

        <ui:define name="required" >
            <rich:inplaceInput id="required" required="true"
                               requiredMessage="#{richInplaceInputBean.attributes['requiredMessage'].value}"
                               value="#{richInplaceInputBean.requiredValue}">
                <a4j:ajax event="change" render="requiredMsg"/>
                <rich:validator event="change"/>
            </rich:inplaceInput>
        </ui:define>
        <ui:define name="requiredOutput">
            <h:outputText id="requiredOutput" value="#{richInplaceInputBean.requiredValue}"/>
        </ui:define>
    </ui:composition>
</html>
