<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich" xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head"/>

        <ui:define name="component">

            <fieldset id="simpleJQueryFieldset">
                <legend>jQuery (settings below)</legend>

                <input id="jQueryTestButton" type="button" value="Click here"/>
                &nbsp;
                <input id="rebindOneClickButton" type="button" onclick="rebindOneClickEvent(); return false;" value="Re-enable one-typed click handler"/>

                <rich:jQuery id="jQuery"
                             attachType="#{richJQueryBean.attributes['attachType'].value}"
                             event="#{richJQueryBean.attributes['event'].value}"
                             query="#{richJQueryBean.attributes['query'].value}"
                             rendered="#{richJQueryBean.attributes['rendered'].value}"
                             selector="#{richJQueryBean.attributes['selector'].value}"
                             timing="#{richJQueryBean.attributes['timing'].value}"
                             />

                <rich:jQuery id="rebindJQuery" event="click" name="rebindOneClickEvent" selector="#jQueryTestButton" query="metamerEvents += 'one attachType rebound event '" attachType="one" />
            </fieldset>

            <br/>

            <fieldset id="dataTestingFieldset">
                <legend>testing data</legend>

                <h:panelGroup id="liveTestGroup">
                    <ui:repeat id="liveTestRepeat" value="#{richJQueryBean.componentsDataList}" var="data">
                        <h:panelGroup styleClass="liveTestComponent" layout="block" id="liveTestComponent">
                            #{data}
                        </h:panelGroup>
                    </ui:repeat>
                </h:panelGroup>

                <rich:jQuery id="liveTestJQuery" selector="#liveTestGroup .liveTestComponent" attachType="live" event="click" query="metamerEvents += jQuery.trim(jQuery(this).text())" />

                <br/>

                <h:commandButton id="addComponentButton" value="Add component for live test" action="#{richJQueryBean.addComponent}">
                    <a4j:ajax render=":liveTestGroup"/>
                </h:commandButton>

            </fieldset>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richJQueryBean.attributes}" id="attributes"/>
        </ui:define>

    </ui:composition>
</html>