<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:r="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/abstractions/inputValidation/numberInputComponentValidationTemplate.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>
        
        <ui:define name="js">
            <ui:include src="script.xhtml"/>
        </ui:define>
        <ui:define name="min">
            <r:inputNumberSpinner id="min" maxValue="10" minValue="-10" value="#{richInputNumberSpinnerBean.minValue}">
                <a4j:ajax event="change" render="minMsg"/>
            </r:inputNumberSpinner>
        </ui:define>
        <ui:define name="minOutput">
            <h:outputText id="minOutput" value="#{richInputNumberSpinnerBean.minValue}"/>
        </ui:define>

        <ui:define name="max">
            <r:inputNumberSpinner id="max" maxValue="10" minValue="-10" value="#{richInputNumberSpinnerBean.maxValue}">
                <a4j:ajax event="change" render="maxMsg"/>
            </r:inputNumberSpinner>
        </ui:define>
        <ui:define name="maxOutput">
            <h:outputText id="maxOutput" value="#{richInputNumberSpinnerBean.maxValue}"/>
        </ui:define>

        <ui:define name="custom" >
            <r:inputNumberSpinner id="custom" maxValue="10" minValue="-10" value="#{richInputNumberSpinnerBean.customValue}">
                <f:validator validatorId="org.richfaces.PositiveNumberValidator"/>
                <a4j:ajax event="change" render="customMsg"/>
            </r:inputNumberSpinner>
        </ui:define>
        <ui:define name="customOutput">
            <h:outputText id="customOutput" value="#{richInputNumberSpinnerBean.customValue}"/>
        </ui:define>
        <ui:define name="required" >
            <r:inputNumberSpinner id="required" required="true"
                                     requiredMessage="#{richInputNumberSpinnerBean.attributes['requiredMessage'].value}"
                                     maxValue="10" minValue="-10" value="#{richInputNumberSpinnerBean.requiredValue}">
                <a4j:ajax event="change" render="requiredMsg"/>
            </r:inputNumberSpinner>
        </ui:define>
        <ui:define name="requiredOutput">
            <h:outputText id="requiredOutput" value="#{richInputNumberSpinnerBean.requiredValue}"/>
        </ui:define>
    </ui:composition>
</html>
