<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <script type="text/javascript">
                testedComponentId = "#{rich:clientId('spinner')}";
            </script>
        </ui:define>

        <ui:define name="component">
            <p>
                Page demonstrating issue <a href="https://issues.jboss.org/browse/RF-4366">RF-4366</a>:
                There ate 2 spinners. The first one uses f:convertNumber with params minFractionDigits="1" and locale="de".
                The other one uses f:convertNumber with params minFractionDigits="1" and locale="en".
                Click on spinners for next number. 
                In GE spinner when the number has some fraction digits it strips the number of "." (e.g 1.5 >> 15).
                The step is set to 0.5, so every second click on up/down arrow of spinner will generate this malformed number.
            </p>
            <a4j:outputPanel id="spinnerPanelDE" ajaxRender="true" layout="block">
                DE number spinner. This one uses f:convertNumber with params minFractionDigits="1" and locale="de".
                <br/>
                <rich:inputNumberSpinner id="spinnerDE"
                                         step="0.5"
                                         value="#{richInputNumberSpinnerBean.valueLocaleDE}"
                                         valueChangeListener="#{richBean.valueChangeListener}"
                                         >
                    <f:convertNumber minFractionDigits="1" locale="de"/>
                    <a4j:ajax event="change" render="outputDE" />
                </rich:inputNumberSpinner>

                <br/><br/>
                output: <h:outputText id="outputDE" value="#{richInputNumberSpinnerBean.valueLocaleDE}"/>
            </a4j:outputPanel>

            <br/><br/>

            <a4j:outputPanel id="spinnerPanelEN" ajaxRender="true" layout="block">
                EN number spinner. This one uses f:convertNumber with params minFractionDigits="1" and locale="en". 
                This one works correctly.
                <br/>
                <rich:inputNumberSpinner id="spinnerEN"
                                         step="0.5"
                                         value="#{richInputNumberSpinnerBean.valueLocaleEN}"
                                         valueChangeListener="#{richBean.valueChangeListener}"
                                         >
                    <f:convertNumber minFractionDigits="1" locale="en"/>
                    <a4j:ajax event="change" render="outputEN" />
                </rich:inputNumberSpinner>

                <br/><br/>
                output: <h:outputText id="outputEN" value="#{richInputNumberSpinnerBean.valueLocaleEN}"/>

            </a4j:outputPanel>

            <br/><br/>

        </ui:define>
        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>