<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
<h:head>
    <title>Metamer: RichFaces Testing Application</title>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
    <h:outputStylesheet library="css" name="common.ecss" />
</h:head>

    <h:body onload="$('[id$=\'linksForm:componentSearch\']').focus().select();">
        <h1 style="float: left">Metamer: RichFaces Testing Application</h1>

    <h:form id="invalidateSessionForm" style="float: right; ">
        <h:panelGrid columns="1">
            <h:commandButton id="invalidateSessionButton" action="#{richBean.invalidateSession}" value="Invalidate Session"
                image="#{resource['images:cancel.png']}" title="Invalidate Session" style="width: 36px;" />
        </h:panelGrid>
    </h:form>

    <h:form id="linksForm" style="padding-top: 130px;">
        <h:panelGrid columns="2">
            <h:outputLabel id="searchLabel" value="Component name:" />
            <h:inputText id="componentSearch" value="#{richBean.selectedComponent}">
                <a4j:ajax event="keyup" render="allComponentPanel" />
            </h:inputText>
        </h:panelGrid>
        <rich:panel id="allComponentPanel" name="RichFaces all components" header="RichFaces all components">
            <h:panelGrid id="allComponents" columns="3" columnClasses="valign-top,valign-top,valign-top">
                <rich:list id="allComponentsList1" value="#{richBean.filteredComponentsList}" var="entry" rows="30"
                    style="width: 350px">
                    <h:link outcome="/components/#{entry}/list" value="#{richBean.filteredComponents[entry]}" styleClass="link" />
                </rich:list>
                <rich:list id="allComponentsList2" value="#{richBean.filteredComponentsList}" var="entry" first="30" rows="30"
                    style="width: 350px">
                    <h:link outcome="/components/#{entry}/list" value="#{richBean.filteredComponents[entry]}" styleClass="link" />
                </rich:list>
                <rich:list id="allComponentsList3" value="#{richBean.filteredComponentsList}" var="entry" first="60" rows="30"
                    style="width: 350px">
                    <h:link outcome="/components/#{entry}/list" value="#{richBean.filteredComponents[entry]}" styleClass="link" />
                </rich:list>
            </h:panelGrid>
        </rich:panel>
        <ui:decorate template="/templates/footer.xhtml" />
    </h:form>
</h:body>
</html>