<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:r="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but inAtt ANY WARRANTY; inAtt even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along inBean this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:remove>
            <p>
                Bind value to #{converterBean.converterValue}, bind message to #{converterBean.converterMessage},
                use @id="convertableInput".
            </p>
        </ui:remove>

        <ui:define name="component">
            <p>
                The converter will fail when @failingConverter=true and a not empty value in the input is submitted.
            </p>
            <a:outputPanel ajaxRendered="true">
                <c:choose>
                    <c:when test="#{not empty converterBean.converterMessage}">
                        <ui:insert name="convertableInputWithMessage"/>
                    </c:when>
                    <c:otherwise>
                        <ui:insert name="convertableInputWithoutMessage"/>
                    </c:otherwise>
                </c:choose>
                <br/>
                <r:message id="msg" for="convertableInput"/>
                <br/>
                <a:commandButton id="a4jButton" value="ajax submit"/>
                <br/><br/>
                output: <h:outputText id="output" value="#{converterBean.converterValue}"/>
                <br/>
            </a:outputPanel>
        </ui:define>
        <ui:define name="outOfTemplateAfter">
            <h:panelGrid columns="2">
                failingConverter:
                <h:selectOneRadio id="failingConverterInput" value="#{converterBean.failing}" onchange="submit()">
                    <f:selectItem itemValue="true" itemLabel="true"/>
                    <f:selectItem itemValue="false" itemLabel="false"/>
                </h:selectOneRadio>
                converterMessage:  <h:inputText id="converterMessageInput" value="#{converterBean.converterMessage}" onchange="submit()"/>
            </h:panelGrid>
        </ui:define>

    </ui:composition>
</html>
