<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <rich:accordion id="accordion"
                            itemChangeListener="#{richBean.itemChangeListener}"
                            >

                <rich:accordionItem id="item1" name="item1"  header="Item 1">
                    content of item 1
                </rich:accordionItem>
                <rich:accordionItem id="item2" name="item2"  header="Item 2">
                    content of item 2
                </rich:accordionItem>
                <rich:accordionItem id="item3" name="item3"  header="Item 3">
                    content of item 3
                </rich:accordionItem>
                <rich:accordionItem id="item4" name="item4"  header="Item 4 (disabled)" disabled="true">
                    content of item 4
                </rich:accordionItem>
                <rich:accordionItem id="item5" name="item5"  header="Item 5">
                    content of item 5
                </rich:accordionItem>
                <rich:itemChangeListener type="org.richfaces.tests.metamer.bean.ItemChangeListenerBean"/>
                <rich:itemChangeListener listener="#{itemChangeListenerBean2.processItemChange}"/>
            </rich:accordion>
            <!-- TODO after issue RF-12089 is solved uncomment here
                rich:itemChangeListener for="accordion" type="org.richfaces.tests.metamer.bean.ItemChangeListenerBean3"
            -->
        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>