<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" >

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <rich:tabPanel id="tabPanel"
                           itemChangeListener="#{richBean.itemChangeListener}"
                           >

                <rich:tab id="tab1" name="tab1" header="tab1 header">
                    content of tab 1
                </rich:tab>
                <rich:tab id="tab2" name="tab2" header="tab2 header">
                    content of tab 2
                </rich:tab>
                <rich:tab id="tab3" name="tab3" header="tab3 header">
                    content of tab 3
                </rich:tab>
                <rich:tab id="tab4" name="tab4" header="tab4 header" disabled="true">
                    content of tab 4
                </rich:tab>
                <rich:tab id="tab5" name="tab5" header="tab5 header">
                    content of tab 5
                </rich:tab>
                <rich:itemChangeListener type="org.richfaces.tests.metamer.bean.ItemChangeListenerBean"/>
                <rich:itemChangeListener listener="#{itemChangeListenerBean2.processItemChange}"/>
            </rich:tabPanel>
            <!-- TODO after issue RF-12089 is solved uncomment here
            rich:itemChangeListener for="tabPanel" type="org.richfaces.tests.metamer.bean.ItemChangeListenerBean3"
            -->
        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>