<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <rich:accordion id="accordion" activeItem="item3">
                <rich:accordionItem id="item1"
                                    contentClass="#{richAccordionItemBean.attributes['contentClass'].value}"
                                    dir="#{richAccordionItemBean.attributes['dir'].value}"
                                    disabled="#{richAccordionItemBean.attributes['disabled'].value}"
                                    header="#{richAccordionItemBean.attributes['header'].value}"
                                    headerActiveClass="#{richAccordionItemBean.attributes['headerActiveClass'].value}"
                                    headerClass="#{richAccordionItemBean.attributes['headerClass'].value}"
                                    headerDisabledClass="#{richAccordionItemBean.attributes['headerDisabledClass'].value}"
                                    headerInactiveClass="#{richAccordionItemBean.attributes['headerInactiveClass'].value}"
                                    headerStyle="#{richAccordionItemBean.attributes['headerStyle'].value}"
                                    lang="#{richAccordionItemBean.attributes['lang'].value}"
                                    leftActiveIcon="#{richAccordionItemBean.attributes['leftActiveIcon'].value}"
                                    leftDisabledIcon="#{richAccordionItemBean.attributes['leftDisabledIcon'].value}"
                                    leftInactiveIcon="#{richAccordionItemBean.attributes['leftInactiveIcon'].value}"
                                    name="#{richAccordionItemBean.attributes['name'].value}"
                                    onclick="#{richAccordionItemBean.attributes['onclick'].value}"
                                    ondblclick="#{richAccordionItemBean.attributes['ondblclick'].value}"
                                    onenter="#{richAccordionItemBean.attributes['onenter'].value}"
                                    onheaderclick="#{richAccordionItemBean.attributes['onheaderclick'].value}"
                                    onheaderdblclick="#{richAccordionItemBean.attributes['onheaderdblclick'].value}"
                                    onheadermousedown="#{richAccordionItemBean.attributes['onheadermousedown'].value}"
                                    onheadermousemove="#{richAccordionItemBean.attributes['onheadermousemove'].value}"
                                    onheadermouseup="#{richAccordionItemBean.attributes['onheadermouseup'].value}"
                                    onleave="#{richAccordionItemBean.attributes['onleave'].value}"
                                    onmousedown="#{richAccordionItemBean.attributes['onmousedown'].value}"
                                    onmousemove="#{richAccordionItemBean.attributes['onmousemove'].value}"
                                    onmouseout="#{richAccordionItemBean.attributes['onmouseout'].value}"
                                    onmouseover="#{richAccordionItemBean.attributes['onmouseover'].value}"
                                    onmouseup="#{richAccordionItemBean.attributes['onmouseup'].value}"
                                    rendered="#{richAccordionItemBean.attributes['rendered'].value}"
                                    rightActiveIcon="#{richAccordionItemBean.attributes['rightActiveIcon'].value}"
                                    rightDisabledIcon="#{richAccordionItemBean.attributes['rightDisabledIcon'].value}"
                                    rightInactiveIcon="#{richAccordionItemBean.attributes['rightInactiveIcon'].value}"
                                    style="#{richAccordionItemBean.attributes['style'].value}"
                                    styleClass="#{richAccordionItemBean.attributes['styleClass'].value}"
                                    switchType="#{richAccordionItemBean.attributes['switchType'].value}"
                                    title="#{richAccordionItemBean.attributes['title'].value}"
                                    >
                    content of item 1
                </rich:accordionItem>
                <rich:accordionItem id="item2" name="item2"  header="Item 2">
                    content of item 2
                </rich:accordionItem>
                <rich:accordionItem id="item3" name="item3"  header="Item 3">
                    content of item 3
                </rich:accordionItem>
                <rich:accordionItem id="item4" name="item4"  header="Item 4">
                    content of item 4
                </rich:accordionItem>
            </rich:accordion>

            <br/><br/>
            <fieldset>
                <legend>JavaScript API of rich:accordion</legend>

                <h:commandButton id="switchButton1" value="switch to item1">
                    <rich:componentControl event="click" operation="switchToItem" target="accordion" >
                        <f:param value="item1" />
                    </rich:componentControl>
                </h:commandButton>
                <h:commandButton id="switchButton2" value="switch to item2">
                    <rich:componentControl event="click" operation="switchToItem" target="accordion" >
                        <f:param value="item2" />
                    </rich:componentControl>
                </h:commandButton>
                <h:commandButton id="switchButton3" value="switch to item3">
                    <rich:componentControl event="click" operation="switchToItem" target="accordion" >
                        <f:param value="item3" />
                    </rich:componentControl>
                </h:commandButton>
                <h:commandButton id="switchButton4" value="switch to item4">
                    <rich:componentControl event="click" operation="switchToItem" target="accordion" >
                        <f:param value="item4" />
                    </rich:componentControl>
                </h:commandButton>
                <h:commandButton id="switchButtonCustom" value="switch to item with custom name (#{richAccordionItemBean.attributes['name'].value})">
                    <rich:componentControl event="click" operation="switchToItem" target="accordion" >
                        <f:param value="#{richAccordionItemBean.attributes['name'].value}" />
                    </rich:componentControl>
                </h:commandButton>

            </fieldset>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            Settings for the first item:
            <br/><br/>
            <metamer:attributes value="#{richAccordionItemBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>