<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Toggle Panel</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Page containing <b>r:togglePanel</b> and inputs for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-9013" outcome="rf-9013" value="RF-9013 Toggle panel: not valid markup">
                Page for issue <h:outputLink value="https://jira.jboss.org/browse/RF-9013">RF-9013</h:outputLink>. The page contains
                a <b>r:togglePanel</b>. Verify that there are no unnecessary attributes (e.g. styleClass="null" or dir="null") and
                that the page is W3C compliant.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13372" outcome="rf-13372" value="RF-13372: togglePanel does not work with toggleControl">
                Page for issue <h:outputLink value="https://jira.jboss.org/browse/RF-13372">RF-13372</h:outputLink>.
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>
