<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <script type="text/javascript">/*<![CDATA[*/
                    function randomize() {
                            jQuery("input[type='text']").each(function() {
                                    var letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                                    var val = "";

                                    for (var i = 0; i < 8; i++) {
                                            var letter = letters.charAt(Math.floor(letters.length * Math.random()));
                                            val += letter;
                                    }

                                    this.value = val;
                            });
                    }
            /*]]>*/</script>
        </ui:define>

        <ui:define name="component">

            <h:panelGrid columns="2">
                <h:outputLabel id="defaultSelectLabel" value="Defaults for all" for="defaultsSelect"/>
                <h:selectOneMenu id="defaultsSelect" valueChangeListener="#{a4jRegionBean.handleDefaultsValueChange}">
                    <f:selectItems value="#{a4jRegionBean.executeOptions}" />
                    <a4j:ajax event="change" render="outerSelect, regionSelect, decorationSelect, insertionSelect, nestedRegionSelect" execute="@this"/>
                </h:selectOneMenu>
            </h:panelGrid>


            <br/>

            <fieldset>
                <legend>outputs</legend>

                <h:panelGroup layout="block" id="outputValues">
                    <h:panelGrid columns="2" >
                        Outer: <h:outputText id="outerValueOutput" value="#{a4jRegionBean.outerValue}" />
                        Region: <h:outputText id="regionValueOutput" value="#{a4jRegionBean.regionValue}" />
                        Decoration: <h:outputText id="decorationValueOutput" value="#{a4jRegionBean.decorationValue}" />
                        Insertion: <h:outputText id="insertionValueOutput" value="#{a4jRegionBean.insertionValue}" />
                        Nested region: <h:outputText id="nestedRegionValueOutput" value="#{a4jRegionBean.nestedRegionValue}" />
                        Last executed button value: <h:outputText id="lastButtonOutput" value="#{a4jRegionBean.lastExecutedButtonValue}" />
                    </h:panelGrid>
                </h:panelGroup>
            </fieldset>

            <br/>
            <button id="generateValuesButton" name="generateValuesButton" type="button" onclick="randomize()">Generate random values</button>
            <br/>
            <br/>

            <!--  OUTER -->
            <h:panelGrid columns="3">
                <h:inputText id="outerValueInput" value="#{a4jRegionBean.outerValue}" />

                <h:commandButton id="outerValueButton" value="Outer">
                    <a4j:ajax listener="#{a4jRegionBean.handleBehavior}" execute="#{a4jRegionBean.outerExecute}" render="outputValues" />
                </h:commandButton>

                <h:selectOneMenu id="outerSelect" value="#{a4jRegionBean.outerExecute}">
                    <f:selectItems value="#{a4jRegionBean.executeOptions}" />
                    <a4j:ajax event="change" render="outerSelect" execute="@this"/>
                </h:selectOneMenu>
            </h:panelGrid>

            <!-- REGION -->
            <fieldset>
                <legend>Region</legend>


                <a4j:region id="outerRegion">
                    <h:panelGrid columns="3">
                        <h:inputText id="regionValueInput" value="#{a4jRegionBean.regionValue}" />

                        <h:commandButton id="regionValueButton" value="Region">
                            <a4j:ajax listener="#{a4jRegionBean.handleBehavior}" execute="#{a4jRegionBean.execute}" render="outputValues" />
                        </h:commandButton>

                        <h:selectOneMenu id="regionSelect" value="#{a4jRegionBean.execute}">
                            <f:selectItems value="#{a4jRegionBean.executeOptions}" />
                            <a4j:ajax event="change" render="regionSelect" execute="@this"/>
                        </h:selectOneMenu>
                    </h:panelGrid>

                    <ui:decorate template="nested-decoration.xhtml" />
                    <ui:decorate template="nested-insertion.xhtml" />

                    <fieldset>
                        <legend>Nested region</legend>

                        <a4j:region id="nestedRegion">
                            <h:inputText id="nestedRegionValueInput" value="#{a4jRegionBean.nestedRegionValue}" />

                            <h:commandButton id="nestedRegionValueButton" value="Nested region">
                                <a4j:ajax listener="#{a4jRegionBean.handleBehavior}" execute="#{a4jRegionBean.nestedExecute}" render="outputValues" />
                            </h:commandButton>

                            <h:selectOneMenu id="nestedRegionSelect" value="#{a4jRegionBean.nestedExecute}">
                                <f:selectItems value="#{a4jRegionBean.executeOptions}" />
                                <a4j:ajax event="change" render="nestedRegionSelect" execute="@this"/>
                            </h:selectOneMenu>
                        </a4j:region>
                    </fieldset>
                </a4j:region>
            </fieldset>


        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>