<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" >

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head"/>

        <ui:define name="component">

            <fieldset>
                <legend>User info panel explicitly executed by ID</legend>

                <h:panelGrid columns="2">
                    <h:panelGrid columns="2" id="inputPanel1">
                        <h:outputText value="Name: " />
                        <h:inputText id="user1NameInput" value="#{a4jRegionBean.user1.name}">
                            <a4j:ajax render="outputPanel1" event="keyup" execute="inputPanel1" />
                        </h:inputText>
                        <h:outputText value="Email: " />
                        <h:inputText id="user1EmailInput" value="#{a4jRegionBean.user1.email}">
                            <a4j:ajax render="outputPanel1" event="keyup" execute="inputPanel1" />
                        </h:inputText>
                    </h:panelGrid>

                    <h:panelGrid columns="2" id="outputPanel1">
                        <h:outputText value="Entered name:" />
                        <h:outputText id="user1NameOutput" value="#{a4jRegionBean.user1.name}" />
                        <h:outputText value="Entered email:" />
                        <h:outputText id="user1EmailOutput" value="#{a4jRegionBean.user1.email}" />
                    </h:panelGrid>
                </h:panelGrid>

            </fieldset>

            <br/>

            <fieldset>
                <legend>User info panel with a4j:region</legend>

                <h:panelGrid columns="2">
                    <a4j:region id="a4jRegion"
                                rendered="#{a4jRegionBean.attributes['rendered'].value}">
                        <h:panelGrid columns="2" id="inputPanel2">
                            <h:outputText value="Name: " />
                            <h:inputText id="user2NameInput" value="#{a4jRegionBean.user2.name}">
                                <a4j:ajax render="outputPanel2" event="keyup" />
                            </h:inputText>
                            <h:outputText value="Email: " />
                            <h:inputText id="user2EmailInput" value="#{a4jRegionBean.user2.email}">
                                <a4j:ajax render="outputPanel2" event="keyup" />
                            </h:inputText>
                        </h:panelGrid>
                    </a4j:region>

                    <h:panelGrid columns="2" id="outputPanel2">
                        <h:outputText value="Entered name:" />
                        <h:outputText id="user2NameOutput" value="#{a4jRegionBean.user2.name}" />
                        <h:outputText value="Entered email:" />
                        <h:outputText id="user2EmailOutput" value="#{a4jRegionBean.user2.email}" />
                    </h:panelGrid>

                </h:panelGrid>
            </fieldset>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jRegionBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>