<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="componentId" value="richList" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head"/>

        <ui:define name="outOfTemplateBefore">
            <rich:dataScroller id="scroller1" for="richList" maxPages="7" render="#{nestedComponentId}" />
        </ui:define>

        <ui:define name="component">
            <rich:list id="richList"
                       dir="#{richListBean.attributes['dir'].value}"
                       first="#{richListBean.attributes['first'].value}"
                       iterationStatusVar="iterationStatus"
                       keepSaved="#{richListBean.attributes['keepSaved'].value}"
                       lang="#{richListBean.attributes['lang'].value}"
                       onclick="#{richListBean.attributes['onclick'].value}"
                       ondblclick="#{richListBean.attributes['ondblclick'].value}"
                       onkeydown="#{richListBean.attributes['onkeydown'].value}"
                       onkeypress="#{richListBean.attributes['onkeypress'].value}"
                       onkeyup="#{richListBean.attributes['onkeyup'].value}"
                       onmousedown="#{richListBean.attributes['onmousedown'].value}"
                       onmousemove="#{richListBean.attributes['onmousemove'].value}"
                       onmouseout="#{richListBean.attributes['onmouseout'].value}"
                       onmouseover="#{richListBean.attributes['onmouseover'].value}"
                       onmouseup="#{richListBean.attributes['onmouseup'].value}"
                       onrowclick="#{richListBean.attributes['onrowclick'].value}"
                       onrowdblclick="#{richListBean.attributes['onrowdblclick'].value}"
                       onrowkeydown="#{richListBean.attributes['onrowkeydown'].value}"
                       onrowkeypress="#{richListBean.attributes['onrowkeypress'].value}"
                       onrowkeyup="#{richListBean.attributes['onrowkeyup'].value}"
                       onrowmousedown="#{richListBean.attributes['onrowmousedown'].value}"
                       onrowmousemove="#{richListBean.attributes['onrowmousemove'].value}"
                       onrowmouseout="#{richListBean.attributes['onrowmouseout'].value}"
                       onrowmouseover="#{richListBean.attributes['onrowmouseover'].value}"
                       onrowmouseup="#{richListBean.attributes['onrowmouseup'].value}"
                       rendered="#{richListBean.attributes['rendered'].value}"
                       rowClass="#{richListBean.attributes['rowClass'].value}"
                       rowClasses="#{richListBean.attributes['rowClasses'].value}"
                       rowKeyConverter="#{richListBean.attributes['rowKeyConverter'].value}"
                       rows="#{richListBean.attributes['rows'].value}"
                       style="#{richListBean.attributes['style'].value}"
                       styleClass="#{richListBean.attributes['styleClass'].value}"
                       value="#{model.employees}"
                       var="item"
                       title="#{richListBean.attributes['title'].value}"
                       type="#{richListBean.attributes['type'].value}">
                <f:facet name="term">
                    <h:outputText id="term" value="#{item.title}" style="font-weight: bold"/>
                </f:facet>

                #{item.name}
            </rich:list>

            <rich:dataScroller id="scroller2" for="richList" maxPages="7" render="richList scroller1" />
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richListBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>