<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <f:subview id="subview">
                <h:outputLabel value="input: " for="input" />
                <h:inputText id="input" value="abc" />
            </f:subview>

            <br/><br/>

            <h:panelGrid columns="2">
                rich:clientId('input')
                <h:outputText id="clientIdOutput" value="#{rich:clientId('input')}" style="font-weight: bold;" />

                rich:element('input')
                <h:outputText id="elementOutput" value="#{rich:element('input')}" style="font-weight: bold;" />

                rich:component('input')
                <h:outputText id="componentOutput" value="#{rich:component('input')}" style="font-weight: bold;" />

                rich:findComponent('input').value
                <h:outputText id="findComponentOutput" value="#{rich:findComponent('input').value}" style="font-weight: bold;" />

                rich:jQuerySelector('input')
                <h:outputText id="jQuerySelectorOutput" value="#{rich:jQuerySelector('input')}" style="font-weight: bold;" />

                rich:jQuery('input')
                <h:outputText id="jQueryOutput" value="#{rich:jQuery('input')}" style="font-weight: bold;" />

                <i>onmouseover</i> jQuery("rich:jQuerySelector('input')").fadeOut()
                <h:commandButton id="jQuerySelectorOutputFadeOut" value="fadeOut" onmouseover="jQuery('#{rich:jQuerySelector('input')}').fadeOut();"/>

                <i>onmouseover</i> jQuery("rich:jQuerySelector('input')").fadeIn()
                <h:commandButton id="jQuerySelectorOutputFadeIn" value="fadeIn" onmouseover="jQuery('#{rich:jQuerySelector('input')}').fadeIn();"/>


            </h:panelGrid>

            <hr/>

            <h:outputLabel value="Role name: " for="roleName" />
            <h:inputText value="#{userBean.rolename}" id="roleName" />
            <br />
            <h:commandLink id="applyLink" value="Apply role name" />

            <hr/>
            <h:panelGrid columns="2">
                rich:isUserInRole('admin, user')
                <h:outputText id="outputUserInRoleAU" value="#{rich:isUserInRole('admin, user')}" style="font-weight: bold;" />

                rich:isUserInRole('admin')
                <h:outputText id="outputUserInRoleA" value="#{rich:isUserInRole('admin')}" style="font-weight: bold;" />

                rich:isUserInRole('user')
                <h:outputText id="outputUserInRoleU" value="#{rich:isUserInRole('user')}" style="font-weight: bold;" />
            </h:panelGrid>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>