<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <h:panelGrid columns="2">
                <h:column>
                    h:inputText:
                </h:column>
                <h:column>
                    <h:inputText id="simpleText1" value="#{a4jAjaxBean.simpleText1}" 
                                 valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />
                    </h:inputText>
                </h:column>
                <h:column>
                    rich:accordion
                </h:column>
                <h:column>
                    <rich:accordion id="accordion" itemChangeListener="#{richBean.itemChangeListener}" >
                        <rich:accordionItem id="item1" name="item1"  header="Item 1">
                            content of item 1
                        </rich:accordionItem>
                        <rich:accordionItem id="item2" name="item2"  header="Item 2">
                            content of item 2
                        </rich:accordionItem>
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />        
                    </rich:accordion>                
                </h:column>

                <h:column>
                    rich:autocomplete:
                </h:column>
                <h:column>
                    <rich:autocomplete id="autocomplete1" value="#{a4jAjaxBean.autocomplete1}" 
                                       valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />
                    </rich:autocomplete>
                </h:column> 
                <h:column>
                    rich:calendar
                </h:column>
                <h:column>
                    <rich:calendar id="calendar1" value="#{a4jAjaxBean.calendar1}" 
                                   valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />
                    </rich:calendar>
                </h:column>

                <h:column>
                    rich:editor
                </h:column>
                <h:column>
                    <rich:editor id="editor1" value="#{a4jAjaxBean.editor1}" width="310px" height="40px"
                                 valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax  listener="#{richBean.actionListener}" render="output" />
                    </rich:editor>
                </h:column>

                <h:column>
                    rich:inplaceInput
                </h:column>
                <h:column>
                    <rich:inplaceInput id="inplaceInput1" value="#{a4jAjaxBean.inplaceInput1}"
                                       valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />    
                    </rich:inplaceInput>
                </h:column>     

                <h:column>
                    rich:inplaceSelect
                </h:column>
                <h:column>
                    <rich:inplaceSelect id="inplaceSelect1" value="#{a4jAjaxBean.inplaceSelect1}"
                                        valueChangeListener="#{richBean.valueChangeListener}" >
                        <f:selectItem itemLabel="x" itemValue="x" />
                        <f:selectItem itemLabel="y" itemValue="y" />
                        <f:selectItem itemLabel="z" itemValue="z" />
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />    
                    </rich:inplaceSelect>
                </h:column>

                <h:column>
                    rich:inputNumberSlider
                </h:column>
                <h:column>
                    <rich:inputNumberSlider id="inputNumberSlider1" value="#{a4jAjaxBean.inputNumberSlider1}"
                                            valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />        
                    </rich:inputNumberSlider>
                </h:column>

                <h:column>
                    rich:inputNumberSpinner
                </h:column>
                <h:column>
                    <rich:inputNumberSpinner id="inputNumberSpinner1" value="#{a4jAjaxBean.inputNumberSpinner1}"
                                             valueChangeListener="#{richBean.valueChangeListener}" >
                        <a4j:ajax listener="#{richBean.actionListener}" render="output" />        
                    </rich:inputNumberSpinner>
                </h:column>
            </h:panelGrid>
            <br/>
            <a4j:outputPanel id="output" layout="block">
                inputText: <h:outputText value="#{a4jAjaxBean.simpleText1}"/><br/>
                autocomplete: <h:outputText value="#{a4jAjaxBean.autocomplete1}"/><br/>
                calendar: <h:outputText value="#{a4jAjaxBean.calendar1}"/><br/>
                editor: <h:outputText value="#{a4jAjaxBean.editor1}"/><br/>
                inplaceInput: <h:outputText value="#{a4jAjaxBean.inplaceInput1}"/><br/>
                inplaceSelect: <h:outputText value="#{a4jAjaxBean.inplaceSelect1}"/><br/>
                inputNumberSlider: <h:outputText value="#{a4jAjaxBean.inputNumberSlider1}"/><br/>
                inputNumberSpinner: <h:outputText value="#{a4jAjaxBean.inputNumberSpinner1}"/><br/>
            </a4j:outputPanel>

        </ui:define>

        <ui:define name="outOfTemplateAfter">

        </ui:define>

    </ui:composition>
</html>