<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <a4j:ajax bypassUpdates="#{a4jAjaxBean.attributes['bypassUpdates'].value}"
                      data="#{a4jAjaxBean.attributes['data'].value}"
                      disabled="#{a4jAjaxBean.attributes['disabled'].value}"
                      event="keyup"
                      execute="#{a4jAjaxBean.attributes['execute'].value}"
                      immediate="#{a4jAjaxBean.attributes['immediate'].value}"
                      limitRender="#{a4jAjaxBean.attributes['limitRender'].value}"
                      listener="#{a4jAjaxBean.attributes.listener}"
                      onbeforedomupdate="#{a4jAjaxBean.attributes['onbeforedomupdate'].value}"
                      onbeforesubmit="#{a4jAjaxBean.attributes['onbeforesubmit'].value}"
                      onbegin="#{a4jAjaxBean.attributes['onbegin'].value}"
                      oncomplete="#{a4jAjaxBean.attributes['oncomplete'].value}"
                      onerror="#{a4jAjaxBean.attributes['onerror'].value}"
                      queueId="#{a4jAjaxBean.attributes['queueId'].value}"
                      render="#{a4jAjaxBean.attributes['render'].value}"
                      status="#{a4jAjaxBean.attributes['status'].value}"
                      >
                <h:inputText id="input1" value="#{a4jAjaxBean.text}"/><br/>
                <h:inputText id="input2" value="#{a4jAjaxBean.text}"/><br/>
                <h:inputText id="input3" value="#{a4jAjaxBean.text}"/><br/>
            </a4j:ajax>

            <a4j:outputPanel id="output1" layout="block">
                <h:outputText value="#{a4jAjaxBean.getOutput('text')}"/>
            </a4j:outputPanel>
            <a4j:outputPanel id="output2" layout="block">
                <h:outputText value="#{a4jAjaxBean.getOutput('text')}"/>
            </a4j:outputPanel>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jAjaxBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>