<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">A4J Ajax</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="hCommandButton" outcome="hCommandButton" value="Command Button">
                Simple page that contains <b>h:commandButton</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hCommandButtonWrapped" outcome="hCommandButtonWrapped" value="Command Button Wrapped">
                Simple page that contains <b>h:commandButton</b> nested in <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hCommandLink" outcome="hCommandLink" value="Command Link">
                Simple page that contains <b>h:commandLink</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hInputText" outcome="hInputText" value="Input Text">
                Simple page that contains <b>h:inputText</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hInputTextWrapped" outcome="hInputTextWrapped" value="Input Text Wrapped">
                Simple page that contains <b>h:inputText</b> nested in <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hInputSecret" outcome="hInputSecret" value="Input Secret">
                Simple page that contains <b>h:inputSecret</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hInputTextarea" outcome="hInputTextarea" value="Input Textarea">
                Simple page that contains <b>h:inputTextarea</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hGraphicImage" outcome="hGraphicImage" value="Graphic Image">
                Simple page that contains <b>h:graphicImage</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectManyMenu" outcome="hSelectManyMenu" value="Select Many Menu">
                Simple page that contains <b>h:selectManyMenu</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectManyListbox" outcome="hSelectManyListbox" value="Select Many Listbox">
                Simple page that contains <b>h:selectManyListbox</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectManyCheckbox" outcome="hSelectManyCheckbox" value="Select Many Checkbox">
                Simple page that contains <b>h:selectManyCheckbox</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectOneMenu" outcome="hSelectOneMenu" value="Select One Menu">
                Simple page that contains <b>h:selectOneMenu</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectBooleanCheckbox" outcome="hSelectBooleanCheckbox" value="Select Boolean Checkbox">
                Simple page that contains <b>h:selectBooleanCheckbox</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectOneRadio" outcome="hSelectOneRadio" value="Select One Radio">
                Simple page that contains <b>h:selectOneRadio</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="hSelectOneListbox" outcome="hSelectOneListbox" value="Select One Listbox">
                Simple page that contains <b>h:selectOneListbox</b> with <b>a4j:ajax</b> and input boxes for all its attributes.
            </metamer:testPageLink>
            
            <metamer:testPageLink id="eventHandlers" outcome="eventHandlers" value="Event handlers for various components">
                Simple page that contains <b>various components</b> with <b>a4j:ajax</b> with event handler to tests collisions on this attribute
            </metamer:testPageLink>
            
            <metamer:testPageLink id="defaultEventHandlers" outcome="defaultEventHandlers" value="Default event handlers for various components">
                Simple page that contains <b>various components</b> with <b>a4j:ajax</b> with default event handler
            </metamer:testPageLink>
            
            <metamer:testPageLink id="rf-12084" outcome="rf-12084" value="RF-12084 simulation">
                Simple page that combine r:ajax and ui:fragment with param to simulate issue <a href="https://issues.jboss.org/browse/RF-12084">RF-12084</a>  
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12185" outcome="rf-12185" value="RF-12185 simulation">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-12185">RF-12185</a>  
            </metamer:testPageLink>
            
            <metamer:testPageLink id="rf-13532" outcome="rf-13532" value="RF-13532 simulation">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13532">RF-13532</a>  
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>