<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:a4j="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">
        <a href="https://issues.jboss.org/browse/RF-13532">RF-13532</a>
        <br />
        <p>
            Support JSF 2.2 resetValues attribute for a4j:ajax
            <ul>
                <li>Click on +1 link</li>
                <li>Value in first input is update</li>
                <li>Check if in second input is value smaller than 10</li>
                <li>Click on save button</li>
                <li>Validation message is shown</li>
                <li>Click on +1 link</li>
                <li>Value in first input is update</li>
            </ul>
        </p>

        <hr />

        <h:messages id="msgs" />
        <h:inputText id="v1" value="#{rf13532.value1}" />
        <h:commandLink value="+1" action="#{rf13532.incValue1}">
            <a4j:ajax render="v1" resetValues="true" />
        </h:commandLink>
        <h:inputText id="v2" value="#{rf13532.value2}">
            <f:validateLongRange minimum="10" />
        </h:inputText>
        <h:commandButton value="Save">
            <a4j:ajax execute="v1 v2" render="msgs v1 v2" />
        </h:commandButton>


    </ui:define>

</ui:composition>
</html>