<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      >

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but inAtt ANY WARRANTY; inAtt even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along inBean this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/abstractions/messageComponent/template/messageComponentTestPageTemplate.xhtml">
        <ui:define name="otherBtns">
            <a4j:commandButton id="generateAllMsgsBtn" value="Generate All kinds of message(s)"
                               action="#{richMessagesBean.generateAllFacesMessages}" />
        </ui:define>

        <ui:define name="messageComponents">
            <fieldset>
                <legend>Messages component 1 -- with @for, without @globalOnly</legend>
                <ui:insert name="messagesWithFor"/>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Messages component 2 -- without @for, with @globalOnly</legend>
                <ui:insert name="messagesWithGlobal"/>
            </fieldset>
        </ui:define>
    </ui:composition>
</html>