<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head"/>

        <ui:define name="component">

            <rich:dataGrid id="richDataGrid"
                           columns="#{richDataGridBean.attributes['columns'].value}"
                           first="#{richDataGridBean.attributes['first'].value}"
                           elements="#{richDataGridBean.attributes['elements'].value}"
                           iterationStatusVar="status"
                           keepSaved="#{richDataGridBean.attributes['keepSaved'].value}"
                           rendered="#{richDataGridBean.attributes['rendered'].value}"
                           style="#{richDataGridBean.attributes['style'].value}"
                           styleClass="#{richDataGridBean.attributes['styleClass'].value}"
                           title="#{richDataGridBean.attributes['title'].value}"
                           value="#{richDataGridBean.state ? model.capitals : null}"
                           var="record">

                <f:facet name="noData">
                    <h:outputText value="There is no data." style="color: red;"/>
                </f:facet>

                <f:facet name="header">
                    <h:outputText value="header" />
                </f:facet>

                <f:facet name="сaption">
                    <h:outputText value="caption" />
                </f:facet>

                <a4j:outputPanel id="statusPanel" styleClass="statuses">
                    <h:outputText id="recordState" value="#{record.state} " style="font-weight: bold;" />
                    <br />
                    <h:outputText id="recordName" value="#{record.name}" />
                    <hr />
                    <h:outputText id="statusBegin" value="begin=#{status.begin}" />,
                    <h:outputText id="statusEnd" value="end=#{status.end}" />,
                    <h:outputText id="statusIndex" value="index=#{status.index}" />, 
                    <h:outputText id="statusCount" value="count=#{status.count}" />,
                    <h:outputText id="statusFirst" value="first=#{status.first}" />,
                    <h:outputText id="statusLast" value="last=#{status.last}" />,
                    <h:outputText id="statusEven" value="even=#{status.even}" />,
                    <h:outputText id="statusRowCount" value="rowCount=#{status.rowCount}" />
                </a4j:outputPanel>

            <f:facet name="footer">
                    <h:outputText value="footer" />
                </f:facet>

            </rich:dataGrid>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richDataGridBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>