<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="componentId" value="richEDT" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .rf-edt[id$=richEDT] {
                    width: 300px !important;
                    height: 300px !important;
                }
                .rf-edt[id$=richEDT] .rf-edt-c-columnCapital  {
                    width: 198px !important;
                }
            </style>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
            <br/>
            <h:outputText value="Show data in table: " />
            <h:selectBooleanCheckbox id="noDataCheckbox" value="#{richExtendedDataTableBean.state}">
                <a4j:ajax render="#{nestedComponentId} scroller1"/>
            </h:selectBooleanCheckbox>
            <br/><br/>
            <rich:dataScroller id="scroller1" for="richEDT" page="#{richExtendedDataTableBean.page}" maxPages="7" render="#{nestedComponentId}"/>
        </ui:define>

        <ui:define name="component">

            <rich:extendedDataTable id="richEDT"
                                    columnClasses="#{richExtendedDataTableBean.attributes['columnClasses'].value}"
                                    first="#{richExtendedDataTableBean.attributes['first'].value}"
                                    footerClass="#{richExtendedDataTableBean.attributes['footerClass'].value}"
                                    frozenColumns="#{richExtendedDataTableBean.attributes['frozenColumns'].value}"
                                    headerClass="#{richExtendedDataTableBean.attributes['headerClass'].value}"
                                    keepSaved="#{richExtendedDataTableBean.attributes['keepSaved'].value}"
                                    noDataLabel="#{richExtendedDataTableBean.attributes['noDataLabel'].value}"
                                    onbeforeselectionchange="#{richExtendedDataTableBean.attributes['onbeforeselectionchange'].value}"
                                    onrowclick="#{richExtendedDataTableBean.attributes['onrowclick'].value}"
                                    onrowdblclick="#{richExtendedDataTableBean.attributes['onrowdblclick'].value}"
                                    onrowkeydown="#{richExtendedDataTableBean.attributes['onrowkeydown'].value}"
                                    onrowkeypress="#{richExtendedDataTableBean.attributes['onrowkeypress'].value}"
                                    onrowkeyup="#{richExtendedDataTableBean.attributes['onrowkeyup'].value}"
                                    onrowmousedown="#{richExtendedDataTableBean.attributes['onrowmousedown'].value}"
                                    onrowmousemove="#{richExtendedDataTableBean.attributes['onrowmousemove'].value}"
                                    onrowmouseout="#{richExtendedDataTableBean.attributes['onrowmouseout'].value}"
                                    onrowmouseover="#{richExtendedDataTableBean.attributes['onrowmouseover'].value}"
                                    onrowmouseup="#{richExtendedDataTableBean.attributes['onrowmouseup'].value}"
                                    onselectionchange="#{richExtendedDataTableBean.attributes['onselectionchange'].value}"
                                    rendered="#{richExtendedDataTableBean.attributes['rendered'].value}"
                                    rowClass="#{richExtendedDataTableBean.attributes['rowClass'].value}"
                                    rowClasses="#{richExtendedDataTableBean.attributes['rowClasses'].value}"
                                    rows="#{richExtendedDataTableBean.attributes['rows'].value}"
                                    selection="#{richExtendedDataTableBean.attributes['selection'].value}"
                                    selectionMode="#{richExtendedDataTableBean.attributes['selectionMode'].value}"
                                    sortMode="#{richExtendedDataTableBean.attributes['sortMode'].value}"
                                    sortPriority="#{richExtendedDataTableBean.attributes['sortPriority'].value}"
                                    style="#{richExtendedDataTableBean.attributes['style'].value}"
                                    styleClass="#{richExtendedDataTableBean.attributes['styleClass'].value}"
                                    value="#{richExtendedDataTableBean.state ? model.capitals : null}"
                                    var="record"
                                    >

                <f:facet name="noData">
                    <h:outputText value="There is no data." style="color: red;"/>
                </f:facet>

                <f:facet name="caption">
                    <h:outputText id="captionFacet" value="Caption Facet" />
                </f:facet>

                <f:facet name="header">
                    <h:outputText value="Header Facet" />
                </f:facet>

                <rich:column id="columnState" sortBy="#{record.state}">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderState" value="State" />
                    </f:facet>

                    <h:outputText value="#{record.state}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterState" value="State" />
                    </f:facet>
                </rich:column>

                <rich:column id="columnCapital" sortBy="#{record.name}">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderCapital" value="Capital" />
                    </f:facet>

                    <h:outputText value="#{record.name}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterCapital" value="Capital" />
                    </f:facet>
                </rich:column>

                <f:facet name="footer">
                    <rich:dataScroller id="scroller2" for="richEDT" page="#{richExtendedDataTableBean.page}" maxPages="7" render="richEDT scroller1" />
                </f:facet>

            </rich:extendedDataTable>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <fieldset>
                <legend>scroller1</legend>

                <h:commandButton id="buttonFirst1" value="&lt;&lt; first">
                    <rich:componentControl event="click" target="#{rich:clientId('scroller1')}" operation="switchToPage">
                        <f:param value="first" />
                    </rich:componentControl>
                </h:commandButton>

                <h:commandButton id="buttonPrev1" value="&lt; previous">
                    <rich:componentControl event="click" target="#{rich:clientId('scroller1')}" operation="previous" />
                </h:commandButton>

                <h:commandButton id="buttonNext1" value="next &gt;">
                    <rich:componentControl event="click" target="#{rich:clientId('scroller1')}" operation="next" />
                </h:commandButton>

                <h:commandButton id="buttonLast1" value="last &gt;&gt;">
                    <rich:componentControl event="click" target="#{rich:clientId('scroller1')}" operation="switchToPage">
                        <f:param value="last" />
                    </rich:componentControl>
                </h:commandButton>
            </fieldset>

            <c:set var="nestedScrollerId" value="#{nestedComponentId}:scroller2" />

            <fieldset>
                <legend>scroller2</legend>
                <h:commandButton id="buttonFirst2" value="&lt;&lt; first">
                    <rich:componentControl event="click" target="#{nestedScrollerId}" operation="switchToPage">
                        <f:param value="first" />
                    </rich:componentControl>
                </h:commandButton>

                <h:commandButton id="buttonPrev2" value="&lt; previous">
                    <rich:componentControl event="click" target="#{nestedScrollerId}" operation="previous" />
                </h:commandButton>

                <h:commandButton id="buttonNext2" value="next &gt;">
                    <rich:componentControl event="click" target="#{nestedScrollerId}" operation="next" />
                </h:commandButton>

                <h:commandButton id="buttonLast2" value="last &gt;&gt;">
                    <rich:componentControl event="click" target="#{nestedScrollerId}" operation="switchToPage">
                        <f:param value="last" />
                    </rich:componentControl>
                </h:commandButton>
            </fieldset>

            <metamer:attributes value="#{richExtendedDataTableBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>