<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <a4j:commandButton id="button" value="Increase Counter" action="#{a4jOutputPanelBean.increaseCounterAction}"/>

            <fieldset style="margin-top: 20px;">
                <legend>a4j:outputPanel</legend>

                <a4j:outputPanel id="outputPanel"
                                 ajaxRendered="#{a4jOutputPanelBean.attributes['ajaxRendered'].value}"
                                 dir="#{a4jOutputPanelBean.attributes['dir'].value}"
                                 keepTransient="#{a4jOutputPanelBean.attributes['keepTransient'].value}"
                                 lang="#{a4jOutputPanelBean.attributes['lang'].value}"
                                 layout="#{a4jOutputPanelBean.attributes['layout'].value}"
                                 onclick="#{a4jOutputPanelBean.attributes['onclick'].value}"
                                 ondblclick="#{a4jOutputPanelBean.attributes['ondblclick'].value}"
                                 onkeydown="#{a4jOutputPanelBean.attributes['onkeydown'].value}"
                                 onkeypress="#{a4jOutputPanelBean.attributes['onkeypress'].value}"
                                 onkeyup="#{a4jOutputPanelBean.attributes['onkeyup'].value}"
                                 onmousedown="#{a4jOutputPanelBean.attributes['onmousedown'].value}"
                                 onmousemove="#{a4jOutputPanelBean.attributes['onmousemove'].value}"
                                 onmouseout="#{a4jOutputPanelBean.attributes['onmouseout'].value}"
                                 onmouseover="#{a4jOutputPanelBean.attributes['onmouseover'].value}"
                                 onmouseup="#{a4jOutputPanelBean.attributes['onmouseup'].value}"
                                 rendered="#{a4jOutputPanelBean.attributes['rendered'].value}"
                                 style="#{a4jOutputPanelBean.attributes['style'].value}"
                                 styleClass="#{a4jOutputPanelBean.attributes['styleClass'].value}"
                                 title="#{a4jOutputPanelBean.attributes['title'].value}"
                                 >
                    #{a4jOutputPanelBean.counter}
                </a4j:outputPanel>
            </fieldset>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jOutputPanelBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>
