<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="componentId" value="richDataTable" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richDataTable.css"/>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
            <br/>
            <h:outputText value="Show data in table: " />
            <h:selectBooleanCheckbox id="noDataCheckbox" value="#{richDataTableBean.state}">
                <a4j:ajax render="#{nestedComponentId}"/>
            </h:selectBooleanCheckbox>
            <br/><br/>
        </ui:define>

        <ui:define name="component">

            <rich:dataTable id="richDataTable"
                            captionClass="#{richDataTableBean.attributes['captionClass'].value}"
                            columnClasses="#{richDataTableBean.attributes['columnClasses'].value}"
                            first="#{richDataTableBean.attributes['first'].value}"
                            footerClass="#{richDataTableBean.attributes['footerClass'].value}"
                            headerClass="#{richDataTableBean.attributes['headerClass'].value}"
                            keepSaved="#{richDataTableBean.attributes['keepSaved'].value}"
                            noDataLabel="#{richDataTableBean.attributes['noDataLabel'].value}"
                            onrowclick="#{richDataTableBean.attributes['onrowclick'].value}"
                            onrowdblclick="#{richDataTableBean.attributes['onrowdblclick'].value}"
                            onrowkeydown="#{richDataTableBean.attributes['onrowkeydown'].value}"
                            onrowkeypress="#{richDataTableBean.attributes['onrowkeypress'].value}"
                            onrowkeyup="#{richDataTableBean.attributes['onrowkeyup'].value}"
                            onrowmousedown="#{richDataTableBean.attributes['onrowmousedown'].value}"
                            onrowmousemove="#{richDataTableBean.attributes['onrowmousemove'].value}"
                            onrowmouseout="#{richDataTableBean.attributes['onrowmouseout'].value}"
                            onrowmouseover="#{richDataTableBean.attributes['onrowmouseover'].value}"
                            onrowmouseup="#{richDataTableBean.attributes['onrowmouseup'].value}"
                            rendered="#{richDataTableBean.attributes['rendered'].value}"
                            rowClass="#{richDataTableBean.attributes['rowClass'].value}"
                            rowClasses="#{richDataTableBean.attributes['rowClasses'].value}"
                            rows="#{richDataTableBean.attributes['rows'].value}"
                            sortMode="#{richDataTableBean.attributes['sortMode'].value}"
                            sortPriority="#{richDataTableBean.attributes['sortPriority'].value}"
                            style="#{richDataTableBean.attributes['style'].value}"
                            styleClass="#{richDataTableBean.attributes['styleClass'].value}"
                            value="#{richDataTableBean.state ? model.capitals : null}"
                            var="record"
                            >

                <f:facet name="noData">
                    <h:outputText id="noData" value="#{richDataTableBean.facets['noData']}" style="color: red;"
                                  rendered="#{not empty richDataTableBean.facets['noData']}"/>
                </f:facet>

                <f:facet name="caption">
                    <h:outputText 	id="caption" value="#{richDataTableBean.facets['caption']}"
                                   rendered="#{not empty richDataTableBean.facets['caption']}"/>
                </f:facet>

                <f:facet name="header">
                    <h:outputText 	id="header" value="#{richDataTableBean.facets['header']}"
                                   rendered="#{not empty richDataTableBean.facets['header']}" />
                </f:facet>

                <rich:column id="columnState" sortBy="#{record.state}">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderState" value="#{richDataTableBean.facets['columnStateHeader']}"
                                      rendered="#{not empty richDataTableBean.facets['columnStateHeader']}"/>
                    </f:facet>

                    <h:outputText value="#{record.state}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterState" value="#{richDataTableBean.facets['columnStateFooter']}"
                                      rendered="#{not empty richDataTableBean.facets['columnStateFooter']}"/>
                    </f:facet>
                </rich:column>

                <rich:column id="columnCapital" sortBy="#{record.name}">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderCapital" value="#{richDataTableBean.facets['columnCapitalHeader']}"
                                      rendered="#{not empty richDataTableBean.facets['columnCapitalHeader']}"/>
                    </f:facet>

                    <h:outputText value="#{record.name}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterCapital" value="#{richDataTableBean.facets['columnCapitalFooter']}"
                                      rendered="#{not empty richDataTableBean.facets['columnCapitalFooter']}"/>
                    </f:facet>
                </rich:column>

                <f:facet name="footer">
                    <h:outputText id="footer" value="#{richDataTableBean.facets['footer']}"
                                  rendered="#{not empty richDataTableBean.facets['footer']}" />
                </f:facet>

            </rich:dataTable>
        </ui:define>

        <ui:define name="outOfTemplateAfter">

            <a4j:ajax render="#{nestedComponentId}">
                <h:panelGrid columns="2">
                    <h:outputLabel value="No Data Facet: " />
                    <h:inputText id="noDataInput" value="#{richDataTableBean.facets['noData']}" />

                    <h:outputLabel value="Caption Facet: " />
                    <h:inputText id="captionInput" value="#{richDataTableBean.facets['caption']}" />

                    <h:outputLabel value="Header Facet:" />
                    <h:inputText id="headerInput" value="#{richDataTableBean.facets['header']}" />

                    <h:outputLabel value="Footer Facet:" />
                    <h:inputText id="footerInput" value="#{richDataTableBean.facets['footer']}" />

                    <h:outputLabel value="State Column Header:" />
                    <h:inputText id="stateHeaderInput" value="#{richDataTableBean.facets['columnStateHeader']}" />

                    <h:outputLabel value="State Column Footer:" />
                    <h:inputText id="stateFooterInput" value="#{richDataTableBean.facets['columnStateFooter']}" />

                    <h:outputLabel value="Capital Column Header:" />
                    <h:inputText id="capitalHeaderInput" value="#{richDataTableBean.facets['columnCapitalHeader']}" />

                    <h:outputLabel value="Capital Column Footer:" />
                    <h:inputText id="capitalFooterInput" value="#{richDataTableBean.facets['columnCapitalFooter']}" />
                </h:panelGrid>
            </a4j:ajax>

            <br/><br/>

            <metamer:attributes value="#{richDataTableBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>