<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="componentId" value="richDataTable" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richDataTable.css"/>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
            <br/>
            <h:outputText value="Show data in table: " />
            <h:selectBooleanCheckbox id="noDataCheckbox" value="#{richDataTableBean.state}">
                <a4j:ajax render="#{nestedComponentId} scroller1"/>
            </h:selectBooleanCheckbox>
            <br/><br/>
            <rich:dataScroller id="scroller1" for="richDataTable" page="#{richDataTableBean.page}" maxPages="7" render="#{nestedComponentId}"/>
        </ui:define>

        <ui:define name="component">
            <rich:dataTable id="richDataTable"
                            captionClass="#{richDataTableBean.attributes['captionClass'].value}"
                            columnClasses="#{richDataTableBean.attributes['columnClasses'].value}"
                            first="#{richDataTableBean.attributes['first'].value}"
                            footerClass="#{richDataTableBean.attributes['footerClass'].value}"
                            headerClass="#{richDataTableBean.attributes['headerClass'].value}"
                            keepSaved="#{richDataTableBean.attributes['keepSaved'].value}"
                            noDataLabel="#{richDataTableBean.attributes['noDataLabel'].value}"
                            onrowclick="#{richDataTableBean.attributes['onrowclick'].value}"
                            onrowdblclick="#{richDataTableBean.attributes['onrowdblclick'].value}"
                            onrowkeydown="#{richDataTableBean.attributes['onrowkeydown'].value}"
                            onrowkeypress="#{richDataTableBean.attributes['onrowkeypress'].value}"
                            onrowkeyup="#{richDataTableBean.attributes['onrowkeyup'].value}"
                            onrowmousedown="#{richDataTableBean.attributes['onrowmousedown'].value}"
                            onrowmousemove="#{richDataTableBean.attributes['onrowmousemove'].value}"
                            onrowmouseout="#{richDataTableBean.attributes['onrowmouseout'].value}"
                            onrowmouseover="#{richDataTableBean.attributes['onrowmouseover'].value}"
                            onrowmouseup="#{richDataTableBean.attributes['onrowmouseup'].value}"
                            rendered="#{richDataTableBean.attributes['rendered'].value}"
                            rowClass="#{richDataTableBean.attributes['rowClass'].value}"
                            rowClasses="#{richDataTableBean.attributes['rowClasses'].value}"
                            rows="#{richDataTableBean.attributes['rows'].value}"
                            sortMode="#{richDataTableBean.attributes['sortMode'].value}"
                            sortPriority="#{richDataTableBean.attributes['sortPriority'].value}"
                            style="#{richDataTableBean.attributes['style'].value}"
                            styleClass="#{richDataTableBean.attributes['styleClass'].value}"
                            value="#{richDataTableBean.state ? model.employees : null}"
                            var="record"
                            >

                <f:facet name="noData">
                    <h:outputText value="There is no data." style="color: red;"/>
                </f:facet>

                <rich:column id="columnSex" filter="#{richDataTableBean.filterSexImpl}" filterType="custom">
                    <f:facet name="header">
                        <h:panelGroup>
                            <h:outputText id="columnHeaderSex" value="Sex"  />
                            <br/>
                            <h:outputText id="columnHeaderSexType" value="(filter)"  />
                            <br/>
                            <h:selectOneMenu id="columnHeaderSexInput" value="#{richDataTableBean.filtering['sex']}" >
                                <f:selectItem itemValue="ALL" itemLabel="all"/>
                                <f:selectItem itemValue="FEMALE" itemLabel="female"/>
                                <f:selectItem itemValue="MALE" itemLabel="male"/>
                                <a4j:ajax render="commonGrid" event="change"/>
                            </h:selectOneMenu>
                        </h:panelGroup>
                    </f:facet>

                    <h:graphicImage library="images" name="#{record.sex == 'MALE' ? 'male.png' : 'female.png'}" alt="#{record.sex}" />

                    <f:facet name="footer">
                        <h:outputText id="columnFooterSex" value="Sex" />
                    </f:facet>
                </rich:column>


                <rich:column id="columnName" filterExpression="#{fn:containsIgnoreCase(record.name, richDataTableBean.filtering['name'])}" filterType="custom">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderName" value="Name" />
                        <br/>
                        <h:outputText id="columnHeaderNameType" value="(expression contains ignore case)" />
                        <br/>
                        <h:inputText id="columnHeaderNameInput" value="#{richDataTableBean.filtering['name']}">
                            <a4j:ajax render="commonGrid" event="change"/>
                        </h:inputText> 	
                    </f:facet>

                    <h:outputText value="#{record.name}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterState" value="Name" />
                    </f:facet>
                </rich:column>

                <rich:column id="columnTitle" filterExpression="#{richDataTableBean.filtering['title'] == null || richDataTableBean.filtering['title'] == '' || record.title == richDataTableBean.filtering['title']}" filterType="custom">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderTitle" value="Title" />
                        <br/>
                        <h:outputText id="columnHeaderTitleType" value="(expression equals)" />
                        <br/>
                        <h:inputText id="columnHeaderTitleInput" value="#{richDataTableBean.filtering['title']}">
                            <a4j:ajax render="commonGrid" event="change"/>
                        </h:inputText>
                    </f:facet>

                    <h:outputText value="#{record.title}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterTitle" value="Title" />
                    </f:facet>
                </rich:column>

                <rich:column id="columnNumberOfKids1" filterExpression="#{empty richDataTableBean.filtering['numberOfKids1'] || record.numberOfKids >= richDataTableBean.filtering['numberOfKids1']}" filterType="custom">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderNumberOfKids" value="Number of Kids" />
                        <br/>
                        <h:outputText id="columnHeaderNumberOfKidsType" value="(expression &gt;=)" />
                        <br/>
                        <rich:inputNumberSpinner id="spinnerFilter" minValue="0" maxValue="6" cycled="false" value="#{richDataTableBean.filtering['numberOfKids1']}">
                            <a4j:ajax event="change" render="commonGrid" />
                        </rich:inputNumberSpinner>
                    </f:facet>

                    <h:outputText value="#{record.numberOfKids}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterNumberOfKids" value="Number of Kids" />
                    </f:facet>
                </rich:column>

                <rich:column id="columnNumberOfKids2" filterType="custom">
                    <f:facet name="header">
                        <h:outputText id="columnHeaderNumberOfKids2" value="Number of Kids" />
                        <br/>
                        <h:outputText id="columnHeaderNumberOfKids2Type" value="(expression &lt;)" />
                        <br/>
                        <rich:inputNumberSlider id="sliderFilter" minValue="0" maxValue="6" value="#{richDataTableBean.filtering['numberOfKids2']}">
                            <!-- <a4j:ajax render="commonGrid" /> -->
                        </rich:inputNumberSlider>
                        <br />
                        (a4j:ajax disabled - RF-9900)
                    </f:facet>

                    <h:outputText value="#{record.numberOfKids}" />
                    <f:facet name="footer">
                        <h:outputText id="columnFooterNumberOfKids2" value="Number of Kids" />
                    </f:facet>
                </rich:column>

                <f:facet name="footer">
                    <rich:dataScroller id="scroller2" for="richDataTable" page="#{richDataTableBean.page}" maxPages="7" render="richDataTable scroller1" />
                </f:facet>
            </rich:dataTable>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richDataTableBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>