<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Data Table</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page that contains <b>rich:dataTable</b> (with model containing capitals) and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="facets" outcome="facets" value="Facets">
                Simple page that contains <b>rich:dataTable</b> (with model containing capitals) and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="scroller" outcome="scroller" value="Data Scroller">
                Page that contains <b>rich:dataTable</b> (with model containing capitals), data scroller and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="components1" outcome="components1" value="Various Components 1">
                Page that contains <b>rich:dataTable</b> (with model containing employees) and input boxes for all its attributes.
                <span style="color: red">TODO will be used with various types of input and command components as soon as available</span>
            </metamer:testPageLink>

            <metamer:testPageLink id="components2" outcome="components2" value="Various Components 2">
                Page that contains <b>rich:dataTable</b> (with model containing employees) and input boxes for all its attributes.
                <span style="color: red">TODO will be used with various types of input and command components as soon as available</span>
            </metamer:testPageLink>

            <metamer:testPageLink id="sorting-using-component-control" outcome="sorting-using-component-control" value="Table Sorting - Component Control">
                <b>rich:dataTable</b> (with model containing employees) sortable by <b>rich:componentControl</b>.
            </metamer:testPageLink>

            <metamer:testPageLink id="sorting-using-column" outcome="sorting-using-column" value="Table Sorting - Column based">
                <b>rich:dataTable</b> (with model containing employees) custom sorting by <b>rich:column</b>'s attribute @sortBy, @sortOrder.
            </metamer:testPageLink>

            <metamer:testPageLink id="filtering" outcome="filtering" value="Table Filtering">
                Page that contains filterable <b>rich:dataTable</b> (with model containing employees) and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="keepSaved" outcome="keepSaved" value="Keep Saved">
                Page for testing attribute keepSaved of <b>rich:dataTable</b>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rows" outcome="rows" value="Rows function">
                Page for testing of @rows function.
            </metamer:testPageLink>
            
            <metamer:testPageLink id="builtInFiltering" outcome="builtInFiltering" value="Built-in filtering">
                Page for testing built-in sorting and filtering features.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-11382" outcome="rf-11382" value="RF-11382">
                Page simulation issue <a href="https://issues.jboss.org/browse/RF-11382" >RF-11382</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-11970" outcome="rf-11970" value="RF-11970">
                Page simulation issue <a href="https://issues.jboss.org/browse/RF-11970" >RF-11970</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12790" outcome="rf-12790" value="RF-12790">
                Page simulation issue <a href="https://issues.jboss.org/browse/RF-12790" >RF-12790</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13192" outcome="rf-13192" value="RF-13192">
                Page simulation issue <a href="https://issues.jboss.org/browse/RF-13192" >RF-13192</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13889" outcome="rf-13889" value="RF-13889">
                Page simulation issue <a href="https://issues.jboss.org/browse/RF-13889" >RF-13889</a>
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
