<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
    xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
<h:head>
</h:head>
<h:body>
<p>This is page which use code from <a href="https://issues.jboss.org/browse/RF-13889">https://issues.jboss.org/browse/RF-13889</a></p>
<p>This is not reproducer. Because after click on sorting button tables is sorted and no error is shown.</p>
    <h:form>
    <rich:dataTable var="employee" value="#{rf13889.employees}" styleClass="resultTable"
            rowKeyVar="row">
            <rich:column>#{row + 1}</rich:column>
            <rich:column sortBy="#{employee.name}" sortOrder="ascending">
                <f:facet name="header">Employee name</f:facet>
                <h:outputText value="#{employee.name}" />
            </rich:column>
        </rich:dataTable>
        <br />
        <p>This is output debug console</p>
        <a4j:log level="debug"></a4j:log>
    </h:form>
</h:body>
</html>