<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="componentId" value="richDataTable" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richDataTable.css"/>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
            <br/>
            <h:outputText value="Show data in table: " />
            <h:selectBooleanCheckbox id="noDataCheckbox" value="#{richDataTableBean.state}">
                <a4j:ajax render="#{nestedComponentId} scroller1"/>
            </h:selectBooleanCheckbox>
            <br/><br/>
            <rich:dataScroller id="scroller1" for="richDataTable" page="#{richDataTableBean.page}" maxPages="7" render="#{nestedComponentId}"/>
        </ui:define>

        <ui:define name="component">

            <rich:dataTable id="richDataTable"
                            captionClass="#{richDataTableBean.attributes['captionClass'].value}"
                            columnClasses="#{richDataTableBean.attributes['columnClasses'].value}"
                            first="#{richDataTableBean.attributes['first'].value}"
                            footerClass="#{richDataTableBean.attributes['footerClass'].value}"
                            headerClass="#{richDataTableBean.attributes['headerClass'].value}"
                            keepSaved="#{richDataTableBean.attributes['keepSaved'].value}"
                            noDataLabel="#{richDataTableBean.attributes['noDataLabel'].value}"
                            onrowclick="#{richDataTableBean.attributes['onrowclick'].value}"
                            onrowdblclick="#{richDataTableBean.attributes['onrowdblclick'].value}"
                            onrowkeydown="#{richDataTableBean.attributes['onrowkeydown'].value}"
                            onrowkeypress="#{richDataTableBean.attributes['onrowkeypress'].value}"
                            onrowkeyup="#{richDataTableBean.attributes['onrowkeyup'].value}"
                            onrowmousedown="#{richDataTableBean.attributes['onrowmousedown'].value}"
                            onrowmousemove="#{richDataTableBean.attributes['onrowmousemove'].value}"
                            onrowmouseout="#{richDataTableBean.attributes['onrowmouseout'].value}"
                            onrowmouseover="#{richDataTableBean.attributes['onrowmouseover'].value}"
                            onrowmouseup="#{richDataTableBean.attributes['onrowmouseup'].value}"
                            rendered="#{richDataTableBean.attributes['rendered'].value}"
                            rowClass="#{richDataTableBean.attributes['rowClass'].value}"
                            rowClasses="#{richDataTableBean.attributes['rowClasses'].value}"
                            rows="#{richDataTableBean.attributes['rows'].value}"
                            sortMode="#{richDataTableBean.attributes['sortMode'].value}"
                            sortPriority="#{richDataTableBean.attributes['sortPriority'].value}"
                            style="#{richDataTableBean.attributes['style'].value}"
                            styleClass="#{richDataTableBean.attributes['styleClass'].value}"
                            value="#{richDataTableBean.state ? model.employees : null}"
                            var="record"
                            >

                <f:facet name="noData">
                    <h:outputText value="There is no data." style="color: red;"/>
                </f:facet>

                <rich:column id="columnSex" sortBy="#{record.sex}" sortOrder="#{richDataTableBean.sorting['columnSex'].order}" sortType="custom">
                    <f:facet name="header">
                        <a4j:commandLink id="sortBySex" value="Sex" render="richDataTable" action="#{richDataTableBean.sorting['columnSex'].reverseOrder}" />
                    </f:facet>
                    <h:graphicImage library="images" name="#{record.sex == 'MALE' ? 'male.png' : 'female.png'}" alt="#{record.sex}" />
                </rich:column>


                <rich:column id="columnName" sortBy="#{record.name}" sortOrder="#{richDataTableBean.sorting['columnName'].order}" sortType="custom">
                    <f:facet name="header">
                        <a4j:commandLink id="sortByName" value="Name" render="richDataTable" action="#{richDataTableBean.sorting['columnName'].reverseOrder}" />
                    </f:facet>
                    <h:outputText value="#{record.name}" />
                </rich:column>

                <rich:column id="columnTitle" sortBy="#{record.title}" sortOrder="#{richDataTableBean.sorting['columnTitle'].order}" sortType="custom">
                    <f:facet name="header">
                        <a4j:commandLink id="sortByTitle" value="Title" render="richDataTable" action="#{richDataTableBean.sorting['columnTitle'].reverseOrder}" />
                    </f:facet>
                    <h:outputText value="#{record.title}" />
                </rich:column>

                <rich:column id="columnNumberOfKids" sortBy="#{record.numberOfKids}" sortOrder="#{richDataTableBean.sorting['columnNumberOfKids'].order}" sortType="custom">
                    <f:facet name="header">
                        <a4j:commandLink id="sortByNumberOfKids" value="# of Kids" render="richDataTable" action="#{richDataTableBean.sorting['columnNumberOfKids'].reverseOrder}" />
                    </f:facet>
                    <h:outputText value="#{record.numberOfKids}" />
                </rich:column>

                <f:facet name="footer">
                    <rich:dataScroller id="scroller2" for="richDataTable" page="#{richDataTableBean.page}" maxPages="7" render="richDataTable scroller1" />
                </f:facet>

            </rich:dataTable>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <a4j:commandButton id="sortReset" value="Reset Sorting" action="#{richDataTableBean.sorting.clear}" render="#{nestedComponentId} scroller1" />

            <br /><br />
            <metamer:attributes value="#{richDataTableBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>