<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      >

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <h:commandButton id="submitButton" value="submit"/>
            <br/>
            <rich:orderingList id="orderingList"
                            collectionType="java.util.LinkedList"
                            itemLabel="#{capital.name}"
                            itemValue="#{capital}"
                            value="#{richOrderingListBean.capitals}"
                            var="capital">
                <f:converter converterId="capitalConverter" />
            </rich:orderingList>

            <br/><br/>
            <fieldset>
                <legend>JavaScript API</legend>
                Output value for all get methods: <h:inputText id="value"/>
                <br/><br/>
                On click:
                <br/>
                <input id="getList" type="button" name="getList" value="getList().length()" onclick="$('[id$=value]').val(#{rich:component('orderingList')}.getList().length())" />
                <input id="up" type="button" name="up" value="up()" onclick="#{rich:component('orderingList')}.up()" />
                <input id="down" type="button" name="down" value="down()" onclick="#{rich:component('orderingList')}.down()" />
                <input id="upTop" type="button" name="upTop" value="upTop()" onclick="#{rich:component('orderingList')}.upTop()" />
                <input id="downBottom" type="button" name="downBottom" value="downBottom()" onclick="#{rich:component('orderingList')}.downBottom()" />
            </fieldset>
        </ui:define>
    </ui:composition>
</html>
