<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <rich:orderingList id="orderingList"
                               listHeight="130"
                               listWidth="400"
                               caption="#{richOrderingListBean.attributes['caption'].value}"
                               collectionType="java.util.LinkedList"
                               columnClasses="#{richOrderingListBean.attributes['columnClasses'].value}"
                               disabled="#{richOrderingListBean.attributes['disabled'].value}"
                               disabledClass="#{richOrderingListBean.attributes['disabledClass'].value}"
                               downBottomText="#{richOrderingListBean.attributes['downBottomText'].value}"
                               downText="#{richOrderingListBean.attributes['downText'].value}"
                               headerClass="#{richOrderingListBean.attributes['headerClass'].value}"
                               immediate="#{richOrderingListBean.attributes['immediate'].value}"
                               itemClass="#{richOrderingListBean.attributes['itemClass'].value}"
                               itemLabel="#{capital.name}"
                               itemValue="#{capital}"
                               maxListHeight="#{richOrderingListBean.attributes['maxListHeight'].value}"
                               minListHeight="#{richOrderingListBean.attributes['minListHeight'].value}"
                               onblur="#{richOrderingListBean.attributes['onblur'].value}"
                               onchange="#{richOrderingListBean.attributes['onchange'].value}"
                               onclick="#{richOrderingListBean.attributes['onclick'].value}"
                               ondblclick="#{richOrderingListBean.attributes['ondblclick'].value}"
                               onfocus="#{richOrderingListBean.attributes['onfocus'].value}"
                               onkeydown="#{richOrderingListBean.attributes['onkeydown'].value}"
                               onkeypress="#{richOrderingListBean.attributes['onkeypress'].value}"
                               onkeyup="#{richOrderingListBean.attributes['onkeyup'].value}"
                               onlistclick="#{richOrderingListBean.attributes['onlistclick'].value}"
                               onlistdblclick="#{richOrderingListBean.attributes['onlistdblclick'].value}"
                               onlistkeydown="#{richOrderingListBean.attributes['onlistkeydown'].value}"
                               onlistkeypress="#{richOrderingListBean.attributes['onlistkeypress'].value}"
                               onlistkeyup="#{richOrderingListBean.attributes['onlistkeyup'].value}"
                               onlistmousedown="#{richOrderingListBean.attributes['onlistmousedown'].value}"
                               onlistmousemove="#{richOrderingListBean.attributes['onlistmousemove'].value}"
                               onlistmouseout="#{richOrderingListBean.attributes['onlistmouseout'].value}"
                               onlistmouseover="#{richOrderingListBean.attributes['onlistmouseover'].value}"
                               onlistmouseup="#{richOrderingListBean.attributes['onlistmouseup'].value}"
                               onmousedown="#{richOrderingListBean.attributes['onmousedown'].value}"
                               onmousemove="#{richOrderingListBean.attributes['onmousemove'].value}"
                               onmouseout="#{richOrderingListBean.attributes['onmouseout'].value}"
                               onmouseover="#{richOrderingListBean.attributes['onmouseover'].value}"
                               onmouseup="#{richOrderingListBean.attributes['onmouseup'].value}"
                               rendered="#{richOrderingListBean.attributes['rendered'].value}"
                               required="#{richOrderingListBean.attributes['required'].value}"
                               requiredMessage="#{richOrderingListBean.attributes['requiredMessage'].value}"
                               selectItemClass="#{richOrderingListBean.attributes['selectItemClass'].value}"
                               style="#{richOrderingListBean.attributes['style'].value}"
                               styleClass="#{richOrderingListBean.attributes['styleClass'].value}"
                               upText="#{richOrderingListBean.attributes['upText'].value}"
                               upTopText="#{richOrderingListBean.attributes['upTopText'].value}"
                               value="#{richOrderingListBean.employees}"
                               valueChangeListener="#{richBean.valueChangeListenerImproved}"
                               var="item">
                <rich:column id="columnName">
                    <h:outputText id="name" value="#{item.name}" />
                </rich:column>
                <rich:column id="columnTitle">
                    <h:outputText id="title" value="#{item.title}" />
                </rich:column>
                <rich:column id="columnBirthdate">
                    <h:outputText id="birthdate" value="#{item.birthdate}">
                        <f:convertDateTime pattern="d MMM yyyy" />
                    </h:outputText>
                </rich:column>
            </rich:orderingList>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richOrderingListBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>
