<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:r="http://richfaces.org/rich"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <p>
                Ordering is bound to empty list, so the required message can be triggered by the ajax submit button.
            </p>

            <a:commandButton id="submitButton" value="ajax submit"/>
            <br/>
            <c:choose>
                <c:when test="#{not empty richOrderingListBean.attributes['requiredMessage'].value}">
                    <r:orderingList id="orderingList"
                                    collectionType="java.util.LinkedList"
                                    itemLabel="#{capital.name}"
                                    itemValue="#{capital}"
                                    required="#{richOrderingListBean.attributes['required'].value}"
                                    requiredMessage="#{richOrderingListBean.attributes['requiredMessage'].value}"
                                    value="#{richOrderingListBean.emptyCapitals}"
                                    var="capital">
                        <f:converter converterId="capitalConverter" />
                    </r:orderingList>
                </c:when>
                <c:otherwise>
                    <r:orderingList id="orderingList"
                                    collectionType="java.util.LinkedList"
                                    itemLabel="#{capital.name}"
                                    itemValue="#{capital}"
                                    required="#{richOrderingListBean.attributes['required'].value}"
                                    value="#{richOrderingListBean.emptyCapitals}"
                                    var="capital">
                        <f:converter converterId="capitalConverter" />
                    </r:orderingList>
                </c:otherwise>
            </c:choose>
            <r:message id="message" for="orderingList"/>
            <br/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <h:outputLabel for="required" value="required: "/>
            <h:selectOneRadio id="requiredInput" value="#{richOrderingListBean.attributes['required'].value}" onchange="submit()">
                <f:selectItem itemValue="null" itemLabel="null"/>
                <f:selectItem itemValue="true" itemLabel="true"/>
                <f:selectItem itemValue="false" itemLabel="false"/>
            </h:selectOneRadio>
            <br/>
            <h:outputLabel for="requiredMessage" value="requiredMessage: "/>
            <h:inputText id="requiredMessageInput" value="#{richOrderingListBean.attributes['requiredMessage'].value}" onchange="submit()"/>
        </ui:define>

    </ui:composition>
</html>
