<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich File Upload</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page containing <b>rich:fileUpload</b> and inputs for all its attributes.
            </metamer:testPageLink>
            
            <metamer:testPageLink id="progressFacet" outcome="progressFacet" value="Progress Facet">
                Simple page containing <b>rich:fileUpload</b> with progress facet specified and inputs for all its attributes.
            </metamer:testPageLink>
            
            <metamer:testPageLink id="rf-11825" outcome="rf-11825" value="RF-11825">
                Simple page containing composite component containing <b>rich:fileUpload</b> 
                to simulate <a href="https://issues.jboss.org/browse/RF-11825">RF-11825</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="rf-11977" outcome="rf-11977" value="RF-11977">
                Simple page containing two <b>rich:fileUpload</b> within one form 
                to simulate <a href="https://issues.jboss.org/browse/RF-11977">RF-11977</a>
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
