<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      >

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but inAtt ANY WARRANTY; inAtt even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along inBean this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <!-- ID's used in MessageTestingBean -->
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <script type="text/javascript">
                function command(button){
                    window.valuesSettingState="started";
                    if(button=="wrong"){
                        setWrongValues();
                    }else{
                        setCorrectValues();
                    }
                    window.valuesSettingState="finished";
                }
                if(window.onload == null){
                    window.onload = function(){
                        window.valuesSettingState="";
                    }
                }else{
                    window.onload += function(){
                        window.valuesSettingState="";
                    }
                }
                function setCorrectValues() {
                    $('input[id$=simpleInput1]').val('55').change();
                    $('input[id$=simpleInput2]').val('55').change();
                }

                function setWrongValues() {
                    $('input[id$=simpleInput1]').val('5555').change();
                    $('input[id$=simpleInput2]').val('5555').change();
                }
            </script>
            <fieldset title="Input values setting buttons">
                <legend>Input values setting buttons</legend>
                <input id="setCorrectValuesButton" name="setCorrectValuesButton" type="button" value="set correct values" onclick="command('correct')"/>
                <input id="setWrongValuesButton" name="setWrongValuesButton" type="button" value="set wrong values" onclick="command('wrong')"/>
            </fieldset>
            <br/>
            <ui:insert name="messageComponents"/>
            <br/>
            <fieldset title="Inputs">
                <legend>Inputs</legend>
                <h:panelGrid columns="2">
                    <h:outputLabel for="simpleInput1" value="#{multipleValidationRulesBean.description}"/>
                    <h:inputText id="simpleInput1" value="#{multipleValidationRulesBean.value}"
                                 converter="#{multipleValidationRulesBean.converter}" >
                        <ui:insert name="validation"/>
                    </h:inputText>

                    <h:outputLabel for="simpleInput2" value="#{multipleValidationRulesBean.description}"/>
                    <h:inputText id="simpleInput2" value="#{multipleValidationRulesBean.value}"
                                 converter="#{multipleValidationRulesBean.converter}" >
                        <ui:insert name="validation"/>
                    </h:inputText>
                </h:panelGrid>
            </fieldset>
            <br/>
            <fieldset title="Submit buttons">
                <legend>Submit buttons</legend>
                <h:commandButton id="hButton" value="h:commandButton" style="margin-right: 10px;"/>
                <a4j:commandButton id="a4jButton" value="a4j:commandButton"/>
            </fieldset>
            <br/>
            <fieldset title="Faces message generation buttons">
                <legend>Faces message generation buttons</legend>
                <a4j:commandButton id="generateFatalMsgBtn" value="Generate fatal message(s)"
                                   action="#{richMessageBean.generateFacesMessagesWithSeverity('fatal')}" />
                <a4j:commandButton id="generateErrorMsgBtn" value="Generate error message(s)"
                                   action="#{richMessageBean.generateFacesMessagesWithSeverity('error')}" />
                <a4j:commandButton id="generateWarnMsgBtn" value="Generate warn message(s)"
                                   action="#{richMessageBean.generateFacesMessagesWithSeverity('warn')}" />
                <a4j:commandButton id="generateInfoMsgBtn" value="Generate info message(s)"
                                   action="#{richMessageBean.generateFacesMessagesWithSeverity('info')}" />
                <ui:insert name="otherBtns"/>
            </fieldset>
            <ui:insert name="addition"/>
        </ui:define>
    </ui:composition>
</html>