<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Tree</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simpleSwingTreeNode" outcome="simpleSwingTreeNode" value="Simple - Swing Tree Node">
            	The simple sample of <b>rich:tree</b> with <b>javax.swing.tree.TreeNode</b>, usage including all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="simpleRichFacesTreeNode" outcome="simpleRichFacesTreeNode" value="Simple - RichFaces Tree Node">
                The simple sample of <b>rich:tree</b> with <b>org.richfaces.model.TreeNode</b>, usage including all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="simpleRichFacesTreeDataModel" outcome="simpleRichFacesTreeDataModel" value="Simple - RichFaces Tree Data Model">
                The simple sample of <b>rich:tree</b> with <b>org.richfaces.model.TreeDataModel</b>, usage including all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="treeAdaptors" outcome="treeAdaptors" value="Tree Adaptors">
            	The <b>rich:tree</b> with declarative model using <b>rich:treeModelRecursiveAdaptor</b> and <b>rich:treeModelAdaptor</b>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rowKeyConverterSwingTreeNode" outcome="rowKeyConverterSwingTreeNode" value="Row Key Converter - Swing Tree Node">
                The sample of <b>rich:tree</b> defined with @rowKeyConverter attribute, <b>javax.swing.tree.TreeNode</b> is used
            </metamer:testPageLink>

            <metamer:testPageLink id="rowKeyConverterRichFacesTreeNode" outcome="rowKeyConverterRichFacesTreeNode" value="Row Key Converter - RichFaces Tree Node">
                The sample of <b>rich:tree</b> defined with @rowKeyConverter attribute, <b>org.richfaces.model.TreeNode</b> is used
            </metamer:testPageLink>

            <metamer:testPageLink id="rowKeyConverterRichFacesTreeDataModel" outcome="rowKeyConverterRichFacesTreeDataModel" value="Row Key Converter - RichFaces Tree Data Model">
                The sample of <b>rich:tree</b> defined with @rowKeyConverter attribute, <b>org.richfaces.model.TreeDataModel</b> is used
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-10994" outcome="rf-10994" value="RF-10994">
                The simple sample of <b>rich:tree</b> and <b>DnD</b> simulation issue
                    <a href="https://issues.jboss.org/browse/RF-10994" target="_blank">RF-10994</a>
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
