<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richDragAndDrop.css" />
        </ui:define>

        <ui:define name="component">

            <h3><b>JIRA <a href="https://issues.jboss.org/browse/RF-10994">RF-10994</a> simulation</b></h3>

            <p><i>Tree by default using ajax mode. So when you expanding nodes -leafs which getting loaded should be draggable.<br/>
            But there is no draggable script resource so you could see JS errors instead saying that Draggable si not a constructor.<br/>
            If change toggleType to client - works fine.
            If add any draggable component to the page - it also starts works as scripts already inplace.
            </i></p>

            <rich:dragIndicator id="indicator" />

            <p>
            	<rich:tree value="#{richTreeBean.richFacesTreeNodeRoot}" nodeType="#{node.type}" var="node">
 
        			<rich:treeNode type="country" title="Country node type" expanded="#{richTreeBean.expanded[node]}" >
        				<a4j:outputPanel layout="block">
                            <rich:dropTarget acceptedTypes="file" dropListener="#{richTreeBean.processDragging}" />        					
                            <h:outputText value="#{node.content.label}" />
        				</a4j:outputPanel>
        			</rich:treeNode>
     
        			<rich:treeNode type="company" title="Company node type" expanded="#{richTreeBean.expanded[node]}" >
        				<a4j:outputPanel layout="block">
                            <rich:dragSource type="file" dragIndicator="indicator" />                                                                                					
        					<h:outputText value="#{node.content.label}" />
        				</a4j:outputPanel>
        			</rich:treeNode>
     
                    <rich:treeNode type="cd" title="CD node type" expanded="#{richTreeBean.expanded[node]}" >
                        <a4j:outputPanel layout="block">             
                            <h:outputText value="#{node.content.label}" />
                        </a4j:outputPanel>
                    </rich:treeNode>
     
        		</rich:tree> 
            </p>
        </ui:define>

        <ui:define name="outOfTemplateAfter">

            <fieldset>
                <legend>DnD in rich:tree</legend>
                <metamer:attributes value="#{richTreeBean.attributes}" id="attributes" />
            </fieldset>

        </ui:define>

    </ui:composition>
</html>
