<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      >

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but inAtt ANY WARRANTY; inAtt even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along inBean this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
    <ui:composition template="/templates/abstractions/messageComponent/messageComponentTestPage.xhtml">
        <ui:define name="messageForSelectableInput">
            <rich:message id="messageForSelectableInput"
                          ajaxRendered="#{richMessageBean.attributes['ajaxRendered'].value}"            			   
                          dir="#{richMessageBean.attributes['dir'].value}"
                          escape="#{richMessageBean.attributes['escape'].value}"
                          for="#{richMessageBean.attributes['for'].value}"
                          lang="#{richMessageBean.attributes['lang'].value}"
                          onclick="#{richMessageBean.attributes['onclick'].value}"
                          ondblclick="#{richMessageBean.attributes['ondblclick'].value}"
                          onkeydown="#{richMessageBean.attributes['onkeydown'].value}"
                          onkeypress="#{richMessageBean.attributes['onkeypress'].value}"
                          onkeyup="#{richMessageBean.attributes['onkeyup'].value}"
                          onmousedown="#{richMessageBean.attributes['onmousedown'].value}"
                          onmousemove="#{richMessageBean.attributes['onmousemove'].value}"
                          onmouseout="#{richMessageBean.attributes['onmouseout'].value}"
                          onmouseover="#{richMessageBean.attributes['onmouseover'].value}"
                          onmouseup="#{richMessageBean.attributes['onmouseup'].value}"
                          rendered="#{richMessageBean.attributes['rendered'].value}"
                          showDetail="#{richMessageBean.attributes['showDetail'].value}"
                          showSummary="#{richMessageBean.attributes['showSummary'].value}"
                          style="#{richMessageBean.attributes['style'].value}"
                          styleClass="#{richMessageBean.attributes['styleClass'].value}"
                          title="#{richMessageBean.attributes['title'].value}"/>
        </ui:define>

        <ui:define name="messageForFirstInput">
            <rich:message id="messageForFirstInput"
                          ajaxRendered="#{richMessageBean.attributes['ajaxRendered'].value}"            			   
                          dir="#{richMessageBean.attributes['dir'].value}"
                          escape="#{richMessageBean.attributes['escape'].value}"
                          for="simpleInput1"
                          lang="#{richMessageBean.attributes['lang'].value}"
                          onclick="#{richMessageBean.attributes['onclick'].value}"
                          ondblclick="#{richMessageBean.attributes['ondblclick'].value}"
                          onkeydown="#{richMessageBean.attributes['onkeydown'].value}"
                          onkeypress="#{richMessageBean.attributes['onkeypress'].value}"
                          onkeyup="#{richMessageBean.attributes['onkeyup'].value}"
                          onmousedown="#{richMessageBean.attributes['onmousedown'].value}"
                          onmousemove="#{richMessageBean.attributes['onmousemove'].value}"
                          onmouseout="#{richMessageBean.attributes['onmouseout'].value}"
                          onmouseover="#{richMessageBean.attributes['onmouseover'].value}"
                          onmouseup="#{richMessageBean.attributes['onmouseup'].value}"
                          rendered="#{richMessageBean.attributes['rendered'].value}"
                          showDetail="#{richMessageBean.attributes['showDetail'].value}"
                          showSummary="#{richMessageBean.attributes['showSummary'].value}"
                          style="#{richMessageBean.attributes['style'].value}"
                          styleClass="#{richMessageBean.attributes['styleClass'].value}"
                          title="#{richMessageBean.attributes['title'].value}"/>
        </ui:define>

        <ui:define name="messageForSecondInput">
            <rich:message id="messageForSecondInput"
                          ajaxRendered="#{richMessageBean.attributes['ajaxRendered'].value}"            			   
                          dir="#{richMessageBean.attributes['dir'].value}"
                          escape="#{richMessageBean.attributes['escape'].value}"
                          for="simpleInput2"
                          lang="#{richMessageBean.attributes['lang'].value}"
                          onclick="#{richMessageBean.attributes['onclick'].value}"
                          ondblclick="#{richMessageBean.attributes['ondblclick'].value}"
                          onkeydown="#{richMessageBean.attributes['onkeydown'].value}"
                          onkeypress="#{richMessageBean.attributes['onkeypress'].value}"
                          onkeyup="#{richMessageBean.attributes['onkeyup'].value}"
                          onmousedown="#{richMessageBean.attributes['onmousedown'].value}"
                          onmousemove="#{richMessageBean.attributes['onmousemove'].value}"
                          onmouseout="#{richMessageBean.attributes['onmouseout'].value}"
                          onmouseover="#{richMessageBean.attributes['onmouseover'].value}"
                          onmouseup="#{richMessageBean.attributes['onmouseup'].value}"
                          rendered="#{richMessageBean.attributes['rendered'].value}"
                          showDetail="#{richMessageBean.attributes['showDetail'].value}"
                          showSummary="#{richMessageBean.attributes['showSummary'].value}"
                          style="#{richMessageBean.attributes['style'].value}"
                          styleClass="#{richMessageBean.attributes['styleClass'].value}"
                          title="#{richMessageBean.attributes['title'].value}"/>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richMessageBean.attributes}"/>
        </ui:define>
    </ui:composition>
</html>