<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Column Group</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="headerFooter" outcome="headerFooter" value="Header and Footer">
                <b>rich:columnGroup</b> in the header and footer facets of the table
            </metamer:testPageLink>

            <metamer:testPageLink id="headerFooterEDT" outcome="headerFooterEDT" value="Header and Footer in extended data table">
                <b>rich:columnGroup</b> in the header and footer facets of the extended data table
            </metamer:testPageLink>
            
            <metamer:testPageLink id="body" outcome="body" value="Body">
                <b>rich:columnGroup</b> in the body of the table
            </metamer:testPageLink>

            <metamer:testPageLink id="RF-13259" outcome="RF-13259" value="RF-13259">
                Page for reproducing issue <a href="https://issues.jboss.org/browse/RF-13259">RF-13259</a>.
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>