<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Tooltip</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                The sample of <b>rich:tooltip</b> by default targeted to its parent (rich:panel). The tooltip text is defined in inner text of the <b>rich:tooltip</b> element. 
            </metamer:testPageLink>

            <metamer:testPageLink id="targetting" outcome="targetting" value="Targetting">
                The sample of <b>rich:tooltip</b> with ability to change target.
            </metamer:testPageLink>

            <metamer:testPageLink id="value" outcome="value" value="With Value Attribute">
                The sample of <b>rich:tooltip</b> by default targeted to its parent (rich:panel). The tooltip text is defined in value attribute of the <b>rich:tooltip</b> element. 
            </metamer:testPageLink>

            <metamer:testPageLink id="zindex" outcome="zindex" value="Without z-index Attribute">
                The sample of <b>rich:tooltip</b> without @zindex attribute.
                <a href="https://issues.jboss.org/browse/RF-14027">RF-14027</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-10839" outcome="rf-10839" value="RF-10839">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/RF-10839">RF-10839</a>.
                Attachment using target not works if tooltip defined before the component to which it attaches.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-10960" outcome="rf-10960" value="RF-10960">
                Page demonstrating problems with tooltip in IE7 <a href="https://issues.jboss.org/browse/RF-10960">RF-10960</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-10971" outcome="rf-10971" value="RF-10971">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/RF-10971">RF-10971</a>.
                Tooltip does not work when placed in EDT.
            </metamer:testPageLink>

            <metamer:testPageLink id="RF-11343" outcome="rf-11343" value="RF-11343">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/rf-11343">RF-11343</a>.
                Tooltip does not work within h:input (attached to parent)
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-11783" outcome="rf-11783" value="RF-11783">
                Page demonstrating problems with tooltip within button <a href="https://issues.jboss.org/browse/RF-11783">RF-11783</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12199" outcome="rf-12199" value="RF-12199">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/rf-12199">RF-12199</a>.
                r:tooltip does not work inside h:graphicImage
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12841" outcome="rf-12841" value="RF-12841">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/rf-12841">RF-12841</a>.
                r:tooltip: JavaScript Error with showDelay and partial update
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13715" outcome="rf-13715" value="RF-13715">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/rf-13715">RF-13715</a>.
                r:tooltip: not working inside r:tab header facet
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13815" outcome="rf-13815" value="RF-13815">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/rf-13815">RF-13815</a>.
            </metamer:testPageLink>


        </ui:define>

    </ui:composition>

</html>