<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="componentId" value="richEDT" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .rf-edt[id$=richEDT] {
                    width: 215px !important;
                    height: 300px !important;
                }
            </style>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
        </ui:define>

        <ui:define name="component">
            <p>
                This page demonstrates issue <a href="https://issues.jboss.org/browse/RF-10971">rf-10971</a>.
                Tooltip does not work when placed in EDT. Automatized.

                <ol>
                    <li>Move mouse over some column in table.</li>
                    <li>A tooltip should appear.</li>
                </ol>
            </p>
            <br/>
            <rich:extendedDataTable id="richEDT"
                                    value="#{richExtendedDataTableBean.state ? model.capitals : null}"
                                    var="record" 
                                    >
                <rich:column id="columnState" sortBy="#{record.state}">
                    <f:facet name="header">
                        State
                    </f:facet>
                    #{record.state}
                    <rich:tooltip id="stateTooltip"
                                  hideEvent="#{richTooltipBean.attributes['hideEvent'].value}"
                                  horizontalOffset="#{richTooltipBean.attributes['horizontalOffset'].value}"
                                  showEvent="#{richTooltipBean.attributes['showEvent'].value}"
                                  verticalOffset="#{richTooltipBean.attributes['verticalOffset'].value}" >
                        Tooltip of #{record.state}
                    </rich:tooltip>
                </rich:column>

                <rich:column id="columnCapital" sortBy="#{record.name}">
                    <f:facet name="header">
                        Capital
                    </f:facet>
                    #{record.name}
                    <rich:tooltip id="capitalTooltip"
                                  hideEvent="#{richTooltipBean.attributes['hideEvent'].value}"
                                  horizontalOffset="#{richTooltipBean.attributes['horizontalOffset'].value}"
                                  showEvent="#{richTooltipBean.attributes['showEvent'].value}"
                                  verticalOffset="#{richTooltipBean.attributes['verticalOffset'].value}" >
                        Tooltip of #{record.name}
                    </rich:tooltip>
                </rich:column>
            </rich:extendedDataTable>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            hideEvent: <h:inputText id="hideEventInput" value="#{richTooltipBean.attributes['hideEvent'].value}" onchange="submit()"/>
            <br/>
            horizontalOffset: <h:inputText id="horizontalOffsetInput" value="#{richTooltipBean.attributes['horizontalOffset'].value}" onchange="submit()"/>
            <br/>
            showEvent: <h:inputText id="showEventInput" value="#{richTooltipBean.attributes['showEvent'].value}" onchange="submit()"/>
            <br/>
            verticalOffset: <h:inputText id="verticalOffsetInput" value="#{richTooltipBean.attributes['verticalOffset'].value}" onchange="submit()"/>
            <br/>
        </ui:define>

    </ui:composition>
</html>