<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="outOfTemplateBefore">
            <fieldset>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Filter State:" for="stateNameToFilter" />
                    <h:inputText id="stateNameToFilter" value="#{richColumnBean.stateNameToFilter}">
                        <a4j:ajax event="keyup" render="#{nestedPrefix}richDataTable1 #{nestedPrefix}richDataTable2" />
                    </h:inputText>
                </h:panelGrid>
            </fieldset>

        </ui:define>

        <ui:define name="component">

            <h:panelGrid columns="3">
                <rich:dataTable id="richDataTable1"
                                rendered="true"
                                value="#{model.capitals}"
                                var="record">

                    <f:facet name="header">
                        <rich:column>Filter by <tt>filter</tt></rich:column>
                    </f:facet>

                    <rich:column id="columnState1" filter="#{richColumnBean.stateNameFilter}">
                        <f:facet name="header">State</f:facet>
                        <h:outputText id="state" value="#{record.state}" />
                    </rich:column>

                    <rich:column id="columnCapital1">
                        <f:facet name="header">Capital</f:facet>
                        <h:outputText id="capital" value="#{record.name}" />
                    </rich:column>
                </rich:dataTable>

                <rich:dataTable id="richDataTable2"
                                rendered="true"
                                value="#{model.capitals}"
                                var="record">

                    <f:facet name="header">
                        <rich:column>Filter by <tt>filterExpression</tt></rich:column>
                    </f:facet>

                    <rich:column id="columnState2" filterExpression="#{fn:containsIgnoreCase(record.state, richColumnBean.stateNameToFilter)}">
                        <f:facet name="header">State</f:facet>
                        <h:outputText id="state" value="#{record.state}" />
                    </rich:column>

                    <rich:column id="columnCapital2">
                        <f:facet name="header">Capital</f:facet>
                        <h:outputText id="capital" value="#{record.name}" />
                    </rich:column>
                </rich:dataTable>
            </h:panelGrid>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>