<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" >

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <rich:dataTable id="richDataTable"
                            rendered="true"
                            value="#{model.capitals}"
                            rows="5"
                            var="record">

                <f:facet name="header">
                    <rich:columnGroup>
                        <rich:column colspan="#{richColumnBean.attributes['colspan'].value}"><tt>colspan=#{richColumnBean.attributes['colspan'].value}</tt></rich:column>
                        <rich:column breakRowBefore="#{richColumnBean.attributes['breakRowBefore'].value}"><tt>breakBefore=#{richColumnBean.attributes['breakRowBefore'].value}</tt></rich:column>
                        <rich:column rowspan="#{richColumnBean.attributes['rowspan'].value}"><tt>rowspan=#{richColumnBean.attributes['rowspan'].value}</tt></rich:column>
                        <rich:column breakRowBefore="true">Dummy</rich:column>
                        <rich:column breakRowBefore="#{richColumnBean.attributes['rowspan'].value > 1}">Breaked by <tt>rowspan</tt> > 1</rich:column>
                    </rich:columnGroup>
                </f:facet>

                <rich:column id="columnState"
                			footerClass="#{richColumnBean.attributes['footerClass'].value}"
                			headerClass="#{richColumnBean.attributes['headerClass'].value}"
                			rendered="#{richColumnBean.attributes['rendered'].value}"
                			style="#{richColumnBean.attributes['style'].value}"
                			styleClass="#{richColumnBean.attributes['styleClass'].value}"
                			width="#{richColumnBean.attributes['width'].value}"
                             >
                   	<f:facet name="header">Header</f:facet>
                    <h:outputText id="state" value="#{record.state}" />
                    <f:facet name="footer">Footer</f:facet>
                </rich:column>

                <rich:column id="columnCapital">
                    <h:outputText id="capital" value="#{record.name}" />
                </rich:column>                                   
            </rich:dataTable>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richColumnBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>