<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head"/>

        <ui:define name="component">

            <a4j:commandButton id="button1" value="A4J Command Button" render="output1,output2" >
                <a4j:param id="a4jParam1"
                           assignTo="#{a4jParamBean.parameter}"
                           name="#{a4jParamBean.attributes['name'].value}"
                           noEscape="#{a4jParamBean.attributes['noEscape'].value}"
                           rendered="#{a4jParamBean.attributes['rendered'].value}"
                           value="#{a4jParamBean.attributes['value'].value}"
                           />
            </a4j:commandButton>

            <h:commandButton id="button2" value="H Command Button">
                <a4j:param id="a4jParam2"
                           assignTo="#{a4jParamBean.parameter}"
                           name="#{a4jParamBean.attributes['name'].value}"
                           noEscape="#{a4jParamBean.attributes['noEscape'].value}"
                           rendered="#{a4jParamBean.attributes['rendered'].value}"
                           value="#{a4jParamBean.attributes['value'].value}"
                           />
            </h:commandButton>

            <a4j:commandButton id="resetButton" value="Reset" action="#{a4jParamBean.reset}" render="output1,output2"/>

            <br/><br/>

            output1: <a4j:outputPanel id="output1" layout="inline">#{a4jParamBean.parameter}</a4j:outputPanel>
            <br/>
            output2: <a4j:outputPanel id="output2" layout="inline">#{a4jParamBean.requestParameter}</a4j:outputPanel>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jParamBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>