<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Drop Down Menu</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="topMenu" outcome="topMenu" value="Top Menu">
                Simple page containing a toolbar with several <b>rich:dropDownMenu</b>s and inputs for all attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="sideMenu" outcome="sideMenu" value="Side Menu">
                Page containing several <b>rich:dropDownMenu</b>s and inputs for all attributes.
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-11730_1" outcome="RF-11730_1" value="RF-11730 with ui:fragment">
                Page containing <b>rich:dropDownMenu</b> with dynamic menu groups using ui:fragment and @rendered
                simulating <a href="https://issues.jboss.org/browse/RF-11730">RF-11730</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-11730_2" outcome="RF-11730_2" value="RF-11730 with c:if">
                Page containing <b>rich:dropDownMenu</b> with dynamic menu groups using c:if and @test
                simulating <a href="https://issues.jboss.org/browse/RF-11730">RF-11730</a>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-12298" outcome="RF-12298" value="RF-12298">
                Page containing <b>rich:dropDownMenu</b> simulating IE issue <a href="https://issues.jboss.org/browse/RF-12298">RF-12298</a>.
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
