<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
        </ui:define>

        <ui:define name="component">
            <p style="display:block;width: 75%">
                <a href="https://issues.jboss.org/browse/RF-12298">RF-12298</a>: 
                overlay problem in IE &le; 7. If you are using Internet Explorer version 7 or lower
                (or higher version [8,9] using compatibility mode) then you will face the problem with z-index of the menu
                -- the first item of the menu will underflow the following tab panel.
                <br/>
                Just open the menu and check if the first menu item underflows / is hidden behind the following tab panel.
            </p>
            <br/>
            <br/>
            <rich:dropDownMenu>
                <f:facet name="label">
                    Menu
                </f:facet>            
                <rich:menuItem label="Item 1"/>
                <rich:menuItem label="Item 2"/>
                <rich:menuItem label="Item 3"/>
            </rich:dropDownMenu>
            <rich:tabPanel>         
                <rich:tab header="Tab 1"/>
            </rich:tabPanel>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>