<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .rf-ddm-lbl-unsel {
                    border:1px solid #{a4jSkin.panelBorderColor} !important;
                }

                .optionList {
                    height: 22px;
                }

                .vertical-menu-cell {
                    padding: 0px 4px 0px 4px;
                }
            </style>
        </ui:define>

        <ui:define name="component">

            <i>This menu contains conditionally rendered menu item (labeled 'Menu group 1,2 or Empty Menu Group')
            placed after item labeled 'Print'<br/>
            Using ui:fragment with @rendered causes error, and this option is not displayed, even condition is met.
            </i>
            <br/>
            <br/>

           <!-- component -->
           <rich:toolbar id="toolbar" height="26px">
               <rich:toolbarGroup id="openedTabs" location="left">
                  <rich:dropDownMenu id="menu-opened-tabs">
                      <f:facet name="label">
                         <h:graphicImage library="images/icons" name="copy.gif" styleClass="pic" />
                      </f:facet>
       
                      <rich:menuItem id="menuItem1" label="New" action="#{richDropDownMenuBean.doNew}" icon="/resources/images/icons/create_doc.gif"/>

                      <rich:menuItem id="menuItem2" label="Open" action="#{richDropDownMenuBean.doOpen}" icon="/resources/images/icons/open.gif" />
       
                      <rich:menuGroup id="menuGroup3" label="Open Recent..." disabled="true">
                         <rich:menuItem id="menuItem31" label="Save" action="#{richDropDownMenuBean.doSave}" icon="/resources/images/icons/save.gif" />
                         <rich:menuItem id="menuItem32"  label="Save All" action="#{richDropDownMenuBean.doSaveAll}">
                            <f:facet name="icon">
                                <h:graphicImage library="images/icons" name="save_all.gif" />
                            </f:facet>
                         </rich:menuItem>
                      </rich:menuGroup>
       
                      <rich:menuSeparator id="menuSeparator11" />

                        <rich:menuGroup id="menuGroup4" label="Save As...">
                            <rich:menuItem id="menuItem41" label="Save" action="#{richDropDownMenuBean.doSave}" icon="/resources/images/icons/save.gif" />
                            <rich:menuItem id="menuItem42" label="Save All" action="#{richDropDownMenuBean.doSaveAll}">
                                <f:facet name="icon">
                                    <h:graphicImage library="images/icons" name="save_all.gif" />
                                </f:facet>
                            </rich:menuItem>
                            <rich:menuItem id="menuItem43" label="Send Online" icon="/resources/images/icons/save.gif" disabled="true" />
                        </rich:menuGroup>

                        <rich:menuItem id="menuItem5" label="Print" action="#{richDropDownMenuBean.doPrint}" disabled="true"/>
         
                        <ui:fragment rendered="${empty richDropDownMenuBean.dynamicMenuGroups}" >
                            <rich:menuItem label="Empty Menu Group" />
                        </ui:fragment>
         
                        <ui:fragment rendered="${not empty richDropDownMenuBean.dynamicMenuGroups}" >
                            <c:forEach items="#{richDropDownMenuBean.dynamicMenuGroups}" var="tab">
                                <rich:menuGroup id="menu-group-#{tab.label}" label="#{tab.description}">
                                     <rich:menuItem label="Sub Item 1" />
                                     <rich:menuItem label="Sub Item 2" />
                                  </rich:menuGroup>
                            </c:forEach>         
                        </ui:fragment>
         
                        <rich:menuSeparator id="menuSeparator12" />
                        <rich:menuItem id="menuItem7" label="Exit" action="#{richDropDownMenuBean.doExit}" />
         
                  </rich:dropDownMenu>
               </rich:toolbarGroup>
           </rich:toolbar>
                		
           <br/>
           <a4j:commandButton id="a4jButton" value="[a4j] Change list of tabs" render="menu-opened-tabs"
            actionListener="${richDropDownMenuBean.changeTabList}" />

           <br/><br/>

        </ui:define>

    </ui:composition>
</html>