<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:r="http://richfaces.org/rich"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .rf-ddm-lbl-unsel {
                    border:1px solid #{a4jSkin.panelBorderColor} !important;
                }

                .optionList {
                    height: 22px;
                }

                .vertical-menu-cell {
                    padding: 0px 4px 0px 4px;
                }
            </style>
        </ui:define>

        <ui:define name="component">
            <!-- The following padding helps to stabilise automated tests -->
            <div style="padding: 200px">
                <h:panelGrid styleClass="vertical-menu-cell" columnClasses="optionList" columns="1" cellspacing="0" cellpadding="0">
                    <r:dropDownMenu id="menu1"
                                    dir="#{richDropDownMenuBean.attributes['dir'].value}"
                                    direction="#{richDropDownMenuBean.attributes['direction'].value}"
                                    disabled="#{richDropDownMenuBean.attributes['disabled'].value}"
                                    hideDelay="#{richDropDownMenuBean.attributes['hideDelay'].value}"
                                    horizontalOffset="#{richDropDownMenuBean.attributes['horizontalOffset'].value}"
                                    jointPoint="#{richDropDownMenuBean.attributes['jointPoint'].value}"
                                    lang="#{richDropDownMenuBean.attributes['lang'].value}"
                                    mode="#{richDropDownMenuBean.attributes['mode'].value}"
                                    onclick="#{richDropDownMenuBean.attributes['onclick'].value}"
                                    ondblclick="#{richDropDownMenuBean.attributes['ondblclick'].value}"
                                    ongrouphide="#{richDropDownMenuBean.attributes['ongrouphide'].value}"
                                    ongroupshow="#{richDropDownMenuBean.attributes['ongroupshow'].value}"
                                    onhide="#{richDropDownMenuBean.attributes['onhide'].value}"
                                    onitemclick="#{richDropDownMenuBean.attributes['onitemclick'].value}"
                                    onkeydown="#{richDropDownMenuBean.attributes['onkeydown'].value}"
                                    onkeypress="#{richDropDownMenuBean.attributes['onkeypress'].value}"
                                    onkeyup="#{richDropDownMenuBean.attributes['onkeyup'].value}"
                                    onmousedown="#{richDropDownMenuBean.attributes['onmousedown'].value}"
                                    onmousemove="#{richDropDownMenuBean.attributes['onmousemove'].value}"
                                    onmouseout="#{richDropDownMenuBean.attributes['onmouseout'].value}"
                                    onmouseover="#{richDropDownMenuBean.attributes['onmouseover'].value}"
                                    onmouseup="#{richDropDownMenuBean.attributes['onmouseup'].value}"
                                    onshow="#{richDropDownMenuBean.attributes['onshow'].value}"
                                    popupWidth="#{richDropDownMenuBean.attributes['popupWidth'].value}"
                                    rendered="#{richDropDownMenuBean.attributes['rendered'].value}"
                                    showDelay="#{richDropDownMenuBean.attributes['showDelay'].value}"
                                    showEvent="#{richDropDownMenuBean.attributes['showEvent'].value}"
                                    style="#{richDropDownMenuBean.attributes['style'].value}"
                                    styleClass="#{richDropDownMenuBean.attributes['styleClass'].value}"
                                    title="#{richDropDownMenuBean.attributes['title'].value}"
                                    verticalOffset="#{richDropDownMenuBean.attributes['verticalOffset'].value}"
                                    >
                        <f:facet name="label">
                            <h:panelGroup>
                                <h:graphicImage library="images/icons" name="copy.gif" styleClass="pic" />
                                <h:outputText value="File" />
                            </h:panelGroup>
                        </f:facet>

                        <r:menuItem id="menuItem1" label="New" action="#{richDropDownMenuBean.doNew}" icon="/resources/images/icons/create_doc.gif"/>

                        <r:menuItem id="menuItem2" label="Open" action="#{richDropDownMenuBean.doOpen}" icon="/resources/images/icons/open.gif" />

                        <r:menuGroup id="menuGroup3" label="Open Recent..." disabled="true">
                            <r:menuItem id="menuItem31" label="Save" action="#{richDropDownMenuBean.doSave}" icon="/resources/images/icons/save.gif" />
                            <r:menuItem id="menuItem32" label="Save All" action="#{richDropDownMenuBean.doSaveAll}">
                                <f:facet name="icon">
                                    <h:graphicImage library="images/icons" name="save_all.gif" />
                                </f:facet>
                            </r:menuItem>
                        </r:menuGroup>

                        <r:menuSeparator id="menuSeparator11" />

                        <r:menuGroup id="menuGroup4" label="Save As...">
                            <r:menuItem id="menuItem41" label="Save" action="#{richDropDownMenuBean.doSave}" icon="/resources/images/icons/save.gif" />
                            <r:menuItem id="menuItem42" label="Save All" action="#{richDropDownMenuBean.doSaveAll}">
                                <f:facet name="icon">
                                    <h:graphicImage library="images/icons" name="save_all.gif" />
                                </f:facet>
                            </r:menuItem>
                            <r:menuItem id="menuItem43" label="Send Online" icon="/resources/images/icons/save.gif" disabled="true" />
                        </r:menuGroup>

                        <r:menuItem id="menuItem5" label="Print" action="#{richDropDownMenuBean.doPrint}" disabled="true"/>

                        <r:menuItem id="menuItem6" label="Close" action="#{richDropDownMenuBean.doClose}" />

                        <r:menuSeparator id="menuSeparator12" />

                        <r:menuItem id="menuItem7" label="Exit" action="#{richDropDownMenuBean.doExit}" />

                    </r:dropDownMenu>

                    <r:dropDownMenu id="menu2" mode="ajax" jointPoint="topRight" direction="bottomRight">
                        <f:facet name="label">
                            <h:panelGrid cellpadding="0" cellspacing="0" columns="2" style="vertical-align:middle">
                                Links
                            </h:panelGrid>
                        </f:facet>
                        <r:menuItem onclick="document.location.href = 'http://jboss.org/richfaces'">
                            <h:outputLink value="http://jboss.org/richfaces">
                                <h:outputText value="RichFaces Home Page"></h:outputText>
                            </h:outputLink>
                        </r:menuItem>
                        <r:menuItem onclick="document.location.href = 'http://community.jboss.org/en/richfaces?view=discussions'">
                            <h:outputLink value="http://community.jboss.org/en/richfaces?view=discussions">RichFaces Forum</h:outputLink>
                        </r:menuItem>
                    </r:dropDownMenu>


                    <r:dropDownMenu id="menu3" label="Search" direction="bottomRight" jointPoint="topRight" styleClass="search" mode="client">
                        <r:menuItem>
                            <h:inputText id="searchinput" />
                            <button type="button">Search</button>
                        </r:menuItem>
                        <r:menuItem label="Enter your search criteria here" disabled="true"/>
                    </r:dropDownMenu>

                </h:panelGrid>
            </div>

            <br /><br />

            <a:outputPanel ajaxRendered="true">
                Current Selection: 
                <h:outputText id="output" style="font-weight:bold" value="#{richDropDownMenuBean.current}"></h:outputText>
            </a:outputPanel>

            <br /><br />
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            Settings for first drop down menu:
            <metamer:attributes value="#{richDropDownMenuBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>
