<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="richDragAndDrop.css" />
        </ui:define>

        <ui:define name="outOfTemplateBefore">
        </ui:define>

        <ui:define name="component">

            <rich:dragIndicator id="indicator" />

            <table>
                <tr>
                    <td>
                        <a4j:outputPanel id="draggable1" layout="block" styleClass="metamer-draggable">
                            <h:outputText value="#1: type=#{richDragSourceBean.attributes['type'].value}" />
                            <rich:dragSource
                                dragIndicator="indicator"
                                dragValue="#{richDragSourceBean.dragValues[0]}"
                                type="drg1"  />
                        </a4j:outputPanel>
                    </td>
                    <td>
                        <a4j:outputPanel id="draggable2" layout="block" styleClass="metamer-draggable">
                            <h:outputText value="#2: type=drg2" />
                            <rich:dragSource type="drg2" dragIndicator="indicator" dragValue="#{richDragSourceBean.dragValues[1]}" />
                        </a4j:outputPanel>
                    </td>
                    <td>
                        <a4j:outputPanel id="draggable3" layout="block" styleClass="metamer-draggable">
                            <h:outputText value="#3: type=drg3" />
                            <rich:dragSource type="drg3" dragIndicator="indicator" dragValue="#{richDragSourceBean.dragValues[2]}" />
                        </a4j:outputPanel>
                    </td>
                </tr>
            </table>

            <a4j:outputPanel id="droppable1" layout="block" styleClass="metamer-droppable" style="border: 3px solid red; float: left">
                <rich:dropTarget
                    id="richDropTarget1"
                    dropValue="#{richDropTargetBean.dropValue}"
                    dropListener="#{richDropListenerBean.processDragging}"

                    acceptedTypes="#{richDropTargetBean.attributes['acceptedTypes'].value}"
                    bypassUpdates="#{richDropTargetBean.attributes['bypassUpdates'].value}"
                    data="#{richDropTargetBean.attributes['data'].value}"
                    immediate="#{richDropTargetBean.attributes['immediate'].value}"
                    execute="#{richDropTargetBean.attributes['execute'].value}"
                    limitRender="#{richDropTargetBean.attributes['limitRender'].value}"
                    onbegin="#{richDropTargetBean.attributes['onbegin'].value}"
                    onbeforedomupdate="#{richDropTargetBean.attributes['onbeforedomupdate'].value}"
                    oncomplete="#{richDropTargetBean.attributes['oncomplete'].value}"
                    render="#{richDropTargetBean.attributes['render'].value}"
                    rendered="#{richDropTargetBean.attributes['rendered'].value}"
                    status="#{richDropTargetBean.attributes['status'].value}"
                    />

                <h:outputText value="Accepts: #{richDropTargetBean.attributes['acceptedTypes'].value}" />
                <br />

                <h:outputText id="dropNumber1" value="Drops: #{richDropTargetBean.dropValue.number}" />
                <br />

                <h:dataTable id="droppedValues1" var="droppedValue" value="#{richDropTargetBean.droppedEntries1}">
                    <h:column>
                        <f:facet name="header">
						Dragged
                        </f:facet>
                        <h:outputText value="##{droppedValue.value.number}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
						Dropped
                        </f:facet>
                        <h:outputText value="#{droppedValue.key.number}" />
                    </h:column>

                </h:dataTable>
            </a4j:outputPanel>

            <a4j:outputPanel id="droppable2" layout="block" styleClass="metamer-droppable">
                <rich:dropTarget
                    id="richDropTarget2"
                    dropValue="#{richDropTargetBean.dropValue}"
                    dropListener="#{richDropListenerBean.processDragging}"
                    acceptedTypes="drg2, drg3"
                    render="droppable1 droppable2"
                    />

                <h:outputText value="Accepts: drg2, drg3" />
                <br />

                <h:outputText id="dropNumber2" value="Drops: #{richDropTargetBean.dropValue.number}" />
                <br />



                <h:dataTable id="droppedValues2" var="droppedValue" value="#{richDropTargetBean.droppedEntries2}">
                    <h:column>
                        <f:facet name="header">
						Dragged
                        </f:facet>
                        <h:outputText value="##{droppedValue.value.number}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
						Dropped
                        </f:facet>
                        <h:outputText value="#{droppedValue.key.number}" />
                    </h:column>

                </h:dataTable>
            </a4j:outputPanel>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <a4j:outputPanel ajaxRendered="true">
                <h:panelGrid columns="2">
                    <h:outputLabel value="Drop Event:" rendered="#{not empty richDropListenerBean.dropEvent}" />
                    <h:panelGroup rendered="#{not empty richDropListenerBean.dropEvent}">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="clientId:" />
                            <h:outputText id="clientId" value="#{richDropListenerBean.dropEvent.component.clientId}" />

                            <h:outputLabel value="Drag Value:" />
                            <h:outputText id="dragValue" value="#{richDropListenerBean.dropEvent.dragValue}" />

                            <h:outputLabel value="Drop Value:" />
                            <h:outputText id="dropValue" value="#{richDropListenerBean.dropEvent.dropValue}" />
                        </h:panelGrid>
                    </h:panelGroup>
                </h:panelGrid>
            </a4j:outputPanel>

            <metamer:attributes value="#{richDropTargetBean.attributes}" id="dropBehaviorAttributes" />
        </ui:define>

    </ui:composition>
</html>
