<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
    xmlns:r="http://richfaces.org/rich">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">

        <fieldset>
            <legend>Steps to reproduce</legend>
            <ol>
                <li>Expand Group 4</li>
                <li>Expand Group 4.3 (doesn't work - expected)</li>
                <li>Open browser console and type <code>new
                        RichFaces.rf4.ui.PanelMenuGroup("form:group43",{"collapseEvent":"click","unselectable":false,"selectable":false,"name":"group43","ajax":{"incId":"1"},
                        "stylePrefix":"rf\u002Dpm\u002Dgr","expanded":false,"expandEvent":"click","disabled":false,"mode":"ajax"}
                        )</code></li>
                <li>Verify that action and action listener were not called</li>
            </ol>
        </fieldset>
        
        <br/>

        <r:panelMenu id="panelMenu" groupMode="ajax" activeItem="item41" bubbleSelection="true" expandSingle="true">

            <r:panelMenuGroup id="group1" label="Group 1" selectable="true">
                <r:panelMenuItem id="item11" label="Item 1.1" />
                <r:panelMenuItem id="item12" label="Item 1.2" />
            </r:panelMenuGroup>

            <r:panelMenuItem id="item2" label="Item 2" disabled="true" />

            <r:panelMenuItem id="item3" label="Item 3" />

            <r:panelMenuGroup id="group4" label="Group 4" expanded="false">

                <r:panelMenuItem id="item41" label="Item 4.1" action="#{richBean.dummyAction}"
                    actionListener="#{richBean.dummyActionListener}" />

                <r:panelMenuItem id="item42" label="Item 4.2" disabled="true" action="#{richBean.dummyAction}"
                    actionListener="#{richBean.dummyActionListener}" />

                <r:panelMenuGroup id="group43" label="Group 4.3" disabled="true" action="#{richBean.dummyAction}"
                    actionListener="#{richBean.dummyActionListener}">

                    <r:panelMenuItem id="item431" label="Item 4.3.1" action="#{richBean.dummyAction}"
                        actionListener="#{richBean.dummyActionListener}" />

                </r:panelMenuGroup>

            </r:panelMenuGroup>
        </r:panelMenu>


    </ui:define>

</ui:composition>
</html>