<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="a4jRepeat.css" />
        </ui:define>

        <ui:define name="component">
            <h:panelGroup id="matrixInput" layout="block">
                <table>
                    <tbody>
                        <a4j:repeat id="a4jRepeatRows"
                                    iterationStatusVar="rowStatus"
                                    value="#{a4jRepeatBean.matrixRows}"
                                    var="row">
                            <tr>
                                <a4j:repeat id="a4jRepeatColumns" value="#{row.cells}" var="cell" iterationStatusVar="cellStatus">
                                    <td><h:panelGroup layout="block"
                                                      styleClass="cell #{rowStatus.even ? 'row-even' : 'row-odd'} #{cellStatus.even ? 'cell-even' : 'cell-odd'}">
                                            <h:inputText id="valueInput" value="#{cell.value}" size="3">
                                                <f:convertNumber />
                                                <a4j:ajax render="#{rich:clientId('outputRows')}:#{rowStatus.index}:outputColumns:#{cellStatus.index}:output" />
                                            </h:inputText>
                                            &nbsp;
                                            <h:commandLink id="clearLink" action="#{cell.clearValueAction}" value="C">
                                                <a4j:ajax render="valueInput #{rich:clientId('outputRows')}:#{rowStatus.index}:outputColumns:#{cellStatus.index}:output" />
                                            </h:commandLink>
                                            <h:outputText value=" / " />
                                            <h:commandLink id="increaseLink" action="#{cell.increaseValueAction}" value="+">
                                                <a4j:ajax render="valueInput #{rich:clientId('outputRows')}:#{rowStatus.index}:outputColumns:#{cellStatus.index}:output" />
                                            </h:commandLink>
                                            <h:outputText value=" / " />
                                            <h:commandLink id="decreaseLink" action="#{cell.decreaseValueAction}" value="-">
                                                <a4j:ajax render="valueInput #{rich:clientId('outputRows')}:#{rowStatus.index}:outputColumns:#{cellStatus.index}:output" />
                                            </h:commandLink>
                                        </h:panelGroup></td>
                                </a4j:repeat>
                            </tr>
                        </a4j:repeat>
                    </tbody>
                </table>
            </h:panelGroup>
            <hr/>
            <a4j:outputPanel id="matrixOutput" layout="block">
                <table>
                    <tbody>
                        <a4j:repeat id="outputRows" value="#{a4jRepeatBean.matrixRows}" var="row">
                            <tr>
                                <a4j:repeat id="outputColumns" value="#{row.cells}" var="cell">
                                    <td><a4j:outputPanel id="output" styleClass="cell" layout="block">
                                            #{cell.value}
                                        </a4j:outputPanel></td>
                                </a4j:repeat>
                            </tr>
                        </a4j:repeat>
                    </tbody>
                </table>
            </a4j:outputPanel>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>