<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputStylesheet library="css" name="a4jRepeat.css" />
        </ui:define>

        <ui:define name="component">
            <h:outputText id="output" value="#{a4jRepeatBean.selectedDataItem.text}"/>

            <ul id="list">
                <a4j:repeat id="a4jRepeat"
                            first="#{a4jRepeatBean.attributes['first'].value}"
                            iterationStatusVar="status"
                            keepSaved="#{a4jRepeatBean.attributes['keepSaved'].value}"
                            rendered="#{a4jRepeatBean.attributes['rendered'].value}"
                            rowKeyConverter="#{a4jRepeatBean.attributes['rowKeyConverter'].value}"
                            rows="#{a4jRepeatBean.attributes['rows'].value}"
                            value="#{a4jRepeatBean.dataList}"
                            var="item">
                    <li>
                        <h:inputText value="#{item.text}" />
                        <h:commandLink id="link" value="Link">
                            <f:ajax render="@form" execute="@form" />
                            <f:setPropertyActionListener target="#{a4jRepeatBean.selectedDataItem}" value="#{item}" />
                        </h:commandLink>
                        &nbsp;&nbsp;
                        <a4j:outputPanel id="statusPanel" styleClass="statuses">
                            <h:outputText id="statusBegin" value="begin=#{status.begin}, "/>
                            <h:outputText id="statusEnd" value="end=#{status.end}, "/>
                            <h:outputText id="statusIndex" value="index=#{status.index}, "/>
                            <h:outputText id="statusCount" value="count=#{status.count}, "/>
                            <h:outputText id="statusFirst" value="first=#{status.first}, "/>
                            <h:outputText id="statusLast" value="last=#{status.last}, "/>
                            <h:outputText id="statusEven" value="even=#{status.even}, "/>
                            <h:outputText id="statusRowCount" value="rowCount=#{status.rowCount}"/>
                        </a4j:outputPanel>
                    </li>
                </a4j:repeat>
            </ul>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jRepeatBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>