<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      >

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but inAtt ANY WARRANTY; inAtt even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along inBean this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->
    <ui:composition template="/templates/abstractions/messageComponent/messagesComponentTestPage.xhtml">
        <ui:define name="messagesWithFor">
            <rich:messages id="messagesWithFor"
                           ajaxRendered="#{richMessagesBean.attributes['ajaxRendered'].value}"            			   
                           dir="#{richMessagesBean.attributes['dir'].value}"
                           escape="#{richMessagesBean.attributes['escape'].value}"
                           for="#{richMessagesBean.attributes['for'].value}"
                           lang="#{richMessagesBean.attributes['lang'].value}"
                           onclick="#{richMessagesBean.attributes['onclick'].value}"
                           ondblclick="#{richMessagesBean.attributes['ondblclick'].value}"
                           onkeydown="#{richMessagesBean.attributes['onkeydown'].value}"
                           onkeypress="#{richMessagesBean.attributes['onkeypress'].value}"
                           onkeyup="#{richMessagesBean.attributes['onkeyup'].value}"
                           onmousedown="#{richMessagesBean.attributes['onmousedown'].value}"
                           onmousemove="#{richMessagesBean.attributes['onmousemove'].value}"
                           onmouseout="#{richMessagesBean.attributes['onmouseout'].value}"
                           onmouseover="#{richMessagesBean.attributes['onmouseover'].value}"
                           onmouseup="#{richMessagesBean.attributes['onmouseup'].value}"
                           rendered="#{richMessagesBean.attributes['rendered'].value}"
                           showDetail="#{richMessagesBean.attributes['showDetail'].value}"
                           showSummary="#{richMessagesBean.attributes['showSummary'].value}"
                           style="#{richMessagesBean.attributes['style'].value}"
                           styleClass="#{richMessagesBean.attributes['styleClass'].value}"
                           title="#{richMessagesBean.attributes['title'].value}"/>
        </ui:define>

        <ui:define name="messagesWithGlobal">
            <rich:messages id="messagesWithGlobal"
                           ajaxRendered="#{richMessagesBean.attributes['ajaxRendered'].value}"            			   
                           dir="#{richMessagesBean.attributes['dir'].value}"
                           escape="#{richMessagesBean.attributes['escape'].value}"
                           globalOnly="#{richMessagesBean.attributes['globalOnly'].value}"
                           lang="#{richMessagesBean.attributes['lang'].value}"
                           onclick="#{richMessagesBean.attributes['onclick'].value}"
                           ondblclick="#{richMessagesBean.attributes['ondblclick'].value}"
                           onkeydown="#{richMessagesBean.attributes['onkeydown'].value}"
                           onkeypress="#{richMessagesBean.attributes['onkeypress'].value}"
                           onkeyup="#{richMessagesBean.attributes['onkeyup'].value}"
                           onmousedown="#{richMessagesBean.attributes['onmousedown'].value}"
                           onmousemove="#{richMessagesBean.attributes['onmousemove'].value}"
                           onmouseout="#{richMessagesBean.attributes['onmouseout'].value}"
                           onmouseover="#{richMessagesBean.attributes['onmouseover'].value}"
                           onmouseup="#{richMessagesBean.attributes['onmouseup'].value}"
                           rendered="#{richMessagesBean.attributes['rendered'].value}"
                           showDetail="#{richMessagesBean.attributes['showDetail'].value}"
                           showSummary="#{richMessagesBean.attributes['showSummary'].value}"
                           style="#{richMessagesBean.attributes['style'].value}"
                           styleClass="#{richMessagesBean.attributes['styleClass'].value}"
                           title="#{richMessagesBean.attributes['title'].value}"/>
        </ui:define>
        
        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richMessagesBean.attributes}" id="attributes"/>
        </ui:define>
    </ui:composition>
</html>