<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:r="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <r:popupPanel id="popupPanel" resizeable="true"
                          header="Popup panel shown using r:componentControl and r:hashParam">
                <f:facet name="controls">
                    <h:outputLink value="#" onclick="#{r:component('popupPanel')}.hide();
                            return false;">
                        X
                    </h:outputLink>
                </f:facet>
                <h:outputText value="Settings applied by hashParam tag:" />
                <h:panelGrid columns="2">
                    <h:outputText value="Width:" />
                    <h:outputText value="543px" />
                    <h:outputText value="Height:" />
                    <h:outputText value="345px" />
                    <h:outputText value="minWidth:" />
                    <h:outputText value="300px" />
                    <h:outputText value="minHeight:" />
                    <h:outputText value="150px" />
                </h:panelGrid>
                <p>Also panel getting centered by using:</p>
                <p>&lt;a4j:param noEscape="true" name="left" value="33+44"/&gt;</p>
                <p>&lt;a4j:param noEscape="true" name="top" value="55-33"/&gt;</p>
                <fieldset>
                    <legend><b>NOTE</b></legend>

                    Pay your attention that show() api method requires event
                    parameter to be first according to signature. So we passed it before
                    hashParam.

                </fieldset>
            </r:popupPanel>

            <h:commandButton id="openPanelButton" value="Show popup">
                <r:componentControl target="popupPanel" operation="show">
                    <a4j:param noEscape="true" value="event" />
                    <r:hashParam id="hashParam"
                                 rendered="#{richHashParamBean.attributes['rendered'].value}"
                                 >
                        <f:param name="width" value="543" />
                        <f:param name="height" value="345" />
                        <f:param name="minWidth" value="300" />
                        <f:param name="minHeight" value="150" />
                        <a4j:param noEscape="true" name="left" value="33+44" />
                        <a4j:param noEscape="true" name="top" value="55-33" />
                    </r:hashParam>
                </r:componentControl>
            </h:commandButton>

            <h:commandLink id="hiddenLink">
                <r:componentControl target="popupPanel" operation="show">
                    <r:hashParam id="hashParam"
                                 name="#{richHashParamBean.attributes['name'].value}"
                                 rendered="#{richHashParamBean.attributes['rendered'].value}"
                                 >
                        <f:param name="param1" value="1" />
                        <f:param name="param2" value="2" />
                    </r:hashParam>
                </r:componentControl>
            </h:commandLink>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richHashParamBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>
