<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" >

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .pic {
                    margin-right: 2px;
                    margin-top: 2px;
                }

                .barsearch {
                    height: 14px;
                    width: 100px;
                }
            </style>
        </ui:define>

        <ui:define name="component">

            <rich:toolbar id="toolbar"
                          height="#{richToolbarBean.attributes['height'].value}"
                          itemClass="#{richToolbarBean.attributes['itemClass'].value}"
                          itemSeparator="#{richToolbarBean.attributes['itemSeparator'].value}"
                          itemStyle="#{richToolbarBean.attributes['itemStyle'].value}"
                          onitemclick="#{richToolbarBean.attributes['onitemclick'].value}"
                          onitemdblclick="#{richToolbarBean.attributes['onitemdblclick'].value}"
                          onitemkeydown="#{richToolbarBean.attributes['onitemkeydown'].value}"
                          onitemkeypress="#{richToolbarBean.attributes['onitemkeypress'].value}"
                          onitemkeyup="#{richToolbarBean.attributes['onitemkeyup'].value}"
                          onitemmousedown="#{richToolbarBean.attributes['onitemmousedown'].value}"
                          onitemmousemove="#{richToolbarBean.attributes['onitemmousemove'].value}"
                          onitemmouseout="#{richToolbarBean.attributes['onitemmouseout'].value}"
                          onitemmouseover="#{richToolbarBean.attributes['onitemmouseover'].value}"
                          onitemmouseup="#{richToolbarBean.attributes['onitemmouseup'].value}"
                          rendered="#{richToolbarBean.attributes['rendered'].value}"
                          style="#{richToolbarBean.attributes['style'].value}"
                          styleClass="#{richToolbarBean.attributes['styleClass'].value}"
                          title="#{richToolbarBean.attributes['title'].value}"
                          width="#{richToolbarBean.attributes['width'].value}"
                          >

                <rich:toolbarGroup>
                    <h:graphicImage id="createDocument" library="images/icons" name="create_doc.gif" styleClass="pic" />
                    <h:graphicImage id="createFolder" library="images/icons" name="create_folder.gif" styleClass="pic" />
                    <h:graphicImage id="copy" library="images/icons" name="copy.gif" styleClass="pic" />
                </rich:toolbarGroup>

                <rich:toolbarGroup>
                    <h:graphicImage id="save" library="images/icons" name="save.gif" styleClass="pic" />
                    <h:graphicImage id="saveAs" library="images/icons" name="save_as.gif" styleClass="pic" />
                    <h:graphicImage id="saveAll" library="images/icons" name="save_all.gif" styleClass="pic" />
                </rich:toolbarGroup>

                <rich:toolbarGroup location="right">
                    <h:inputText id="input" styleClass="barsearch" />
                    <h:commandButton id="button" onclick="return false;" value="Search" />
                </rich:toolbarGroup>

            </rich:toolbar>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{richToolbarBean.attributes}" id="attributes" render="log"/>
        </ui:define>

    </ui:composition>
</html>