<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">A4J Attach Queue</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="nested" outcome="nested" value="Nested">
                Twice <b>h:inputText</b> with nested <b>a4j:ajax</b> with attached <b>a4j:attachQueue</b>.
                <br />
                Contains also one named <b>a4j:queue</b> to try queue naming and attaching.
            </metamer:testPageLink>

            <metamer:testPageLink id="extending" outcome="extending" value="Extending">
                Two <b>h:inputText</b>s are wrapped in <b>a4j:ajax</b>, which is extended by <b>a4j:attachQueue</b>.
                <br />
                Contains also one named <b>a4j:queue</b> to try queue naming and attaching.
            </metamer:testPageLink>

            <metamer:testPageLink id="nestedExtension" outcome="nestedExtension" value="Nested Extension">
                <div>Two nested a4j:ajaxs, each extended by own a4j:attachQueue.</div>
                <div>First a4j:ajax controls clicks to h:inputText and a4j:commandButton.</div>
                <div>Second a4j:ajax controls valueChanges of h:inputText.</div>  
            </metamer:testPageLink>

            <metamer:testPageLink id="namedQueue" outcome="namedQueue" value="Named Queue">
            	Special sample for testing referencing queue from attachQueue by name (attachQueue in this simple can contain requestDelay).
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
