<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Progress Bar</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="ajaxMode" outcome="ajaxMode" value="Ajax Mode">
                Simple page containing a <b>r:progressBar</b> in ajax mode and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="clientMode" outcome="clientMode" value="Client Mode">
                Simple page containing a <b>r:progressBar</b> in client mode and input boxes for all its attributes. The custom progress function uses all JS API functions of progressBar.
            </metamer:testPageLink>

            <metamer:testPageLink id="static" outcome="static" value="Static">
                Simple page containing a static <b>r:progressBar</b>. Can be used for testing styling attributes, min value, max value etc.
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>
