<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">A4J Queue</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="globalQueue" outcome="globalQueue" value="Global Queue">
                Simple page that contains <b>a4j:queue</b> outside of any form (<b>global queue</b>) and input boxes for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="formQueue" outcome="formQueue" value="Form Queue">
                <div>There are three <b>a4j:queue</b>s defined: two inside forms (<b>form based queues</b>) and also <b>global queue</b>.</div>
                <div>The <b>form based queues</b> should not inherit any attributes from <b>global queue</b>.</div>

            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12132" outcome="rf-12132" value="RF-12132">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/RF-12132">RF-12132</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12268" outcome="rf-12268" value="RF-12268">
                Simple page that contains <b>a4j:queue</b> outside of any form (<b>global queue</b>) and actions buttons to simulate issue
                <a href="https://issues.jboss.org/browse/RF-12268">RF-12268</a>
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>