<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition>

        <h:dataTable value="#{model.simple}" var="containerHDataTableItem" id="containerHDataTable">

            <f:facet name="header">
                JSF Data Table
            </f:facet>

            <h:column>
                <f:facet name="header">
                    Column 1
                </f:facet>
                #{containerHDataTableItem}
            </h:column>

            <h:column>
                <f:facet name="header">
                    Column 2
                </f:facet>
                <h:panelGroup rendered="#{containerHDataTableItem == 'row 3'}">
                    <ui:decorate template="#{templateBean.nextTemplate}.xhtml" />
                </h:panelGroup>
                <h:outputText value="#{containerHDataTableItem}" rendered="#{containerHDataTableItem != 'row 3'}" />
            </h:column>

        </h:dataTable>

    </ui:composition>
</html>