<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <h:head>
        <title><ui:insert name="pageTitle">Insert some page title here</ui:insert></title>
        <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
        <h:outputStylesheet library="css" name="common.ecss" />
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <h:panelGrid columns="2" style="float: left; ">
            <h:link id="goHomeLink" outcome="/index">
                <h:graphicImage id="goHomeImage" library="images" name="home.png" title="Go Home" style="width: 36px;" alt="Go Home"/>
            </h:link>

            <h:panelGroup style="font-size: xx-large; font-weight: bold;">
                <ui:insert name="pageTitle">Insert some page title here</ui:insert>
            </h:panelGroup>
        </h:panelGrid>

        <h:form id="invalidateSessionForm" style="float: right; ">
            <h:panelGrid columns="1">
                <h:commandButton id="invalidateSessionButton" action="#{richBean.invalidateSession}"
                                 value="Invalidate Session" image="#{resource['images:cancel.png']}" title="Invalidate Session"
                                 style="width: 36px;" />
            </h:panelGrid>
        </h:form>

        <hr style="width: 1050px; margin-left: 0px; margin-bottom: 20px; clear: both; " />

        <h:panelGroup layout="block" styleClass="links">
            <ui:insert name="links">Insert some links to pages here</ui:insert>
        </h:panelGroup>

        <ui:decorate template="/templates/footer.xhtml" />
    </h:body>
</html>
