<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:rich="http://richfaces.org/rich"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition>
        <h:commandButton id="containerOpenPanelButton" value="Call the popup">
            <rich:componentControl target="containerPopupPanel" operation="show" />
        </h:commandButton>

        <rich:popupPanel id="containerPopupPanel" domElementAttachment="parent" header="Popup panel"
                         minHeight="400" minWidth="700" moveable="true" resizeable="true" show="true" zindex="1">
            <f:facet name="controls">
                <h:outputLink value="#" tabindex="-1" onclick="#{rich:component('containerPopupPanel')}.hide(); return false;">X</h:outputLink>
            </f:facet>

            <ui:decorate template="#{templateBean.nextTemplate}.xhtml" />

        </rich:popupPanel>

    </ui:composition>
</html>