<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:f="http://java.sun.com/jsf/core">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <f:view transient="#{richBean.stateless}">

        <ui:insert name="view"/>

        <h:head>
            <title><ui:insert name="pageTitle">Metamer</ui:insert></title>
            <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
            <h:outputStylesheet library="css" name="common.ecss" />
            <h:outputScript library="script" name="common.js" />
            <ui:insert name="head"/>

        </h:head>

        <h:body>

            <h:form id="executeCheckerForm">
                <h:selectBooleanCheckbox id="executeChecker" value="#{richBean.executeChecker}" style="display: none" />
            </h:form>

            <div class="header"><ui:decorate template="/templates/header.xhtml" /></div>

            <div class="content">
                <div class="messages"><h:messages /></div>

                <h:panelGroup id="commonGrid" layout="block" rendered="#{richBean.reComponent}">

                    <c:set var="nestedPrefix" value="#{templateBean.componentPrefix}" />
                    <c:set var="nestedComponentId" value="#{templateBean.componentPrefix}#{componentId}" />

                    <c:choose>
                        <c:when test="#{dontRenderForm != null and dontRenderForm}">
                            <div style="margin-bottom: 20px;"><ui:insert name="outOfTemplateBefore" /></div>
                            <ui:decorate template="/templates/#{templateBean.firstTemplate}.xhtml" />
                            <div style="margin-top: 20px;"><ui:insert name="outOfTemplateAfter" /></div>
                        </c:when>

                        <c:otherwise>
                            <h:form id="beforeForm">
                                <div style="margin-bottom: 20px;"><ui:insert name="outOfTemplateBefore" /></div>
                            </h:form>
                            <h:form id="form" enctype="#{richBean.componentFormEnctype}">
                                <ui:decorate template="/templates/#{templateBean.firstTemplate}.xhtml" />
                            </h:form>
                            <h:form id="afterForm">
                                <div style="margin-top: 20px;"><ui:insert name="outOfTemplateAfter" /></div>
                            </h:form>
                        </c:otherwise>
                    </c:choose>
                </h:panelGroup> <br />

            </div>

            <ui:insert name="beforeFooter">
                <h:panelGroup  id="a4jLogPanel" styleClass="log-panel" layout="block">
                    <a4j:log id="a4jLog" level="debug"/>
                </h:panelGroup>
            </ui:insert>

            <div class="footer">
                <ui:insert name="footer">
                    <ui:decorate template="/templates/footer.xhtml" />
                </ui:insert>
            </div>

        </h:body>

    </f:view>
</html>
