<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer" >

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <fieldset id="outputFieldset">
                <legend>standard outputs</legend>
                <h:panelGrid columns="2">
                    time1: <h:outputText id="time1" value="#{timeBean.formattedTime}"/>
                    time2: <h:outputText id="time2" value="#{timeBean.formattedTime}"/>
                    year: <h:outputText id="year" value="#{a4jJSFunctionBean.year}"/>
                </h:panelGrid>
            </fieldset>
            <br/>
            <fieldset id="autoOutputFieldset">
                <legend>ajaxRendered="true"</legend>
                <a4j:outputPanel id="autoTime" ajaxRendered="true">#{timeBean.formattedTime}</a4j:outputPanel>
            </fieldset>

            <a4j:jsFunction id="jsFunction"
                            action="#{a4jJSFunctionBean.attributes.action}"
                            actionListener="#{a4jJSFunctionBean.attributes.actionListener}"
                            bypassUpdates="#{a4jJSFunctionBean.attributes['bypassUpdates'].value}"
                            data="#{a4jJSFunctionBean.attributes['data'].value}"
                            execute="#{a4jJSFunctionBean.attributes['execute'].value}"
                            immediate="#{a4jJSFunctionBean.attributes['immediate'].value}"
                            limitRender="#{a4jJSFunctionBean.attributes['limitRender'].value}"
                            name="#{a4jJSFunctionBean.attributes['name'].value}"
                            onbeforedomupdate="#{a4jJSFunctionBean.attributes['onbeforedomupdate'].value}"
                            onbegin="#{a4jJSFunctionBean.attributes['onbegin'].value}"
                            oncomplete="#{a4jJSFunctionBean.attributes['oncomplete'].value}"
                            render="#{a4jJSFunctionBean.attributes['render'].value}"
                            rendered="#{a4jJSFunctionBean.attributes['rendered'].value}"
                            status="#{a4jJSFunctionBean.attributes['status'].value}"
                            value="#{a4jJSFunctionBean.attributes['value'].value}"
                            >
            </a4j:jsFunction>

            <br/>
            <a id="callFunctionLink" href="#" onclick="javascript:#{a4jJSFunctionBean.attributes['name'].value}()">Call JavaScript function (#{a4jJSFunctionBean.attributes['name'].value})</a>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jJSFunctionBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>