<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j" xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">
        <ui:param name="dontRenderForm" value="true" />

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <h:form id="componentForm">

                Status inside form &gt;&gt;&gt;
                <a:status id="status"
                          errorStyle="#{a4jStatusBean.attributes['errorStyle'].value}"
                          errorStyleClass="#{a4jStatusBean.attributes['errorStyleClass'].value}"
                          errorText="#{a4jStatusBean.attributes['errorText'].value}"
                          name="#{a4jStatusBean.attributes['name'].value}"
                          onerror="#{a4jStatusBean.attributes['onerror'].value}"
                          onstart="#{a4jStatusBean.attributes['onstart'].value}"
                          onstop="#{a4jStatusBean.attributes['onstop'].value}"
                          onsuccess="#{a4jStatusBean.attributes['onsuccess'].value}"
                          rendered="#{a4jStatusBean.attributes['rendered'].value}"
                          startStyle="#{a4jStatusBean.attributes['startStyle'].value}"
                          startStyleClass="#{a4jStatusBean.attributes['startStyleClass'].value}"
                          startText="#{a4jStatusBean.attributes['startText'].value}"
                          stopStyle="#{a4jStatusBean.attributes['stopStyle'].value}"
                          stopStyleClass="#{a4jStatusBean.attributes['stopStyleClass'].value}"
                          stopText="#{a4jStatusBean.attributes['stopText'].value}"
                          >

                    <f:facet name="start">
                        <h:outputText id="statusTextStart" style="font-size: large; color: red;" value="START" />
                    </f:facet>

                    <f:facet name="stop">
                        <h:outputText id="statusTextStop" style="font-size: large; color: red;" value="STOP" />
                    </f:facet>

                    <f:facet name="error">
                        <h:outputText id="statusTextError" style="font-size: large; color: red;" value="ERROR" />
                    </f:facet>
                </a:status>
                &lt;&lt;&lt;

                <br />
                <a:commandButton id="button1" value="Send Ajax Request" />
                <br />
                <a:commandButton id="button2" value="Send Ajax Request" />
                <br />
                <a:commandButton id="button3"
                                   value="Send Ajax Request Causing Error"
                                   action="#{richBean.causeError}" />
            </h:form>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <h:form id="attributesForm">
                <metamer:attributes value="#{a4jStatusBean.attributes}"
                                    id="attributes" type="ajax" render="commonGrid" />
            </h:form>
        </ui:define>

    </ui:composition>
</html>
