<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">A4J Status</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="facets" outcome="facets" value="Facets">
                Page that contains an <b>a4j:status</b> placed inside a form and input boxes for all its attributes. Text showing process of request is using facets (component attributes for text messages won't work).
            </metamer:testPageLink>

            <metamer:testPageLink id="withoutFacets" outcome="withoutFacets" value="WithoutFacets">
                Page that contains an <b>a4j:status</b> placed inside a form and input boxes for all its attributes. Text showing process of request is using component attributes.
            </metamer:testPageLink>            
            
            <metamer:testPageLink id="viewUsage" outcome="viewUsage" value="Common Status for View">
                Page that contains an <b>a4j:status</b> placed ouside of form so that it is common for whole view.
            </metamer:testPageLink>

            <metamer:testPageLink id="referencedUsage" outcome="referencedUsage" value="Referenced Usage">
                Page that contains two text inputs and two <b>a4j:status</b>es (one for each input).
            </metamer:testPageLink>

            <metamer:testPageLink id="instantAttributes" outcome="instantAttributes" value="Instant Attributes">
                <div>Page that contains an <b>a4j:status</b> placed ouside of form so that it is common for whole view.</div>
                <div>Applies the <b>attributes using Ajax instantly</b> without whole page rerender.</div>
            </metamer:testPageLink>
            
            <metamer:testPageLink id="RF-12092" outcome="RF-12092" value="RF-12092">
                 Page demonstrating issue <a
				href="https://issues.jboss.org/browse/RF-12092">RF-12092</a>. 
                <br /><b>Issue Summary:</b> a4j:poll : a4j:status never clears
                <br /><b>Automatized</b> in org.richfaces.tests.metamer.ftest.a4jStatus.TestRF12092.testStatusIsClearedWhenRequestCompleted
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13711" outcome="rf-13711" value="RF-13711 simulation">
                Page simulating issue <a href="https://issues.jboss.org/browse/RF-13711">RF-13711</a> 
                <br /><b>Issue Summary:</b> a4j:status onstart/onstop does not work when referenced from other component using status attribute. 
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>
