<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <a4j:jsFunction id="statusFunction1" name="statusFunction1" status="status1"/>
            <a4j:jsFunction id="statusFunction2" name="statusFunction2" status="status2"/>

            <h:panelGrid columns="2">

                <h:commandButton id="button1" value="Named status 1" onclick="statusFunction1();
                        return false;" />
                <a4j:status id="status1" name="status1">
                    <f:facet name="start">
                        <h:outputText id="status1TextStart" style="font-size: large; color: red;" value="START" />
                    </f:facet>

                    <f:facet name="stop">
                        <h:outputText id="status1TextStop" style="font-size: large; color: red;" value="STOP" />
                    </f:facet>

                    <f:facet name="error">
                        <h:outputText id="status1TextError" style="font-size: large; color: red;" value="ERROR" />
                    </f:facet>
                </a4j:status>

                <h:commandButton id="button2" value="Named status 2" onclick="statusFunction2();
                        return false;" />
                <a4j:status id="status2" name="status2">
                    <f:facet name="start">
                        <h:outputText id="status2TextStart" style="font-size: large; color: red;" value="START" />
                    </f:facet>

                    <f:facet name="stop">
                        <h:outputText id="status2TextStop" style="font-size: large; color: red;" value="STOP" />
                    </f:facet>

                    <f:facet name="error">
                        <h:outputText id="status2TextError" style="font-size: large; color: red;" value="ERROR" />
                    </f:facet>
                </a4j:status>
            </h:panelGrid>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
        </ui:define>

    </ui:composition>
</html>