<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">A4J Push</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page that contains <b>r:push</b> and input boxes for all its attributes. Messages are distributed by JMS.
            </metamer:testPageLink>

            <metamer:testPageLink id="messageProducer" outcome="messageProducer" value="Message Producer">
                Page that is bind to application bean producing messages catched by r:push in simple page. Messages are distributed by JMS.
            </metamer:testPageLink>

            <metamer:testPageLink id="twoPush" outcome="twoPush" value="Two push component on page using TopicsContext">
                Page that contains two push components, bound to different topic. Messages are distributed by TopicsContext. Also for issue <a href="https://issues.jboss.org/browse/RF-12096">rf-12096</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="twoPushCDI" outcome="twoPushCDI" value="Two push component using CDI">
                Page that contains two push components, bound to different topic. Messages are distributed by CDI. Also for issue <a href="https://issues.jboss.org/browse/RF-12096">rf-12096</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13592" outcome="rf-13592" value="RF-13592">
                Page with multiple pushes to reproduce <a href="https://issues.jboss.org/browse/RF-13592">RF-13592</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13928" outcome="rf-13928" value="RF-13928">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/RF-13928">RF-13928</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13929" outcome="rf-13929" value="RF-13929 With TopicsContext">
                Page demonstrating issue <a href="https://issues.jboss.org/browse/RF-13929">RF-13929</a>.
            </metamer:testPageLink>
        </ui:define>

    </ui:composition>

</html>
