<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <h:outputScript library="script" name="pushHelper.js"/>
        </ui:define>

        <ui:define name="component">

            <a4j:push address="#{a4jPushBean.applicationPushTopicContextAddress}" 
                      onerror="#{a4jPushBean.attributes['onerror'].value}"
                      onsubscribed="#{a4jPushBean.attributes['onsubscribed'].value}"
                      ondataavailable="updateMessage(#{rich:element('messagePanel')}, event.rf.data);" >
            </a4j:push>

            <p>To send your own message to Topics Context, open page
                <h:commandLink value="Message Producer" action="messageProducer" /> 
            </p>

            <h:panelGrid columns="2">
                <h:outputLabel value="Last message:" />
                <a4j:outputPanel id="messagePanel" layout="block">
                    <div>
                        <i>waiting for data from server...</i>                 
                    </div>
                </a4j:outputPanel>                    
            </h:panelGrid>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jPushBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>
