<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">

            <p>
                <a href="https://issues.jboss.org/browse/RF-12095">RF-12095</a><br/>
                <a href="https://issues.jboss.org/browse/RF-12096">RF-12096</a><br/>
                <b>Issues summary</b>: When push components is conditionally rendered and disabled/re-enabled, then there is some delay between repeated subscription
                even for other push components on the page, which are not conditionally rendered.<br/>
            </p>

            <a:commandButton id="performPushEvent1" value="Push 1!" action="#{a4jPushBean.pushWithCDI1}" />
            <!--  PUSH 1 -->
            <a:outputPanel id="pushPanel">
                <a:push id="push"
                        rendered="#{a4jPushBean.attributes['rendered'].value}"
                        address="#{a4jPushBean.CDIAddress1}"
                        ondataavailable="$('[id$=outputDate]').text(event.rf.data)"
                        onsubscribed="#{a4jPushBean.attributes['onsubscribed'].value}" />
            </a:outputPanel>

            <a:outputPanel id="pushDisablementPanel">
                <h:selectBooleanCheckbox id="enablePush1" value="#{a4jPushBean.attributes['rendered'].value}">
                    <a:ajax render="pushPanel" />
                </h:selectBooleanCheckbox>
                <h:outputLabel value="enabled" for="enablePush1" />
            </a:outputPanel>

            <br />

            <a:outputPanel id="outputDate">
                #{a4jPushBean.date}
            </a:outputPanel>

            <br />

            <!--  PUSH 2 -->
            <a:commandButton id="performPushEvent2" value="Push 2!" action="#{a4jPushBean.pushWithCDI2}" />
            <a:push id="push2"
                    address="#{a4jPushBean.CDIAddress2}"
                    ondataavailable="$('[id$=outputDate2]').text(event.rf.data)"
                    onsubscribed="#{a4jPushBean.attributes['onsubscribed'].value}" />

            <br />

            <a:outputPanel id="outputDate2">
                #{a4jPushBean.date}
            </a:outputPanel>

            <br/>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{a4jPushBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>
