<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/abstractions/inputValidation/dateInputComponentValidationTemplate.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>
        
        <ui:define name="past">
            <rich:calendar id="past" value="#{richCalendarBean.pastValue}"
                           datePattern="#{richCalendarBean.attributes['datePattern'].value}"
                           timeZone="#{richCalendarBean.timeZone}">
                <!-- must be this way or other messages will disappear-->
                <a4j:ajax event="change" render="outputPanel pastMsg"/>
            </rich:calendar>
        </ui:define>
        <ui:define name="pastOutput">
            <h:outputText id="pastOutput" value="#{richCalendarBean.pastValue}">
                <f:convertDateTime pattern="#{richCalendarBean.attributes['datePattern'].value}"
                                   timeZone="#{richCalendarBean.timeZone}"/>
            </h:outputText>
        </ui:define>

        <ui:define name="future">
            <rich:calendar id="future" value="#{richCalendarBean.futureValue}"
                           datePattern="#{richCalendarBean.attributes['datePattern'].value}"
                           timeZone="#{richCalendarBean.timeZone}">
                <!-- must be this way or other messages will disappear-->
                <a4j:ajax event="change" render="outputPanel futureMsg"/>
            </rich:calendar>
        </ui:define>
        <ui:define name="futureOutput">
            <h:outputText id="futureOutput" value="#{richCalendarBean.futureValue}">
                <f:convertDateTime pattern="#{richCalendarBean.attributes['datePattern'].value}"
                                   timeZone="#{richCalendarBean.timeZone}"/>
            </h:outputText>
        </ui:define>

        <ui:define name="lastYear">
            <rich:calendar id="lastYear" value="#{richCalendarBean.lastYearValue}"
                           datePattern="#{richCalendarBean.attributes['datePattern'].value}"
                           timeZone="#{richCalendarBean.timeZone}">
                <!-- must be this way or other messages will disappear-->
                <a4j:ajax event="change" render="outputPanel lastYearMsg"/>
                <f:validator validatorId="org.richfaces.LastYearValidator"/>
            </rich:calendar>
        </ui:define>
        <ui:define name="lastYearOutput">
            <h:outputText id="lastYearOutput" value="#{richCalendarBean.lastYearValue}">
                <f:convertDateTime pattern="#{richCalendarBean.attributes['datePattern'].value}"
                                   timeZone="#{richCalendarBean.timeZone}"/>
            </h:outputText>
        </ui:define>

        <ui:define name="required" >
            <rich:calendar id="required"
                           datePattern="#{richCalendarBean.attributes['datePattern'].value}"
                           timeZone="#{richCalendarBean.timeZone}"
                           required="true"
                           requiredMessage="#{richCalendarBean.attributes['requiredMessage'].value}"
                           value="#{richCalendarBean.requiredValue}">
                <a4j:ajax event="change" render="requiredMsg"/>
            </rich:calendar>
        </ui:define>
        <ui:define name="requiredOutput">
            <h:outputText id="requiredOutput" value="#{richCalendarBean.requiredValue}">
                <f:convertDateTime pattern="#{richCalendarBean.attributes['datePattern'].value}"
                                   timeZone="#{richCalendarBean.timeZone}"/>
            </h:outputText>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <ui:include src="resizedTemplatesStyles.xhtml"/>
        </ui:define>
    </ui:composition>
</html>
