<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/list.xhtml">

        <ui:define name="pageTitle">Rich Calendar</ui:define>

        <ui:define name="links">

            <metamer:testPageLink id="simple" outcome="simple" value="Simple">
                Simple page containing <b>r:calendar</b> and inputs for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="currentDate" outcome="currentDate" value="Current Date">
                Simple page containing <b>r:calendar</b> and input for attribute currentDate.
                Need to be separated from page simple because of <a href="https://issues.jboss.org/browse/RF-11487">RF-11487</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="fAjax" outcome="fAjax" value="f:ajax">
                Simple page containing <b>r:calendar</b> with f:ajax and inputs for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="dataModel" outcome="dataModel" value="Data Model">
                Page containing <b>r:calendar</b> with data model and inputs for all its attributes.
            </metamer:testPageLink>

            <metamer:testPageLink id="csv" outcome="csv" value="Client Side Validation">
                Simple page that contains some <b>r:calendar</b>s testing client-side validation.
            </metamer:testPageLink>

            <metamer:testPageLink id="jsr303" outcome="jsr303" value="JSR-303 Bean Validation">
                Page containing some <b>r:calendar</b>s with various JSR-303 validators.
            </metamer:testPageLink>

            <metamer:testPageLink id="validationMessages" outcome="validationMessages" value="Validation messages">
                Page for testing of validation messages.
            </metamer:testPageLink>

            <metamer:testPageLink id="preloadedDates" outcome="preloadedDates" value="Preloaded dates">
                Page for testing @preloadDateRangeBegin and @preloadDateRangeEnd.
            </metamer:testPageLink>

            <metamer:testPageLink id="zindex" outcome="zindex" value="Without z-index Attribute">
                The sample of <b>r:calendar</b> without @zindex.
                <a href="https://issues.jboss.org/browse/RF-14027">RF-14027</a>
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-12566" outcome="rf-12566" value="rf-12566">
                Page for reproducing issue <a href="https://issues.jboss.org/browse/RF-12566">RF-12566</a>.
            </metamer:testPageLink>

            <metamer:testPageLink id="rf-13108" outcome="rf-13108" value="rf-13108">
                Page for reproducing issue <a href="https://issues.jboss.org/browse/RF-13108">RF-13108</a>.
            </metamer:testPageLink>
            <metamer:testPageLink id="rf-13809" outcome="rf-13809" value="rf-13809">
                Page for reproducing issue <a href="https://issues.jboss.org/browse/rf-13809">rf-13809</a>.
            </metamer:testPageLink>

        </ui:define>

    </ui:composition>

</html>
