<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="head">
            <style type="text/css">
                .yellowDay {
                    background: yellow !important;
                }

                .aquaDay {
                    background: aqua !important;
                }

            </style>
        </ui:define>

        <ui:define name="component">
            <p style="width:75em">
                Calendar is predefined with mode="client", preloadDateRangeBegin="Jan 1, 2012",
                preloadDateRangeEnd="Feb 1, 2013", currentDate="Jan 1, 2012" and dataModel.
                <br/>
                Switching to not preloaded dates(ie. 'Feb 1, 2013', 'Dec 1, 2011') will not show busyDays(aqua color) and weekends(yellow color) marked with colors.
                <br/>
                Automated.
            </p>

            <div style="padding: 250px">
                <rich:calendar id="calendar"
                               dataModel="#{calendarModel}"
                               mode="client"
                               timeZone="#{richCalendarBean.timeZone}"
                               preloadDateRangeBegin="Jan 1, 2012"
                               preloadDateRangeEnd="Feb 1, 2013"
                               datePattern="MMM d, yyyy"
                               currentDate="Jan 1, 2012"
                               value="#{richCalendarBean.value}" >
                    <a4j:ajax event="change" render="output, phasesPanel"/>
                </rich:calendar>
            </div>

            <br/><br/>

            output:
            <h:outputText id="output" value="#{richCalendarBean.value}">
                <f:convertDateTime pattern="MMM d, yyyy"
                                   timeZone="#{richCalendarBean.timeZone}"/>
            </h:outputText>

        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <ui:include src="resizedTemplatesStyles.xhtml"/>
        </ui:define>

    </ui:composition>
</html>