<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:metamer="http://java.sun.com/jsf/composite/metamer" xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j" xmlns:h="http://java.sun.com/jsf/html">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
.yellowDay {
    background: yellow !important;
}

.aquaDay {
    background: aqua !important;
}
</style>

        <script type="text/javascript">
                function yellowTuesdays(day) {
                    if (day.date.getDay() == 2) {
                        return 'yellowDay';
                    }
                    return false;
                }

                function aquaWeekends(day) {
                    if (day.isWeekend) {
                        return 'aquaDay';
                    }
                    return false;
                }

                function disableTuesdays(day) {
                    if (day.date.getDay() == 2) {
                        return false;
                    }
                    return true;
                }

                function disableWeekends(day) {
                    if (day.isWeekend) {
                        return false;
                    }
                    return true;
                }

                testedComponentId = "#{rich:clientId('calendar')}";
            </script>
    </ui:define>

    <ui:define name="component">
        <h:panelGrid columnClasses="label,component,required" columns="3">
            <h:outputLabel for="startTimeOverride" value="Start Time Override:" />

            <rich:calendar value="#{richCalendarBean.value}" id="startTimeOverride" popup="true"
                datePattern="dd/M/yy hh:mm a" required="true" showApplyButton="true">
                <f:validateRequired />
                <f:ajax event="change" bypassUpdates="true" />
            </rich:calendar>

            <rich:message for="startTimeOverride" ajaxRendered="true" />

            <h:outputLabel for="endTimeOverride" value="End Time Override:" />

            <rich:calendar value="#{richCalendarBean.value2}" id="endTimeOverride" popup="true"
                datePattern="dd/M/yy hh:mm a" showApplyButton="true">
                <f:validateRequired />
                <f:validator validatorId="org.richfaces.DateRangeValidator" />
                <rich:validator />
                <a4j:ajax event="change" bypassUpdates="true" />
            </rich:calendar>

            <rich:message for="endTimeOverride" ajaxRendered="true" />
        </h:panelGrid>


        <div class="buttons">
            <a4j:commandButton value="Complete" execute="@form" />
        </div>
    </ui:define>

    <ui:define name="outOfTemplateAfter">
    </ui:define>

</ui:composition>
</html>