<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" 
      xmlns:h="http://java.sun.com/jsf/html">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="component">
            <div style="padding: 250px">
                <rich:calendar id="calendar"
                               popup="true"
                               datePattern="#{richCalendarBean.attributes['datePattern'].value}"
                               timeZone="#{richCalendarBean.tz}"
                               value="#{richCalendarBean.value}">
                    <a4j:ajax event="change" render="outputPanel, phasesPanel" />
                </rich:calendar>
                <rich:message id="msg" for="calendar"/>
            </div>

            <br/><br/>
            <h:commandButton id="hButton" value="h:commandButton" style="margin-right: 10px;"/>
            <a4j:commandButton id="a4jButton" value="a4j:commandButton"/>
            <br/><br/>

            <a4j:outputPanel id="outputPanel" ajaxRendered="true">
                TimeZone input:
                <h:inputText onchange="submit()" id="timeZoneInput" value="#{richCalendarBean.tz}" >
                    <f:converter converterId="timeZoneConverter"/>
                </h:inputText>
                <br/>
                <br/>
                Date pattern:
                <h:inputText id="datePatternInput" onchange="submit()" value="#{richCalendarBean.attributes['datePattern'].value}">
                </h:inputText>
            </a4j:outputPanel>
        </ui:define>

        <ui:define name="outOfTemplateAfter">         
            <ui:include src="resizedTemplatesStyles.xhtml"/>
        </ui:define>
    </ui:composition>
</html>