<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:rich="http://richfaces.org/rich" 
      xmlns:validationMessages="http://java.sun.com/jsf/composite/validationMessages">

    <!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but inAtt ANY WARRANTY; inAtt even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along inBean this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/abstractions/validationMessagesTemplate.xhtml">
        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>

        <ui:define name="getValuesFunctions">
            <h:inputHidden id="past" value="#{validationMessagesBean.pastDate}">
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </h:inputHidden>
            <h:inputHidden id="future" value="#{validationMessagesBean.futureDate}">
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </h:inputHidden>
            <validationMessages:valuesFunctions bad="$('[id$=future]').val();" good="$('[id$=past]').val();"/>
        </ui:define>

        <ui:define name="locatorFunction">
            <validationMessages:locatorFunction className="rf-cal"/>
        </ui:define> 

        <ui:define name="valueDescription">
            <h:outputText value="#{validationMessagesBean.dateInputDescription}" />
        </ui:define>

        <ui:define name="jsr-303-inBean">
            <rich:calendar id="jsr-303-inBean" value="#{validationMessagesBean.dateWithMessagesJSR}">
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define>      

        <ui:define name="jsr-303-inAtt">
            <rich:calendar id="jsr-303-inAtt" value="#{validationMessagesBean.dateWithoutMessagesJSR}"
                           validatorMessage="Custom validator error message from attribute of component."
                           >
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define> 

        <ui:define name="jsr-303-inBundle">
            <rich:calendar id="jsr-303-inBundle" value="#{validationMessagesBean.dateWithoutMessages2JSR}" >
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define>  

        <ui:define name="csv-inBean">
            <rich:calendar id="csv-inBean" value="#{validationMessagesBean.dateWithMessagesCSV}" >
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define>  

        <ui:define name="csv-inAtt">
            <rich:calendar id="csv-inAtt" value="#{validationMessagesBean.dateWithoutMessagesCSV}" 
                           validatorMessage="Custom validator error message from attribute of component.">
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define>  

        <ui:define name="csv-inBundle">
            <rich:calendar id="csv-inBundle" value="#{validationMessagesBean.dateWithoutMessages2CSV}">
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define>  

        <ui:define name="jsf-inAtt">
            <ui:remove>
                <!-- validator can be set by f:validator but it needs a record in faces-config.xml -->
            </ui:remove>
            <rich:calendar validator="#{validationMessagesBean.validate}" id="jsf-inAtt" value="#{validationMessagesBean.dateJSF}" 
                           validatorMessage="Custom validator error message from attribute of component.">
                <f:convertDateTime pattern="MMM d, yyyy"/>
            </rich:calendar>
        </ui:define>  

        <ui:define name="jsf-inBundle">
            <h:outputText id="jsf-inBundle" value="No need for this, because we are using own validator with own message."/>
        </ui:define>   

        <ui:define name="outOfTemplateAfter">         
            <ui:include src="resizedTemplatesStyles.xhtml"/>
        </ui:define>
    </ui:composition>
</html>
