<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
      xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

    <!--
    JBoss, Home of Professional Open Source
    Copyright 2010-2015, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="view">
            <f:metadata>
                <f:viewParam name="templates" value="#{templateBean.templates}">
                    <f:converter converterId="templatesListConverter" />
                </f:viewParam>
            </f:metadata>
        </ui:define>
        <ui:define name="component">
            <ui:include src="/components/richChart/script.xhtml"/>

            <rich:chart id="chart" 
                        title="#{chartBean.attributes['title'].value}"
                        styleClass="#{chartBean.attributes['styleClass'].value}"
                        onplotclick="#{chartBean.attributes['onplotclick'].value}" 
                        onplothover="#{chartBean.attributes['onplothover'].value}"
                        onmouseout="#{chartBean.attributes['onmouseout'].value}"
                        plotClickListener="#{chartBean.handler}"
                        zoom="#{chartBean.attributes['zoom'].value}"
                        rendered="#{chartBean.attributes['rendered'].value}">
                <a4j:repeat value="#{chartBean.countries}" var="country">
                    <rich:chartSeries label="#{country.name}" type="line">
                        <a4j:repeat value="#{country.data}" var="record">
                            <rich:chartPoint x="#{record.year}" y="#{record.tons}" />
                        </a4j:repeat>
                    </rich:chartSeries>
                </a4j:repeat>
                <a4j:ajax event="plotclick" render="msg" execute="msg" />
                <rich:chartXAxis label="year" />
                <rich:chartYAxis label="metric tons of CO2 per capital" />
            </rich:chart>
            Server side events:
            <ul>
                <li><h:outputText id="msg" value="#{chartBean.msg}"/> (on click)</li>
            </ul>
            Client side events:
            <ul>
                <li><span id='hoverInfo'/> (on hover)</li>
                <li><span id='clickInfo'/> (on click)</li>
            </ul>
        </ui:define>

        <ui:define name="outOfTemplateAfter">
            <metamer:attributes value="#{chartBean.attributes}" id="attributes" />
        </ui:define>

    </ui:composition>
</html>