<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/list.xhtml">

    <ui:define name="pageTitle">Rich Autocomplete</ui:define>

    <ui:define name="links">

        <metamer:testPageLink id="autocomplete" outcome="autocomplete" value="Simple">
                Simple page that contains <b>r:autocomplete</b> (with model containing capitals) and
                input boxes for all its attributes. Autocomplete sends its value to the server on change event.
            </metamer:testPageLink>

        <metamer:testPageLink id="ajaxOnSelectitem" outcome="ajaxOnSelectitem" value="Select item event">
                Simple page that contains <b>r:autocomplete</b> (with model containing capitals) and
                input boxes for all its attributes. Autocomplete sends its value to the server on selectitem event.
            </metamer:testPageLink>

        <metamer:testPageLink id="fetchValueAttr" outcome="fetchValueAttr" value="Formatted suggestions">
                Simple page that contains <b>r:autocomplete</b> with example of use @fetchValue (suggestions formatting)
            </metamer:testPageLink>

        <metamer:testPageLink id="jsr303" outcome="jsr303" value="JSR-303 Bean Validation">
                Simple page that contains some <b>r:autocomplete</b>s with various JSR-303 validators.
            </metamer:testPageLink>

        <metamer:testPageLink id="csv" outcome="csv" value="Client Side Validation">
                Simple page that contains some <b>r:autocomplete</b>s testing client-side validation..
            </metamer:testPageLink>

        <metamer:testPageLink id="filtering" outcome="filtering" value="Filtering">
                Simple page that contains <b>r:autocomplete</b> with filtering functions.
            </metamer:testPageLink>

        <metamer:testPageLink id="rf-11902-1" outcome="rf-11902-1" value="rf-11902 [1]">
                Simple page that contains <b>r:autocomplete</b> with global queue <i>without name</i>. 
                <a href="https://issues.jboss.org/browse/RF-11902">RF-11902</a>
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-11902-2" outcome="rf-11902-2" value="rf-11902 [2]">
                Simple page that contains <b>r:autocomplete</b> with global queue <i>with name</i>.
                <a href="https://issues.jboss.org/browse/RF-11902">RF-11902</a>
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-11902-3" outcome="rf-11902-3" value="rf-11902 [3]">
                Simple page that contains <b>r:autocomplete</b> with <i>attached</i> queue with name.
                <a href="https://issues.jboss.org/browse/RF-11902">RF-11902</a>
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-12114" outcome="rf-12114" value="rf-12114">
                Simple page testing <b>r:autocomplete</b>'s attribute onblur.
                <a href="https://issues.jboss.org/browse/RF-12114">RF-12158</a>
        </metamer:testPageLink>

        <metamer:testPageLink id="rf-12158" outcome="rf-12158" value="rf-12158">
                Simple page that contains <b>r:autocomplete</b> componentes with <i>different</i> attributes values controlling render others components.
                <a href="https://issues.jboss.org/browse/RF-12158">RF-12158</a>
        </metamer:testPageLink>

        <metamer:testPageLink id="validationMessages" outcome="validationMessages" value="Validation messages">
                Page for testing of validation messages.
            </metamer:testPageLink>

        <metamer:testPageLink id="wfk2-744" outcome="wfk2-744" value="wfk2-744">
                Simple page with one autocomplete input, one command button and one command link. This is reproducer for 
                <a href="https://issues.jboss.org/browse/wfk2-744">wfk2-744</a>
        </metamer:testPageLink>
    </ui:define>

</ui:composition>

</html>
