<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:metamer="http://java.sun.com/jsf/composite/metamer">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="view">
        <f:metadata>
            <f:viewParam name="templates" value="#{templateBean.templates}">
                <f:converter converterId="templatesListConverter" />
            </f:viewParam>
        </f:metadata>
    </ui:define>

    <ui:define name="component">
        <p>The first example didn't invoke a listener in RichFaces 4.2.2.Final. The second example always invokes listener.</p>

        <h:panelGrid id="examples" columns="2">
        rich:autocomplete + a4j:ajax event="blur"
        <rich:autocomplete id="autocompleteNomeId" value="#{richAutocompleteBean.value1}" required="true"
                autocompleteMethod="#{richAutocompleteBean.autocomplete}" var="result" fetchValue="#{result}" requestDelay="100"
                showButton="true">
                <a4j:ajax event="blur" listener="#{richAutocompleteBean.onblurListener1}" render="out1" />

                <h:column>
                    <h:outputText value="#{result}" />
                </h:column>

            </rich:autocomplete>

            result <h:outputText value="#{richAutocompleteBean.value1}" id="out1" />
            
            rich:autocomplete onblur + jsFunction
        
            <rich:autocomplete id="autocompleteJSId" value="#{richAutocompleteBean.value4}" required="true"
                autocompleteMethod="#{richAutocompleteBean.autocomplete}" var="result" fetchValue="#{result}" requestDelay="100"
                showButton="true" onblur="blurFunction();">

                <h:column>
                    <h:outputText value="#{result}" />
                </h:column>

            </rich:autocomplete>
               
               result
                <h:outputText value="#{richAutocompleteBean.value4}" id="out2" />

        </h:panelGrid>

        <a4j:jsFunction name="blurFunction" actionListener="#{richAutocompleteBean.onblurListener2}" render="out2"
            execute="autocompleteJSId" />
    </ui:define>

</ui:composition>
</html>