<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:metamer="http://java.sun.com/jsf/composite/metamer"
    xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">

<!--
JBoss, Home of Professional Open Source
Copyright 2010-2015, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.

This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.

This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
    -->

<ui:composition template="/templates/template.xhtml">

    <ui:define name="component">

        <p>
            <a href="https://issues.jboss.org/browse/wfk2-744">WFK2-744</a> <br /> Issue summary: When autocomplete has
            required=true then required value is not validate if inside autocomplete is placeholder component and form is send
            by commandlink component<br /> <br />
            <ul>
                <li>Leave autocomplete blank.</li>
                <li>Click on commnad link with name LINK</li>
                <li>Validation message should be shown, but it doesn't</li>
                <li>Click on command button name BUTTON</li>
                <li>Validation message is shown</li>
            </ul>
        </p>
        <rich:autocomplete id="autocomplete" mode="client" autocompleteList="#{wfk2744.names}" value="#{wfk2744.name}"
            required="true">
            <rich:placeholder id="placeHolder" value="Placeholder" />
        </rich:autocomplete>
        <br />
        <br />
        <h:commandButton value="BUTTON" />
        <h:commandLink value="LINK" />
    </ui:define>

</ui:composition>
</html>